<template>
    <span>
        <!-- GLOBAL ALARMS -->
        <section class="wrapper">
            <h2 class="title decor-line main-font">PROGI GLOBALNE</h2>
            <p class="textbox text-font">
                W poniższej sekcji możesz podejrzeć aktualnie ustawione progi globalne które dotyczą wszystkich aktywnych stanowisk pomiarowych.
                <!-- INFO FOR USER -->
                <span class="user" v-show="$session.get('role') == 'user'">
                    Aby zmienić progi globalne, skontaktuj się z jednym z <span class="decor">administratorów</span>.
                    Listę aktualnych administratorów znajdziesz 
                    w <span class="decor text-up">USTAWIENIA KONTA</span>.
                </span>
                <!-- INFO FOR ADMIN -->
                <span class="admin" v-show="$session.get('role') != 'user'">
                    Aby zmienić progi globalne, przejdź do ustawień w <span class="decor text-up">PANEL ADMINISTRACYJNY</span>.
                </span>
            </p>
            <div class="alarms">
                <div class="val-box" 
                    v-for="limit in globalLimits" 
                    :key="limit.id">
                    <h3 class="main-font" v-if="limit.value == 'temp'">
                        <i class="fas fa-thermometer-half"></i>
                        Temperatura
                        <i class="fas fa-chevron-down"></i>
                        <i class="fas fa-chevron-up d-none"></i>
                    </h3>
                    <h3 class="main-font" v-else-if="limit.value == 'press'">
                        <i class="fas fa-compress-arrows-alt"></i>
                        Ciśnienie
                        <i class="fas fa-chevron-down"></i>
                        <i class="fas fa-chevron-up d-none"></i>
                    </h3>
                    <h3 class="main-font" v-else-if="limit.value == 'humi'">
                        <i class="fas fa-tint"></i>
                        Wilgotność
                        <i class="fas fa-chevron-down"></i>
                        <i class="fas fa-chevron-up d-none"></i>
                    </h3>
                    <div class="thresholds-box text-font">
                        <div>
                            <p>Wartość min:</p>
                            <span class="row">
                                <i class="fas fa-long-arrow-alt-down"></i>
                                <input type="number" placeholder="Brak wart." :value="limit.min" disabled >
                            </span>
                        </div>
                        <div>
                            <p>Wartość max:</p>
                            <span class="row">
                                <i class="fas fa-long-arrow-alt-up"></i>
                                <input type="number" placeholder="Brak wart." :value="limit.max" disabled>
                            </span>
                        </div>
                        <div>
                            <p>Status progu:</p>
                            <div class="onoffswitch">
                                <input type="checkbox" name="onoffswitch" :id="limit.value+'-switch'" class="onoffswitch-checkbox" tabindex="0" :checked="(limit.status == 'on')" disabled>
                                <label class="onoffswitch-label" :for="limit.value+'-switch'">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END GLOBAL ALARMS -->
        <!-- STATIONS ALARMS -->
        <span class="mobile-hide">
            <h2 class="title decor-line main-font">PROGI SZCZEGÓLNE</h2>
            <p class="textbox text-font">
                W poniższej sekcji możesz podejrzeć aktualnie ustawione progi szczególne dotyczące poszczególnego stanowiska pomiarowego.
                <!-- INFO FOR USER -->
                <span class="user" v-show="$session.get('role') == 'user'">
                    Aby zmienić progi alarmowe danej stacji, skontaktuj się z jednym z <span class="decor">administratorów</span>.
                    Listę aktualnych administratorów <span class="decor text-up company-name">NAZWA OBIEKTU KLIENTA</span> znajdziesz 
                    w <span class="decor text-up">USTAWIENIA KONTA</span>.
                </span>
                <!-- INFO FOR ADMIN -->
                <span class="admin" v-show="$session.get('role') != 'user'">
                    Aby zmienić progi globalne, przejdź do ustawień w <span class="decor text-up">PANEL ADMINISTRACYJNY</span>.
                </span>
            </p>
            <section class="wrapper">
                <div class="data-list scroll" v-if="stations != null && stations.length > 0">
                    <div class="head main-font">
                        <div class="row">
                            <div class="cell">Lp</div>
                            <div class="cell">Nazwa stanowiska</div>
                            <div class="cell">Czujniki</div>
                        </div>
                    </div>
                    <div class="body">
                        <div class="row text-font" 
                            v-for="(station, stationIndex) in stations" 
                            :key="++stationIndex">
                            <div class="cell">{{ stationIndex }}</div>
                            <div class="cell">{{ station.station.name }}</div>
                            <div class="cell">
                                <div class="data-list" >
                                    <div class="head main-font">
                                        <div class="row">
                                            <div class="cell">Nazwa</div>
                                            <div class="cell">Lokalizacja</div>
                                            <div class="cell">Wartość</div>
                                        </div>
                                    </div>
                                    <div class="body">
                                        <div class="row text-font" 
                                            v-for="sensor in station.sensors" 
                                            :key="sensor.id">
                                            <div class="cell" v-if="sensor.name != null && sensor.name.length > 0">{{ sensor.name }}</div>
                                            <div class="cell" v-else>Czujnik nr. {{ sensor.mainSensorsNumber }}</div>
                                            <div class="cell" v-if="sensor.location != null && sensor.location.length > 0">{{ sensor.location }}</div>
                                            <div class="cell" v-else-if="sensor.mainSensorLocation != null && sensor.mainSensorLocation.length > 0">{{ sensor.mainSensorLocation }}</div>
                                            <div class="cell" v-else>-</div>
                                            <div class="cell">
                                                <div class="data-list">
                                                    <div class="head main-font">
                                                        <div class="row">
                                                            <div class="cell">Nazwa</div>
                                                            <div class="cell">Min</div>
                                                            <div class="cell">Max</div>
                                                            <div class="cell">Status</div>
                                                        </div>
                                                    </div>
                                                    <div class="body">
                                                        <div class="row text-font" 
                                                            v-for="val in JSON.parse(sensor.showing_values)" 
                                                            :key="val.id" v-if="val == 'temp'">
                                                            <div class="cell"><i aria-hidden="true" class="fas fa-thermometer-half temp"></i></div>
                                                            <div class="cell" v-if="sensor.tempMin != null">{{ sensor.tempMin }}</div>
                                                            <div class="cell" v-else>-</div>
                                                            <div class="cell" v-if="sensor.tempMax != null">{{ sensor.tempMax }}</div>
                                                            <div class="cell" v-else>-</div>
                                                            <div class="cell">
                                                                <div class="onoffswitch">
                                                                    <input type="checkbox" name="onoffswitch" id="temp-switch" class="onoffswitch-checkbox" tabindex="0" :checked="(sensor.tempStatus == 'on')">
                                                                    <label class="onoffswitch-label" for="temp-switch">
                                                                        <span class="onoffswitch-inner"></span>
                                                                        <span class="onoffswitch-switch"></span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row text-font" 
                                                            v-for="val in JSON.parse(sensor.showing_values)" 
                                                            :key="val.id" v-if="val == 'humi'">
                                                            <div class="cell"><i aria-hidden="true" class="fas fa-tint humi"></i></div>
                                                            <div class="cell" v-if="sensor.humiMin != null">{{ sensor.humiMin }}</div>
                                                            <div class="cell" v-else>-</div>
                                                            <div class="cell" v-if="sensor.humiMax != null">{{ sensor.humiMax }}</div>
                                                            <div class="cell" v-else>-</div>
                                                            <div class="cell">
                                                                <div class="onoffswitch">
                                                                    <input type="checkbox" name="onoffswitch" id="temp-switch" class="onoffswitch-checkbox" tabindex="0" :checked="(sensor.humiStatus == 'on')">
                                                                    <label class="onoffswitch-label" for="temp-switch">
                                                                        <span class="onoffswitch-inner"></span>
                                                                        <span class="onoffswitch-switch"></span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row text-font" 
                                                            v-for="val in JSON.parse(sensor.showing_values)" 
                                                            :key="val.id" v-if="val == 'press'">
                                                            <div class="cell"><i aria-hidden="true" class="fas fa-compress-arrows-alt press"></i></div>
                                                            <div class="cell" v-if="sensor.pressMin != null">{{ sensor.pressMin }}</div>
                                                            <div class="cell" v-else>-</div>
                                                            <div class="cell" v-if="sensor.pressMax != null">{{ sensor.pressMax }}</div>
                                                            <div class="cell" v-else>-</div>
                                                            <div class="cell">
                                                                <div class="onoffswitch">
                                                                    <input type="checkbox" name="onoffswitch" id="temp-switch" class="onoffswitch-checkbox" tabindex="0" :checked="(sensor.pressStatus == 'on')">
                                                                    <label class="onoffswitch-label" for="temp-switch">
                                                                        <span class="onoffswitch-inner"></span>
                                                                        <span class="onoffswitch-switch"></span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p v-else class="empty-data">Brak danych do wyświetlenia</p>
            </section>
        </span>
    </span>
</template>

<script>

export default {
    name: 'alarms',
    props: {
        'data': Object
    },
    mounted() {
    },
    data() {
        return {
            globalLimits:   this.data.globalLimits.data.globalLimits,
            stations:       this.data.stations,
        }
    }
}
</script>

<style scoped>
.data-list {
    width: 80% !important;
}
.onoffswitch-label {
    cursor: context-menu !important;
}
.station-alarm-status {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.station-alarm-status p {
    padding-right: 1rem;
}
.station-alarm-status .onoffswitch-inner:after {
    content: "NIE";
}
.station-alarm-status .onoffswitch-inner:before {
    content: "TAK";
}
.wrapper p {
    text-align: center;
}
/* GLOBAL ALARMS SECTION */
.alarms {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}
.alarms .val-box {
    width: 32%;
    border: 1px solid var(--mainGrey);
    padding: 12px 0;
    border-radius: 5px;
    max-width: 18rem;
    margin: 5px;
}
.alarms .val-box h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    border-bottom: 1px solid var(--decor);
    padding: 3px 0;
}
.alarms .val-box h3 i[class*="-chevron-"] {
    display: none;
}
.alarms .val-box h3 i:not([class*="-chevron-"]) {
    margin-right: 0.5rem;
}
.thresholds-box {
    font-size: 0.85rem;
}
.thresholds-box div:not([class]) {
    display: flex;
    margin: 8px auto;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    white-space: nowrap;
}
.thresholds-box div p {
    margin: 0;
}
.thresholds-box span.row i {
    padding: 0 3px;
}
.thresholds-box span.row i[class*="-up"] {
    color: var(--red);
}
.thresholds-box span.row i[class*="-down"] {
    color: var(--blue);
}
/* END GLOBAL ALARMS SECTION */
/* STATIONS ALARMS SECTION */
.alarms .wrapper h4 {
    width: 100%;
    margin: 2rem auto 1rem auto;
    text-align: center;
}
/* END STATIONS ALARMS SECTION */

/* ICONS */
i:after {
    position: absolute;
    background-color: var(--mainGrey);
    display: block;
    z-index: 7777;
    font-family: var(--secondFont);
    color: var(--white);
    font-size: 12px;
    padding: 4px 8px;
    letter-spacing: .5px;
    border-radius: 8px;
    text-align: center;
    border: 2px solid var(--secondGrey);
    top: -12px;
    left: 0;
    right: 0;
    min-width: 128%;
}
i.temp:hover:after {
    content: 'Temperatura';
}
i.humi:hover:after {
    content: 'Wilgotność';
}
i.press:hover:after {
    content: 'Ciśnienie';
}
/* END ICONS */

/* RWD */
@media (max-width: 1167px) {
    .alarms .val-box {
    width: 90%;
    }
}
@media (max-width: 850px) {
    .mobile-hide {
        display:none;
    }
}
@media (max-width: 800px) {
    .station-alarm-status {
        display: block;
    }
    .station-alarm-status p {
        padding: 0;
    }
    .station-alarm-status .onoffswitch {
        margin: 0 auto;
    }
}
@media (max-width: 520px) {
   .thresholds-box {
        display: none;
        font-size: calc(0.75rem + 0.2vw);
    }
     .alarms .val-box h3 {
        font-size: 1rem;
        padding: 0;
        border: none;
    }
    .alarms .val-box h3 i[class*="-chevron-"] {
        display: block;
        margin-left: 8px;
        position: relative;
        color: var(--decor);
        top: 0;
        animation: section-arrow .6s infinite alternate;
    }
    .alarms .station h3 {
        font-size: 0.85rem;
    }
}
</style>