<template>
    <span>
        <h2 class="title decor-line main-font">DANE OSOBOWE</h2>
        <p class="textbox text-font">
            W poniższej sekcji możesz edytować swoje dane osobiste.
            <span v-if="$session.get('role') != 'user'">
                Aby zmienić adres e-mail lub typ konta, przejdź do ustawień użytkownika w <span class="decor text-up">PANELU ADMINISTRACYJNYM</span>.
            </span>
            <span v-else>
                Aby zmienić adres e-mail lub typ konta, skontaktuj się z jednym z <span class="decor">administratorów</span>.
                Listę aktualnych administratorów obiektu <span class="decor text-up company-name">{{ $root.$options.config.name }}</span> znajdziesz 
                poniżej.
            </span>
        </p>
        <!-- USER DATA BOX -->
        <section class="wrapper">
            <form method="POST" action="/settings/changeUserData" class="settings">
                <input type="hidden" name="_token" v-model="$root.$options.config.token">
                <div>
                    <label class="main-font">E-mail:</label>
                    <span>
                        <i class="fas fa-envelope"></i>
                        <input type="text" name="email" :value="user.username" readonly>
                    </span>
                </div>
                <div>
                    <label class="main-font">Imię:</label>
                    <span>
                        <i class="fas fa-user"></i>
                        <input type="text" name="name" placeholder="podaj swoje imię" :value="user.name">
                    </span>
                </div>
                <div>
                    <label class="main-font">Nazwisko:</label>
                    <span>
                        <i class="fas fa-user"></i>
                        <input type="text" name="surname" placeholder="podaj swoje nazwisko" :value="user.surname">
                    </span>
                </div>
                <div>
                    <label class="main-font">Numer kontaktowy:</label>
                    <span>
                        <i class="fas fa-phone-alt"></i>
                        <input type="text" name="phone" placeholder="podaj swój numer tel." :value="user.phone_number">
                    </span>
                </div>
                <div>
                    <label class="main-font">Typ konta:</label>
                    <span>
                        <i class="fas fa-star-half-alt"></i>
                        <select name="type" disabled> 
                            <option value="user" v-if="(user.user_type == 'user')">Użytkownik</option>
                            <option value="admin" v-else-if="(user.user_type == 'admin')">Administrator</option>
                            <option value="dev" v-else-if="(user.user_type == 'dev')">Deweloper</option>
                        </select> 
                    </span>
                </div>
                <input class="btn default-btn m-btn" type="submit" value="zapisz dane">
            </form>
        </section>
        <!-- END USER DATA BOX -->
        <!-- USER'S ACCOUNT DATA BOX -->
        <h2 class="title decor-line main-font">ZMIANA HASŁA</h2>
        <p class="textbox text-font">
            W poniższej sekcji możesz edytować swoje hasło do serwisu. Hasło <span class="decor">musi być dłuższe niż 8 znaków i 
            zawierać przynajmniej jedną cyfrę i dużą literę</span>. Po prawidłowej zmianie hasła, użytkownik zostanie wylogowany, a nowe hasło zacznie obowiązywać.
            <span v-if="$session.get('role') != 'user'">
                Aby zmienić hasła innych użytkowników, przejdź do ustawień w <span class="decor text-up">PANEL ADMINISTRACYJNY</span>.
            </span>
        </p>
        <section class="wrapper">
            <form method="POST" action="/settings/changePassword" class="settings">
                <input type="hidden" name="_token" v-model="$root.$options.config.token">
                <div>
                    <label class="main-font">Nowe hasło:</label>
                    <span>
                        <i class="fas fa-user-lock"></i>
                        <input type="password" name="new-pass" placeholder="min. 8 znaków" autocomplete="off">
                    </span>
                </div>
                <div class>
                    <label class="main-font">Powtórz nowe hasło:</label>
                    <span>
                        <i class="fas fa-user-lock"></i>
                        <input type="password" name="r-new-pass" placeholder="hasła muszą być zgodne" autocomplete="off">
                    </span>
                </div>
                <div>
                    <label class="main-font">Hasło dotychczasowe:</label>
                    <span>
                        <i class="fas fa-key"></i>
                        <input type="password" name="password" placeholder="podaj aktualne hasło" autocomplete="off">
                    </span>
                </div>
                <input class="btn default-btn m-btn" type="submit" value="ZMIEŃ HASŁO">
            </form>
        </section>
        <!-- END USER'S ACCOUNT DATA BOX -->
        <!-- LIST OF ADMINS -->
        <h2 class="title decor-line main-font">LISTA ADMINISTRATORÓW</h2>
        <p class="textbox text-font">
            Aktualna lista wszystkich administratorów. Aby skontaktować się z wybranym administratorem, 
            kliknij na ikonę w kolumnie <span class="decor text-up">akcja</span>.
            <span v-if="$session.get('role') != 'user'">
                Aby zmienić typ konta na administratora, przejdź do ustawień w <span class="decor text-up">PANEL ADMINISTRACYJNY</span>.
            </span>
        </p>
        <section class="wrapper" v-if="showTable">
            <div class="data-list">
                <div class="head main-font">
                    <div class="row">
                        <div class="cell">Lp</div>
                        <div class="cell">Imię i nazwisko</div>
                        <div class="cell m-none">Numer kontaktowy</div>
                        <div class="cell m-none">Adres e-mail</div>
                        <div class="cell">Akcja</div>
                    </div>
                </div>
                <div class="body">
                    <div class="row text-font" v-for="(admin, index) in list" :key="++index" v-if="admin.user_type == 'admin'">
                        <div class="cell">{{ index }}</div>
                        <div class="cell">{{ admin.name }} {{ admin.surname }}</div>
                        <div class="cell m-none">{{ admin.phone_number }}</div>
                        <div class="cell m-none">{{ admin.username }}</div>
                        <div class="cell actions">
                            <a :href="'tel:'+ admin.phone_number"><i class="fas fa-phone-alt call"></i></a>
                            <a :href="'mailto:'+ admin.username"><i class="fas fa-envelope send-mail"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section v-else>
            <p class="empty-data">Brak danych do wyświetlenia</p>
        </section>
    </span>
</template>

<script>

export default {
    name: 'settings',
    props: {
        'data': Object
    },
    created() {
        this.showTable = this.checkAdmins(this.list)
    },
    data() {
        return {
            user: this.data.user,
            list: this.data.admins.users,
            showTable: false
        }
    },
    methods: {
        checkAdmins(users) {
            for (let i = 0; i < users.length; ++i) {
                if (users[i].user_type == 'admin') {
                    return true;
                } 
            }
            return false;
        }
    }
}
</script>

<style scoped>
.data-list .cell.actions a {
    transition: .3s;
    cursor: pointer;
    font-size: 16px;
    margin: 0 6px;
    position: relative;
    color: var(--decor);
}
.data-list .cell.actions a:hover i {
    transform: scale(1.1);
}
.data-list .cell.actions i.call:hover::after {
    content: 'Zadzwoń';
}
.data-list .cell.actions i.call::after {
    position: absolute;
    background-color: var(--mainGrey);
    display: block;
    top: -24px;
    z-index: 7777;
    left: -70px;
    font-family: var(--secondFont);
    color: var(--white);
    font-size: 12px;
    padding: 4px 8px;
    letter-spacing: .5px;
    border-radius: 8px 8px 0 8px;
    text-align: center;
    border: 2px solid var(--secondGrey);
}
.data-list .cell.actions i.send-mail::after {
    position: absolute;
    background-color: var(--mainGrey);
    display: block;
    top: -26px;
    z-index: 7777;
    left: 21px;
    font-family: var(--secondFont);
    color: var(--white);
    font-size: 12px;
    padding: 4px 8px;
    letter-spacing: .5px;
    border-radius: 8px 8px 8px 0;
    text-align: center;
    border: 2px solid var(--secondGrey);
}
.data-list .cell.actions i.send-mail:hover::after {
    content: 'Wyślij wiadomość';
}
/* SETTINGS */
form.settings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 35%;
    margin: 2rem auto;
    min-width: 400px;
}
form.settings div {
    width: 100%;
    margin: 3px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
form.settings span i {
    color: var(--decor);
    padding-right: 6px;
}
form.settings input[type="submit"] {
    margin: 2rem auto 0 auto;
}
/* END SETTINGS */

/* RWD */
@media (max-width: 1120px) {
    .settings .main-font,
    .list .main-font {
        font-size: calc(0.75rem + 0.25vw) !important;
    }
    .list .text-font {
        font-size: calc(0.45rem + 0.5vw) !important;
    }
}
@media (max-width: 790px) {
    .settings .main-font,
    .list .main-font {
        font-size: calc(0.85rem + 0.25vw) !important;
    }
    .list .text-font {
        font-size: calc(0.65rem + 0.25vw) !important;
    }
}
@media (max-width: 600px) {
    form.settings input[type="text"], form.settings select {
        padding: 3px 0;
        min-width: 7rem;
    }
    section.wrapper form div:not([class]) {
        width: unset;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .settings .main-font, 
    .list .main-font {
        width: 100%;
        margin: 6px auto;
    }
}
@media (max-width: 500px) {
    form.settings {
        width: 100%;
        margin: 1rem auto;
        min-width: unset;
        display: block;
    }
    form.settings div {
        width: 100%;
        display: block;
    }
    form.settings div > * {
        display: block;
        text-align: center;
    }
    form.settings div label {
        margin: 3px auto;
        text-align: center;
        text-indent: 22px;
    }
    form.settings input[type="submit"] {
        display: block;
    }
}
</style>
