<template>
<div class="stations-row" v-if="stations != null && stations.length > 0">
    <modal :buttons="button" :content="modalContent" v-if="showModal" @detectReponse="setResponse"></modal>
    <!-- STATION BOX -->
    <div class="station-box" v-for="station in stations" :key="station.id">
        <!-- STATUS STACJI WIDOCZNY DLA ADMINA -->
        <p class="station-status admin-infobox" v-show="$session.get('role') != 'user'">STACJA JEST: 
            <span class="status warning success" v-if="station.visibility == 'on'">WIDOCZNA</span>
            <span class="status warning error" v-else>NIEWIDOCZNA</span>
        </p>
        <h2 class="name decor-line">
            {{ station.name }}
            <i @click="changeStationBox($event.target, 'show')" class="fas fa-chevron-down arrow-down"></i>
            <i @click="changeStationBox($event.target, 'hide')" class="fas fa-chevron-up d-none arrow-up"></i>
        </h2>
        <p class="location-box" 
        v-if="station.location != null && station.location.length > 0"
        >lokalizacja stacji: <span class="location decor">{{ station.location }}</span></p>
        <!-- SENSORS ROW -->
        <p class="timebox-title">Pomiar z dnia:</p>
        <div class="sensors-row">
            <!-- SENSOR BOX -->
            <!-- PRZYKŁAD BRAKU DANYCH -->
            <div class="sensor-wrapper" v-for="sensor in station.sensors" :key="sensor.id">
                <p class="timebox-info" v-if="sensor.settings.length > 0" :class="{'error-text-alert': dateCorrect(sensor.settings[0].date)}">
                    <span class="date">{{ Date.parse(sensor.settings[0].date).toString('dd/MM/yyyy') }}</span>
                    <br>
                    godz.: <span class="time">{{ Date.parse(sensor.settings[0].date).toString('HH:mm') }}</span></p>
                <p class="timebox-info" v-else>BRAK<br>DANYCH</p>
                <div class="sensor-box">
                    <!-- STATUS CZUJNIKA WIDOCZNY DLA ADMINA -->
                    <p class="sensor-status admin-infobox" v-show="$session.get('role') != 'user'">CZUJNIK JEST: 
                        <span class="status warning success" v-if="sensor.visibility == 'on'">WIDOCZNY</span>
                        <span class="status warning error" v-else-if="sensor.visibility == 'off'">NIEWIDOCZNY</span>
                    </p>
                    <!-- -->
                    <h4 class="name">{{ setSensorName(sensor) }}</h4>
                    <p class="location decor">{{ setSensorLocation(sensor) }}</p>
                    <div class="values" v-if="sensor.settings != null && sensor.settings.length > 0">
                        <div class="value" 
                        :class="{
                            'min-alert':  checkLimits(sensor, 'temp', 'min'),
                            'max-alert':  checkLimits(sensor, 'temp', 'max')
                        }" 
                        v-if="JSON.parse(sensor.showing_values).includes('temp') &&
                            (parseInt(sensor.settings[0]['temp']) != -8888 && parseInt(sensor.settings[0]['temp']) != -9999)">
                            {{ sensor.settings[0]['temp'] }}
                            <i class="fas fa-thermometer-half temp"></i>
                        </div>
                        <div class="value sensor-error" 
                            v-else-if="JSON.parse(sensor.showing_values).includes('temp')"
                            v-html="checkError(sensor.settings[0]['temp'])">
                        </div>

                        <div class="value"
                            :class="{
                                'min-alert':  checkLimits(sensor, 'humi', 'min'),
                                'max-alert':  checkLimits(sensor, 'humi', 'max')
                            }" 
                            v-if="JSON.parse(sensor.showing_values).includes('humi') &&
                            (parseInt(sensor.settings[0]['humi']) != -8888 && parseInt(sensor.settings[0]['humi']) != -9999)">
                            {{ sensor.settings[0]['humi'] }}
                            <i class="fas fa-tint humi"></i>
                        </div>
                        <div class="value sensor-error" 
                        v-else-if="JSON.parse(sensor.showing_values).includes('humi')"
                        v-html="checkError(sensor.settings[0]['humi'])">
                        </div>

                        <div class="value"
                        :class="{
                            'min-alert':  checkLimits(sensor, 'press', 'min'),
                            'max-alert':  checkLimits(sensor, 'press', 'max')
                        }"  
                        v-if="JSON.parse(sensor.showing_values).includes('press') &&
                            (parseInt(sensor.settings[0]['press']) != -8888 && parseInt(sensor.settings[0]['press']) != -9999)">
                            {{ sensor.settings[0]['press'] }}
                            <i class="fas fa-compress-arrows-alt press"></i>
                        </div>
                        <div class="value sensor-error" 
                        v-else-if="JSON.parse(sensor.showing_values).includes('press')"
                        v-html="checkError(sensor.settings[0]['press'])">
                        </div>
                    </div>
                    <div class="values" v-else>
                        <div class="value" v-if="JSON.parse(sensor.showing_values).includes('temp')">BRAK<br>DANYCH</div>
                        <div class="value" v-if="JSON.parse(sensor.showing_values).includes('humi')">BRAK<br>DANYCH</div>
                        <div class="value" v-if="JSON.parse(sensor.showing_values).includes('press')">BRAK<br>DANYCH</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END SENSORS ROW -->
        <a :href="'statistics/'+station.id" class="btn station-stats-btn default-btn s-btn" @click="setModal(station.sensors, $event)">Zobacz statystyki</a>
    </div>
    <!-- END STATION BOX -->
</div>
<div class="empty-box" v-else>
    <p class="empty-data">Brak stacji do wyświetlenia</p>
</div>
</template>

<script>
import Modal from '../Elements/Modal.vue'

export default {
    name: 'stations',
    components: {
        Modal
    },
    props: {
        'data': Object
    },
    data() {
        return {
            stations:       this.data.stations.stations,
            limits:         this.prepareGlobalLimits(this.data.globalLimits.data.globalLimits),
            modalContent:   null,
            showModal:      false,

            sensorError:    false,
            valError:       true,

            button: ['close']
        }
    },
    methods: {
        changeStationBox(el, flag) {
            var stationBox = el.parentElement.parentElement;
            var downArrowIcon = $(stationBox).find('i.arrow-down');
            var upArrowIcon = $(stationBox).find('i.arrow-up');
            switch (flag) {
                case 'show': {
                    $(downArrowIcon).addClass('d-none');
                    $(upArrowIcon).removeClass('d-none');

                    $(stationBox).find('.station-box .timebox-title').css('display', 'block');
                    $(stationBox).find('.station-stats-btn').css('display', 'block');
                    $(stationBox).find('.sensors-row').css('display', 'flex');
                } break;
                 case 'hide': {
                    $(upArrowIcon).addClass('d-none');
                    $(downArrowIcon).removeClass('d-none');

                    $(stationBox).find('.station-box .timebox-title').css('display', 'none');
                    $(stationBox).find('.station-stats-btn').css('display', 'none');
                    $(stationBox).find('.sensors-row').css('display', 'none');
                } break;
            }
        },
        prepareGlobalLimits(data) {
            var limits = [];
            for (var i = 0; i < data.length; ++i) {
                limits[data[i].value] = {
                    'state': data[i].status,
                    'min': data[i].min,
                    'max': data[i].max,
                }
            }
            return limits;
        },
        setModal(sensors, e = false) {
            var check = 0
            for (let i = 0; i < sensors.length; ++i) {
                if (sensors[i].settings == null || sensors[i].settings.length == 0) {
                    ++check
                }
            }
            this.showModal = true
            if (check == sensors.length) {
                // info about empty db
                this.modalContent = 'Statystyki są <span class="error">NIEDOSTĘPNE</span>, nie odnotowano danych w bazie. Spróbuj ponownie, później.';
                e.preventDefault();
            } else {
                // show info with loading
                this.button = '';
                this.modalContent   =   'Trwa ładowanie statystyk...';
            }
        },
        setResponse(response) {
            if (response == 'close') {
                this.showModal = false
            }
        },
        dateCorrect(date) {
            var now     = new Date()
            var oldDate = new Date(date)
            var diff    = (now - oldDate) / 1000 / 60;
            if (diff >= 15) {
                return true
            }
            return false
        },
        setSensorName(sensor) {
            return (sensor.name != null && sensor.name.length > 0) ? sensor.name : sensor.serialNumber + ' CZUJNIK NR. ' + sensor.mainSensorsNumber;
        },
        setSensorLocation(sensor) {
            if (sensor.location != null && sensor.location.length > 0) {
                return sensor.location;
            } else if (sensor.mainSensorsLocation != null && sensor.mainSensorsLocation.length > 0) {
                return sensor.mainSensorsLocation
            } 
            return '';
        },
        checkError(val) {
            this.valError       = false
            this.sensorError    = false
            if (parseInt(val) == -8888) {
                this.valError = true;
                return 'BŁĄD<br>POMIARU'
            } else if (parseInt(val) == -9999) {
                this.sensorError = true;
                return 'BŁĄD<br>CZUJNIKA'
            }
            return val;
        },
        checkLimits(sensor, name, state) {
            var val = sensor.settings[0][name]
            // check global
            if (this.limits[name]['state'] == 'on') {
                if (state == 'min') {
                    var globalMin = this.limits[name]['min']
                    if (globalMin !== null && val < globalMin) {
                        return true;
                    }
                    return false;
                } else if (state == 'max') {
                    var globalMax = this.limits[name]['max']
                    if (globalMax !== null && val > globalMax) {
                        return true;
                    }
                    return false;
                }
            }
            // check individual
            if (sensor[name+"Status"] == 'on') {
                if (state == 'min') {
                    var indvMin = sensor[name + 'Min'];
                    if (indvMin != null && val < indvMin) {
                        return true;
                    }
                } else if (state == 'max') {
                    var indvMax = sensor[name + 'Max'];
                    if (indvMax != null && val > indvMax) {
                        return true;
                    }
                }
            }
            return false
        }
    }
}
</script>

<style scoped>
/* MAIN */
.empty-box {
    text-align: center;
}
.timebox-info.error-text-alert {
    animation: error-text-alert .6s infinite alternate;
}
.value.min-alert,
.value.max-alert {
    animation: min-alert .6s infinite alternate;
    position: relative;
}
.value.min-alert:before,
.value.max-alert:before {
    position: absolute;
    background-color: var(--mainGrey);
    display: none;
    z-index: 7777;
    font-family: var(--secondFont);
    color: var(--white);
    font-size: 12px;
    padding: 4px 8px;
    letter-spacing: .5px;
    border-radius: 8px 8px 0 8px;
    text-align: center;
    border: 2px solid var(--secondGrey);
    top: -24px;
    left: -126px;
}
.value.min-alert:before {
    content: 'wartość Za niska ';
}
.value.max-alert:before {
    content: 'wartość Za wysoka ';
}
.value.min-alert:hover:before,
.value.max-alert:hover:before {
    display: block;
}
.value.sensor-error {
    animation: sensor-error .6s infinite alternate;
}
.station-status,
.sensor-status {
    text-transform: uppercase;
    font-size: 0.65rem;
    margin: 3px 0;
    width: 100%;
    text-align: center;
}
.station-box h2, 
.sensor-box h4 {
    text-transform: uppercase;
    font-family: var(--mainFont) !important;
    margin: 0 auto;
    letter-spacing: 0.25px;
}
.station-box > *, 
.sensor-box > * {
    font-family: var(--secondFont) !important;
}
.station-box .location-box, .sensor-box .location {
    font-size: 0.65rem;
    margin: 0;
    text-align: center;
    width: 100%;
}
/* END MAIN */

/* STATIONS */
.stations-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.station-box {
    background-color: var(--mainGrey);
    min-width: 21rem;
    padding: 0.65rem;
    margin: 6px;
    border-radius: 12px;
    max-width: 28%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: stretch;
}
.station-box h2 {
    display: flex;
    justify-content: center;
    white-space: nowrap;
}
.station-box h2 i {
    display: none;
}
.station-box .location-box {
    margin-top: 2px;
}
.station-box .timebox-title {
    text-align: center;
    font-size: 0.7rem;
    width: 100%;
    margin: 8px 0 3px 0;
}
.station-box a {
    margin-top: 10px;
    font-size: 0.65rem;
}
/* END STATIONS */

/* SENSORS */
.sensors-row {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    align-content: center;
}
.sensor-wrapper {
    margin: 3px;
    text-align: center;
    flex-wrap: wrap;
    width: 32%;
    justify-content: center;
    align-items: center;
}
.sensor-wrapper .timebox-info {
    font-size: 0.7rem;
    margin: 3px auto;
    width: 100%;
    height: 30px;
}
.sensor-box > * {
    margin-top: auto;
}
.sensor-box {
    border-radius: 5px;
    background-color: var(--secondGrey);
    padding: 3px;
    display: flex;
    flex-wrap: wrap;
    min-width: 6rem;
}
.sensor-box h4.name {
    overflow: hidden;
    text-overflow: ellipsis;
}
.values {
    font-size: 0.75rem !important;
    width: 80%;
    margin: 0 auto;
}
.value {
    text-transform: uppercase;
    background-color: var(--mainGrey);
    border-radius: 12px;
    width: 90%;
    margin: 3px auto;
    padding: 3px;
    text-align: center;
    cursor: inherit;
}
.value i {
    margin-left: 4px;
}
.value i.temp {
    color: var(--red);
}
.value i.humi {
    color: var(--humi);
}
.value i.press {
    color: var(--press);
}
/* END SENSORS */

/* RWD */
@media (max-width: 1125px) {
    .station-box {
        max-width: 21rem;
    }
    .station-box h2.name {
        font-size: 1.25rem;
    }
    .sensor-box {
        min-width: unset;
    }
    .sensor-box h4.name {
        font-size: 0.85rem;
    }
    .sensor-box .values {
        font-size: 0.7rem !important;
    }
}
@media (max-width: 600px) {
    .station-box {
        max-width: unset;
        min-width: 100%;
    }
    .station-box .timebox-title,
    a.station-stats-btn,
    .sensors-row {
        display: none;
    }
    .station-box h2 i {
        display: block;
        font-size: 15px;
        position: relative;
        animation: section-arrow .6s infinite alternate;
        top: 0;
        bottom: 0;
        left: 1rem;
        padding: 0 8px;
        right: 0;
    }
}
@media (max-width: 420px) {
    .station-box h2.name {
        font-size: 1.15rem;
    }
    .sensor-box h4.name {
        font-size: 0.8rem;
    }
}
</style>