<template>
    <span>
        <section class="wrapper">
            <h2 class="title decor-line main-font">STATYSTYKI STACJI: <span class="decor">{{ station.name }}</span></h2>
            <div class="statistics">
                <div v-show="settings.lineChartStatus == 'on'" class="charts-box">
                    <!-- CHART FILTERS -->
                    <div class="filters">
                        <div class="global">
                            <div class="filtrs-box">
                                <div class="filtr day" @click="setCheck($event)"
                                    v-for="filtr in chartFilters" :key="filtr.id" 
                                    v-if="filtr.type == 'days' && filtr.status == 'on'"
                                    :class="{'checked': checkedFilters.days == filtr.number}"
                                    :data-days="filtr.number"
                                    >{{ filtr.name }}
                                </div>
                            </div>
                            <div>
                                <p>Przedział czasowy:</p>
                                <div class="intervals-box">
                                    <div class="filtr interval" @click="setCheck($event)"
                                        v-for="filtr in chartFilters" :key="filtr.id" 
                                        v-if="filtr.type == 'interval' && filtr.status == 'on'"
                                        :class="{'checked': checkedFilters.interval == filtr.number}"
                                        :data-interval="filtr.number"
                                        href="#" >{{ filtr.name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                                    
                        <div class="individual" v-if="checkedFilters.startDate === undefined && checkedFilters.endDate === undefined">
                            <div>
                                <p>od</p>
                                <input class="start-date" type="date" placeholder="Data" 
                                    @click="removeCheck()"
                                    :value="moment().subtract(1, 'days').format('YYYY-MM-DD')">
                                <p>-</p>
                                <input class="start-time" type="time" placeholder="Godzina" 
                                    @click="removeCheck()"
                                    :value="moment().format('h:mm')">
                            </div>
                            <div>
                                <p>do</p>
                                <input class="end-date" type="date" placeholder="Data" 
                                    @click="removeCheck()"
                                    :value="moment().format('YYYY-MM-DD')">
                                <p>-</p>
                                <input class="end-time" type="time" placeholder="Godzina" 
                                    @click="removeCheck()"
                                    :value="moment().format('h:mm')">
                            </div>
                            <div class="submit" @click="redirect()">Zastosuj</div>
                        </div>
                        <div class="individual" v-else>
                            <div>
                                <p>od</p>
                                <input class="start-date" type="date" placeholder="Data" 
                                    @click="removeCheck()"
                                    :value="changeFormat(checkedFilters.startDate, 'date', true)">
                                <p>-</p>
                                <input class="start-time" type="time" placeholder="Godzina" 
                                    @click="removeCheck()"
                                    :value="changeFormat(checkedFilters.startDate, 'time', true)">
                            </div>
                            <div>
                                <p>do</p>
                                <input class="end-date" type="date" placeholder="Data" 
                                    @click="removeCheck()"
                                    :value="changeFormat(checkedFilters.endDate, 'date', true)">
                                <p>-</p>
                                <input class="end-time" type="time" placeholder="Godzina" 
                                    @click="removeCheck()"
                                    :value="changeFormat(checkedFilters.endDate, 'time', true)">
                            </div>
                            <div class="submit" @click="redirect()">Zastosuj</div>
                        </div>
                    </div>
                    <!-- END CHART FILTERS -->
                    <!-- CHARTS -->
                    <div :class="'chart-'+index" v-for="(chart, index) in statistics.statistics.charts" :key="index">
                        <h4 v-if="index == 'temp'">POMIAR TEMPERATURY</h4>
                        <h4 v-else-if="index == 'humi'">POMIAR WILGOTNOŚCI</h4>
                        <h4 v-else-if="index == 'press'">POMIAR CIŚNIENIA</h4>
                        <canvas :id="index"></canvas>
                    </div>
                    <!-- END CHARTS -->
                </div>
                <div class="tables">
                    <!-- ERROR TABLE FOR ADMIN -->
                    <div class="error-table" v-if="$session.get('role') === 'dev'">
                        <h3>DATA OSTATNIEGO BŁĘDU</h3>
                        <div class="data-list s-table" ref="table">
                            <!-- TABLE HEAD -->
                            <div class="head main-font">
                                <div class="row">
                                    <div class="cell"  
                                        v-for="sensor in station.statistics.sensors" 
                                        :key="sensor.id">
                                        <span v-if="sensor.virtualSensorName !== null && sensor.virtualSensorName.length > 0">
                                            {{ sensor.virtualSensorName }}
                                        </span>
                                        <span v-else-if="sensor.sensorName !== null && sensor.sensorName.length > 0">
                                            {{ sensor.sensorName }}
                                        </span>
                                        <span v-else>{{ sensor.smatSerial }}, czujnik nr {{ sensor.number }}</span> 
                                    </div>
                                </div>
                            </div>
                            <!-- END TABLE HEAD -->
                            <!-- TABLE BODY -->
                            <div class="body">
                                <div class="row text-font">
                                    <div class="cell"
                                        v-for="sensor in station.statistics.sensors" 
                                        :key="sensor.id">
                                        <div class="data-list s-table" ref="table">
                                            <!-- TABLE HEAD -->
                                            <div class="head main-font">
                                                <div class="row">
                                                    <div class="cell" 
                                                        v-for="(error, index) in sensor.errors" 
                                                        :key="index">
                                                        <span v-if="index == 'temp'">Temperatura</span>
                                                        <span v-if="index == 'humi'">Wilgotność</span>
                                                        <span v-if="index == 'press'">Ciśnienie</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END TABLE HEAD -->
                                            <!-- TABLE BODY -->
                                            <div class="body">
                                                <div class="row text-font">
                                                    <div class="cell error"
                                                        v-for="(error, index) in sensor.errors" 
                                                        :key="index">
                                                        <span v-if="error !== null">{{ changeFormat(error, 'datatime') }}</span>
                                                        <span v-else>Brak danych</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END TABLE BODY -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END TABLE BODY -->
                        </div>
                    </div>
                    <!-- END ERROR TABLE FOR ADMIN -->
                    <!-- STATS TABLE FOR ADMIN -->
                    <div class="stats-table">
                        <h3 class="decor">{{ station.name }}</h3>
                        <div class="data-list s-table" ref="table">
                            <!-- TABLE HEAD -->
                            <div class="head main-font">
                                <div class="row">
                                    <div class="cell">POMIAR</div>
                                    <div class="cell" 
                                        v-for="sensor in station.statistics.sensors" 
                                        :key="sensor.id">
                                            <span v-if="sensor.virtualSensorName !== null && sensor.virtualSensorName.length > 0">
                                                {{ sensor.virtualSensorName }}
                                            </span>
                                            <span v-else-if="sensor.sensorName !== null && sensor.sensorName.length > 0">
                                                {{ sensor.sensorName }}
                                            </span>
                                            <span v-else>{{ sensor.smatSerial }}, czujnik nr {{ sensor.number }}</span> 
                                    </div>
                                </div>
                            </div>
                            <!-- END TABLE HEAD -->
                            <!-- TABLE BODY -->
                            <div class="body">
                                <div class="row text-font">
                                    <!-- daty i godziny -->
                                    <div class="cell">
                                        <div class="data-list s-table" ref="table">
                                            <!-- TABLE HEAD -->
                                            <div class="head main-font">
                                                <div class="row">
                                                    <div class="cell">DATA</div>
                                                    <div class="cell">CZAS</div>
                                                </div>
                                            </div>
                                            <!-- END TABLE HEAD -->
                                            <!-- TABLE BODY -->
                                            <div class="body">
                                                <div class="row text-font" 
                                                    v-for="datatime in station.statistics.datatimes" 
                                                    :key="datatime.id">
                                                    <div class="cell">{{ changeFormat(datatime, 'date') }}</div>
                                                    <div class="cell">{{ changeFormat(datatime, 'time') }}</div>
                                                </div>
                                            </div>
                                            <!-- END TABLE BODY -->
                                        </div>
                                    </div>
                                    <!-- STATISTICS -->
                                    <div class="cell"
                                        v-for="sensor in station.statistics.sensors" 
                                        :key="sensor.id">
                                        <div class="data-list s-table" ref="table">
                                            <!-- TABLE HEAD -->
                                            <div class="head main-font">
                                                <div class="row" v-if="sensor.data.length > 0">
                                                    <div class="cell" v-if="sensor.data[0] !== undefined && sensor.data[0].temp !== undefined">Temperatura</div>
                                                    <div class="cell" v-if="sensor.data[0] !== undefined && sensor.data[0].humi !== undefined">Wilgotność</div>
                                                    <div class="cell" v-if="sensor.data[0] !== undefined && sensor.data[0].press !== undefined">Ciśnienie</div>
                                                </div>
                                                <div class="row" v-else>
                                                    <div class="cell">BRAK DANYCH</div>
                                                </div>
                                            </div>
                                            <!-- END TABLE HEAD -->
                                            <!-- TABLE BODY -->
                                            <div class="body">
                                                <div class="row text-font"
                                                    v-for="stats in sensor.data" 
                                                    :key="stats.id">
                                                    <div class="cell" v-if="stats.temp !== undefined">
                                                        <span class="error" v-if="stats.temp === null">OFFLINE</span>
                                                        <span v-else>{{ stats.temp }}</span>
                                                    </div>
                                                    <div class="cell" v-if="stats.humi !== undefined">
                                                        <span  class="error" v-if="stats.humi === null">OFFLINE</span>
                                                        <span v-else>{{ stats.humi }}</span>
                                                    </div>
                                                    <div class="cell" v-if="stats.press !== undefined">
                                                        <span  class="error" v-if="stats.press === null">OFFLINE</span>
                                                        <span v-else>{{ stats.press }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END TABLE BODY -->
                                        </div>
                                    </div>
                                    <!-- END STATISTICS -->
                                </div>
                            </div>
                            <!-- END TABLE BODY -->
                        </div>
                    </div>
                    <!-- END STATS TABLE FOR ADMIN -->
                </div>
            </div>
        </section>

        <div class="buttons">
            <a target="_blank" :href="'/generate/raport/pdf/'+station.id" class="pdf">WYGENERUJ RAPORT PDF</a>
            <a target="_blank" v-show="settings.csvStatus == 'on'" :href="'/generate/raport/csv/'+station.id" class="csv">WYGENERUJ RAPORT CSV</a>
        </div>
    </span>
</template>

<script>

import moment from 'moment'
import Chart from 'chart.js/auto';

export default {
    name: 'statistics',
    props: {
        'data': Object
    },
    data() {
        return {
            chartFilters: this.data.chartsFilters.data.filtrs,
            settings: this.data.settings,
            checkedFilters: this.data.checkedFilters,
            statistics: this.data.statistics,
            station: this.data.station
        }
    },
    mounted() {
        console.log(this.chartFilters)
        this.createCharts()
    },
    methods: {
        moment: function() {
            return moment();
        },
        setCheck(event) {
            let el = event.target;
            let elements = event.target.parentElement.children

            $(elements).removeClass("checked");
            $(el).addClass('checked')
        },
        removeCheck() {
            $('.filtrs-box .day').removeClass("checked");
        },
        createCharts() {
            let self = this;
            let obj = this.statistics.statistics.charts;
            let statistics = this.statistics;
            let settings = this.settings;
            $.each(obj, function (key, vals) {
                // prepare data for charts
                var data = {
                    labels: statistics.statistics.datatimes,
                    datasets: []
                };
                for (let i = 0; i < vals.length; ++i) {
                    let sensorData = vals[i];

                    let sensor = '';
                    if (sensorData['virtualSensorName'] !== null && sensorData['virtualSensorName'].length > 0) {
                        sensor = sensorData['virtualSensorName'];
                    } else if (sensorData['sensorName'] !== null && sensorData['sensorName'].length > 0) {
                        sensor = sensorData['sensorName'];
                    } else {
                        sensor = sensorData['smatSerial'] + ', czujnik nr.: ' + sensorData['sensorNumber'];
                    }
                    //set default config
                    var config = {
                        type: 'line',
                        data: data,
                        options: {
                            interaction: {
                                intersect: false
                            },
                            responsive: true,
                            maintainAspectRatio: false,
                            plugins: {
                                title: {
                                    display: false,
                                },
                                legend: {
                                    position: 'top'
                                }
                            },
                            scales: {
                                x: {
                                    display: true,
                                    grid: { 
                                        display: false
                                    },
                                    ticks: {
                                        padding: 20,
                                        color: "#606060"
                                    }
                                },
                                y: {
                                    // min: -10,
                                    // max: 100,
                                    display: true,
                                    grid: { 
                                        display: true, 
                                        color: "#141414" 
                                    },
                                    ticks: {
                                        padding: 20,
                                        fontColor: "#606060",
                                        stepSize: 0.5
                                    }
                                }
                            }
                        },
                    };
                    // set color
                    let color = '';
                    if (key == 'temp') {
                        color = settings.chartTempColor
                    } else if (key == 'press') {
                        color = settings.chartPressColor
                    } else {
                        color = settings.chartHumiColor
                    }
                    // prepare shadow
                    color = (i > 0) ? self.generateShadow(color, 'rgb', (i+1)) : color;
                    // add data for charts
                    data.datasets.push({
                        label: sensor, 
                        data: sensorData.data,
                        borderColor: color,
                        backgroundColor: color,
                        pointRadius: 5,
                        pointHoverRadius: 7,
                        pointBorderColor: color,
                        pointBackgroundColor: color,
                        pointHoverBackgroundColor: color,
                        pointHoverBorderColor: color,
                        tension: 0.4,
                        fill: false,
                    });
                }
                if (document.getElementById(key) !== null && vals.length != 0) {
                    var ctx = document.getElementById(key).getContext('2d');
                    var chart = new Chart(ctx, config);
    
                    // set global chart config
                    Chart.defaults.font.size = 12;
                    Chart.defaults.font.family = "Helvetica";
                    Chart.defaults.color = "#606060";
                }
            });
        },
        redirect() {
            let curLocSplit = window.location.pathname.split('/');
            let currentLocation = '/'+curLocSplit[1]+'/'+curLocSplit[2] +'/';
            let days = $($('.day.checked')[0]).attr('data-days');
            let interval = $($('.interval.checked')[0]).attr('data-interval');
            let startDate = $('input.start-date').val() +' '+ $('input.start-time').val()
            let endDate = $('input.end-date').val() +' '+ $('input.end-time').val()
            let date = startDate+'TO'+endDate;

            let url = (days === undefined) ? currentLocation+date+'/'+interval : currentLocation+days+'/'+interval;
            window.location.replace(url);
        },
        generateShadow(color, type, numberOfShadows) {
            if (type == 'rgb') {
                color = color.replace('rgb(','').replace(')','').split(',');
                let num = numberOfShadows*20

                return 'rgb(' + (parseInt(color[0])+num) +', '+ (parseInt(color[1])+num) +', '+ (parseInt(color[2])+num) + ')';
            }
        },
        changeFormat(datatime, type, flag = false) {
            datatime = Date.parse(datatime);
            let char = (!flag) ? '/' : '-';
            let day = (datatime.getDate() < 10) ? '0'+datatime.getDate() : datatime.getDate();
            let month = ((datatime.getMonth()+1) < 10) ? '0'+(datatime.getMonth()+1) : (datatime.getMonth()+1);
            let year = datatime.getFullYear();

            let date = ''; 
            if (!flag) {
                // for tables
                date = day + char + month + char + year;
            } else if (flag) {
                // for filters
                date = year + char + month + char + day;
            }
            let time = (datatime.getHours() < 10) ? '0'+datatime.getHours() : datatime.getHours();
            time += ':';
            time += (datatime.getMinutes() < 10) ? '0'+datatime.getMinutes() : datatime.getMinutes();

            if (type == 'date') {
                return date;
            } else if (type == 'time') {
                return time;
            } else if (type == 'datatime') {
                return date + ' ' + time;
            }
        }
    }
}
</script>

<style scoped>
.filters {
    display: flex;
    flex-wrap: wrap;
    width: 72%;
    justify-content: center;
    margin: 1rem auto;
    align-items: center;
    min-height: 110px;
}
.filters > * {
    width: 100%;
    font-family: var(--secondFont);
}
.filters input {
    max-width: 9rem;
    text-indent: 8px;
}
.filters div.filtr,
div.submit {
    color: var(--white);
    background-color: var(--blueH);
    padding: 6px 16px;
    border-radius: 8px;
    margin: 0 3px;
    transition: .3s;
    cursor: pointer;
    user-select: none;
    transition: .3s;
}
div.submit:hover {
    transform: scale(1.1);
    background-color: var(--redH);
}
.filters div.filtr:hover {
    background-color: var(--redH);
}
.filters div.filtr.checked {
    background-color: var(--redH);
}
.global,
.individual {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.global {
    border-bottom: 1px solid var(--mainGreyH);
    padding-bottom: 12px;
}
.global div:not([filtrs-box]),
.individual div:not([intervals-box]) {
    display: flex;
    align-items: center;
}
.global div:not([filtrs-box]) p,
.individual div:not([intervals-box]) p {
   white-space: nowrap;
   margin: 0 8px;
}
/* CHARTS */
div[class*="chart-"] {
    width: 100%;
    padding: 4rem 0;
    height: 375px;
    display: block;
}
div[class*="chart-"] h4 {
    text-align: left;
    font-family: var(--secondFont);
    color: var(--secondGrey);
    margin-left: 4rem;
}
/* TABLES */
.statistics h3 {
    font-family: var(--secondFont);
}
.statistics .tables {
    margin-top: 8rem;
}
.statistics .stats-table, 
.statistics .error-table  {
    margin-top: 4rem;
}
.buttons {
    position: fixed;
    bottom: 45px;
    right: 26px;
}
.buttons a {
    padding: 12px 18px;
    text-transform: uppercase;
    font-family: var(--mainFont);
    font-size: var(--l-font);
    transition: .3s;
    color: var(--mainBg);
    border-radius: 8px;
    display: block;
    margin: 8px 0;
    font-weight: 600;
    user-select: none;
}
.buttons a:hover {
    text-decoration: none;
    transform: scale(1.1);
}
.buttons a.pdf {
    background-color: var(--red)
}
.buttons a.pdf:hover {
    background-color: var(--redH);
}
.buttons a.csv {
    background-color: var(--blue)
}
.buttons a.csv:hover {
    background-color: var(--blueH);
}

</style>