    <template>
    <span>
        <h2 class="title decor-line main-font">USTAWIENIA PROGÓW GLOBALNYCH</h2>
        <p class="textbox text-font">
            W poniższej sekcji znajdziesz progi globalne dotyczące wszystkich aktywnych stanowisk pomiarowych systemu {{ $root.$options.config.name }}. 
        </p>
        <!-- GLOBAL ALARMS -->
        <section class="wrapper">
            <div class="alarms">
                <form method="POST" action="/admin/limits/edit" class="limits">
                    <input type="hidden" name="_token" v-model="$root.$options.config.token">
                    <div class="val-box" v-for="limit in limits" :key="limit.id">
                        <h3 class="main-font">
                            <i class="fas fa-thermometer-half" v-show="limit.value == 'temp'"></i>
                            <i class="fas fas fa-tint" v-show="limit.value == 'humi'"></i>
                            <i class="fas fa-compress-arrows-alt" v-show="limit.value == 'press'"></i>
                            <span v-show="limit.value == 'temp'">Temperatura</span>
                            <span v-show="limit.value == 'humi'">Wilgotność</span>
                            <span v-show="limit.value == 'press'">Ciśnienie</span>
                            <i class="fas fa-chevron-down"></i>
                            <i class="fas fa-chevron-up d-none"></i>
                        </h3>
                        <div class="thresholds-box text-font">
                            <div>
                                <p>Wartość min:</p>
                                <span class="row">
                                    <i class="fas fa-long-arrow-alt-down"></i>
                                    <input type="number" :name="limit.value+'[min]'" step="0.1" placeholder="ustaw +/-" v-if="limit.min == null">
                                    <input type="number" :name="limit.value+'[min]'" step="0.1" placeholder="ustaw +/-" :value="limit.min" v-else>
                                </span>
                            </div>
                            <div>
                                <p>Wartość max:</p>
                                <span class="row">
                                    <i class="fas fa-long-arrow-alt-up"></i>
                                    <input type="number" :name="limit.value+'[max]'" step="0.1" placeholder="ustaw +/-" v-if="limit.max == null">
                                    <input type="number" :name="limit.value+'[max]'" step="0.1" placeholder="ustaw +/-" :value="limit.max" v-else>
                                </span>
                            </div>
                            <div>
                                <p>Status progu:</p>
                                <div class="onoffswitch">
                                    <input type="checkbox" :name="limit.value+'[status]'" :id="limit.value+'-switch'" class="onoffswitch-checkbox" tabindex="0" checked v-if="limit.status == 'on'">
                                    <input type="checkbox" :name="limit.value+'[status]'" :id="limit.value+'-switch'" class="onoffswitch-checkbox" tabindex="0" v-else>
                                    <label class="onoffswitch-label" :for="limit.value+'-switch'">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input class="btn default-btn m-btn" type="submit" value="EDYTUJ PROGI">
                </form>
            </div>
        </section>
        <!-- END GLOBAL ALARMS -->
    </span>
</template>

<script>

export default {
    name: 'admin-limits-global',
    props: {
        'data': Object
    },
    data() {
        return {
            limits: this.data.globalLimits
        }
    }
}
</script>


<style scoped>
.alarms {
    display: flex;
    flex: 33%;
    justify-content: space-evenly;
    margin: 0 auto;
    align-items: center;
    flex-wrap: wrap;
}
.alarms form {
    text-align: center;
}
.alarms .val-box {
    width: 32%;
    border: 1px solid var(--mainGrey);
    padding: 12px 0;
    border-radius: 5px;
    max-width: 18rem;
    margin: 5px;
    display: inline-block;
}
.alarms .val-box h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    border-bottom: 1px solid var(--decor);
    padding: 3px 0;
}
.alarms .val-box h3 i[class*="-chevron-"] {
    display: none;
}
.alarms .val-box h3 i:not([class*="-chevron-"]) {
    margin-right: 0.5rem;
}
.thresholds-box {
    font-size: 0.85rem;
}
.thresholds-box div:not([class]) {
    display: flex;
    margin: 8px auto;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    white-space: nowrap;
}
.thresholds-box div p {
    margin: 0;
}
.thresholds-box span.row i {
    padding: 0 3px;
}
.thresholds-box span.row i[class*="-up"] {
    color: var(--red);
}
.thresholds-box span.row i[class*="-down"] {
    color: var(--blue);
}
/* END GLOBAL ALARMS SECTION */
</style>