<template>
    <span>
        <h2 class="title decor-line main-font">DODAJ NOWE STANOWISKO</h2>
        <p class="textbox text-font">
            W poniższej sekcji możesz utworzyć nowe stanowisko pomiarowe wraz z dostępnymi
            czujnikami stacji pomiarowych {{ $root.$options.config.name }}.
        </p>
        <section class="wrapper">
            <form method="POST" action="/admin/station/add" class="settings">
                <input type="hidden" name="_token" v-model="$root.$options.config.token">
                <div>
                    <label class="main-font">Nazwa stanowiska:</label>
                    <input type="text" name="name" placeholder="podaj własną nazwę stanowiska">
                </div>
                <div>
                    <label class="main-font">Lokalizacja:</label>
                    <input type="text" name="location" placeholder="podaj własną lokalizację" value="">
                </div>
                <div>
                    <div>
                        <label class="main-font">Widoczność stanowiska:</label>
                        <div class="onoffswitch">
                            <input type="checkbox" name="visibility" id="station-status" class="onoffswitch-checkbox" tabindex="0" checked>
                            <label class="onoffswitch-label" for="station-status">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <label class="main-font">Wysyłka e-mail o progach:</label>
                        <div class="onoffswitch">
                            <input type="checkbox" name="sflex-endAlerts" id="station-alerts-status" class="onoffswitch-checkbox" tabindex="0">
                            <label class="onoffswitch-label" for="station-alerts-status">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div>
                    <label class="main-font">Dodaj czujnik:</label>
                    <div class="sensors-chx">
                        <label class="container" v-for="(sensor, index) in sensors" :key="index">
                            <span v-if="sensor.location !== null && sensor.location.length > 0">{{ sensor.serial_number }}, czujnik: {{ sensor.location }}</span>
                            <span v-else>{{ sensor.serial_number }}, czujnik nr: {{ sensor.number }}</span>
                            <input type="checkbox" @click="changeAmount(sensor)">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="dropdown-wrapper" v-for="(sensor, index) in checkedSensors" :key="++index">
                    <input type="hidden" :name="'sensors['+index+'][sensorId]'" :value="sensor.id">
                    <p v-if="sensor.location !== null && sensor.location.length > 0">{{ sensor.serial_number }}, czujnik: {{ sensor.location }}</p>
                    <p v-else>{{ sensor.serial_number }}, czujnik nr: {{ sensor.number }}</p>
                    <div>
                        <div>
                            <label class="main-font">Nazwa czujnika:</label>
                            <input type="text" :name="'sensors['+index+'][name]'" placeholder="wpisz nazwę własną" value="">
                        </div>
                    </div>
                    <div>
                        <div>
                            <label class="main-font">Lokalizacja czujnika:</label>
                            <input type="text" :name="'sensors['+index+'][location]'" placeholder="wpisz lokalizacje własną" value="">
                        </div>
                    </div>
                    <div>
                        <label class="main-font">Widoczność czujnika:</label>
                        <div class="onoffswitch">
                            <input type="checkbox" :name="'sensors['+index+'][visibility]'" :id="'sensor-status_'+index" class="onoffswitch-checkbox" tabindex="0" checked>
                            <label class="onoffswitch-label" :for="'sensor-status_'+index">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                    <div>
                        <label class="main-font">Pokazuj wartość:</label>
                        <div class="values-chx">
                            <label class="container">
                                Temperatury
                                <input type="checkbox" :name="'sensors['+index+'][vals][temp]'" checked>
                                <span class="checkmark"></span>
                            </label>
                            <label class="container">
                                Ciśnienia
                                <input type="checkbox" :name="'sensors['+index+'][vals][press]'" checked>
                                <span class="checkmark"></span>
                            </label>
                            <label class="container">
                                Wilgotności
                                <input type="checkbox" :name="'sensors['+index+'][vals][humi]'" checked>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <input class="btn default-btn m-btn" type="submit" value="Stwórz stanowisko">
            </form>
        </section>
    </span>
</template>

<script>


export default {
    name: 'admin-station-add',
    props: {
        'data': Object
    },
    data() {
        return {
            sensors: this.data.sensors,
            checkedSensors: []
        }
    },
    methods: {
        changeAmount(val) {
            let exist = false;
            for (let i = 0; i < this.checkedSensors.length; ++i) {
                if (val.id == this.checkedSensors[i].id) {
                    exist = i;
                }
            }
            if (typeof exist == 'boolean') {
                this.checkedSensors.push(val);
            } else {
                this.checkedSensors.splice(exist, 1);
            }
        }
    }
}
</script>


<style scoped>
form .onoffswitch {
    margin-right: 6rem;
}
.sensors-chx, .values-chx {
    max-height: 14rem;
    width: 18rem;
}
.sensors-chx {
    overflow-y: scroll;
    margin: 8px 0;
}
.sensors-chx::-webkit-scrollbar {
  width: 8px;
}
.sensors-chx::-webkit-scrollbar-track {
    background-color: var(--secondGrey);
}
.sensors-chx::-webkit-scrollbar-thumb {
  background-color: var(--mainGrey);
  outline: 1px solid var(--mainGrey);
}
.values-chx {
    display: flex;
    justify-content: space-between;
    width: 78%;
    line-height: 1.9;
    align-items: flex-end;
}
.container {
   display: flex;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 14px;
    user-select: none;
    font-family: var(--secondFont);
    height: 4rem;
    align-content: center;
}
.container span {
    line-height: 1.9;
}
/* CHECKBOXES */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 25px;
  margin: auto;
  width: 25px;
  border-radius: 25%;
  background-color: var(--white);
}
.container:hover input ~ .checkmark {
  background-color: var(--mainGrey);
}
.container input:checked ~ .checkmark {
  background-color: var(--green);
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

</style>