    <template>
    <span>
         <h2 class="title decor-line main-font">USTAWIENIA FILTRÓW WYKRESÓW</h2>
        <p class="textbox text-font">
            W poniższej sekcji możesz edytować dostępność filtrów do wykresów. Musi być włączony conajmniej jeden filtr z <span class="decor">zakresu</span>
            oraz conajmniej jeden filtr z <span class="decor">pomiar co</span>. 
        </p>
        <section class="wrapper">
            <form method="POST" action="/admin/settings/filtrs/edit" class="filtrs">
                <input type="hidden" name="_token" v-model="$root.$options.config.token">
                <div class="filtrs-box">
                    <div class="head">
                        <p class="text-font">Czy zaznaczyć wszystkie?</p> 
                        <div class="onoffswitch">
                            <input type="checkbox" id="filtrs-all" tabindex="0" class="onoffswitch-checkbox" @click="checkAll($event.target.checked)"> 
                            <label for="filtrs-all" class="onoffswitch-label">
                                <span class="onoffswitch-inner"></span> 
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <p>Zakres</p>
                        <div class="filtr" v-for="filtr in filtrs" :key="filtr.id" v-if="filtr.type == 'days'">
                            <p class="text-font">{{ filtr.name }}</p> 
                            <div class="onoffswitch">
                                <input type="checkbox" :name="'days['+filtr.id+'][status]'" :id="'days-'+filtr.id" tabindex="0" class="onoffswitch-checkbox" :checked="(filtr.status == 'on')"> 
                                <label :for="'days-'+filtr.id" class="onoffswitch-label">
                                    <span class="onoffswitch-inner"></span> 
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <p>Pomiar co</p>
                        <div class="filtr" v-for="filtr in filtrs" :key="filtr.id" v-if="filtr.type == 'interval'">
                            <p class="text-font">{{ filtr.name }}</p> 
                            <div class="onoffswitch">
                                <input type="checkbox" :name="'interval['+filtr.id+'][status]'" :id="'interval-'+filtr.id" tabindex="0" class="onoffswitch-checkbox" :checked="(filtr.status == 'on')"> 
                                <label :for="'interval-'+filtr.id" class="onoffswitch-label">
                                    <span class="onoffswitch-inner"></span> 
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <input class="btn default-btn m-btn" type="submit" value="EDYTUJ FILTRY">
            </form>
        </section>
    </span>
</template>

<script>

export default {
    name: 'admin-settings-filtrs',
    props: {
        'data': Object
    },
    data() {
        return {
            filtrs: this.data.filtrs
        }
    },
    methods: {
        checkAll(status) {
            $('form.filtrs .row input[type="checkbox"]').prop('checked', status)
        }
    }
}
</script>


<style scoped>
form .filtr .onoffswitch {
    margin: 1.5rem auto 0 auto;
}
.filtrs-box {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.filtrs-box .head {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 28rem;
    margin: 0 auto;
}
.filtrs-box .row {
    display: flex;
    justify-content: flex;
    align-items: center;
}
.filtrs-box .row > * {
    width: 200px;
    height: 110px;
}
.filtrs-box .row p {
    font-family: var(--mainFont);
    font-weight: 600;
    background-color: var(--mainGrey);
    margin: 8px 0px;
    padding: 6px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
form.filtrs input[type="submit"] {
    margin: 22px auto;
    display: block;
}
form.filtrs .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: -14px;
}
</style>