<template>
    <span>
        <h2 class="title decor-line main-font">DODAJ NOWĄ STACJĘ POMIAROWĄ</h2>
        <p class="textbox text-font">
            W poniższej sekcji możesz dodać nowo zamontowaną skrzynię pomiarową {{ $root.$options.config.name }}.
            Każda stacja zawiera swój własny numer seryjny na podstawie którego 
            tworzy się odpowiednia tabela w bazie w celu gromadzenia przesyłanych danych.
        </p>
        <section class="wrapper">
            <form method="POST" action="/admin/smat/add" class="settings">
                <input type="hidden" name="_token" v-model="$root.$options.config.token">
                <div>
                    <label class="main-font">Numer seryjny:</label>
                    <input type="text" name="serialNumber" :placeholder="'format: '+$root.$options.config.name+'XXXXXXXXX'">
                </div>
                <div>
                    <label class="main-font">Lokalizacja stacji:</label>
                    <input type="text" name="location" placeholder="lokalizacja montażu" value="">
                </div>
                <div>
                    <label class="main-font">Data wzorcowania:</label>
                    <input type="date" name="calibrationDate" :value="moment().format('YYYY-MM-DD')">
                </div>
                <div>
                    <label class="main-font">Ważność wzorcowania:</label>
                    <select name="calibrationDays">
                        <option value="365">1 rok</option>
                        <option value="730">2 lata</option>
                        <option value="1825">5 lat</option>
                    </select>
                </div>
                <div>
                    <label class="main-font">Ilość czujników:</label>
                    <input type="number" step="1" name="sensorsNumber" min="1" value="1" @change="changeAmount($event.target.value)">
                </div>
                <div class="dropdown-wrapper" v-for="(sensor, index) in amount" :key="++index">
                    <p>
                        Czujnik nr. {{ index }}
                        <i class="fas fa-chevron-down d-none" aria-hidden="true" @click="changeDropdown($event.target.parentElement)"></i> 
                        <i class="fas fa-chevron-up" aria-hidden="true" @click="changeDropdown($event.target.parentElement)"></i>
                    </p>
                   <div class="dropdown">
                        <div>
                            <div>
                                <label class="main-font">Wysokość montażu:</label>
                                <input type="text" :name="'location_'+index" placeholder="wysokość montażu" value="">
                            </div>
                        </div>
                        <div>
                            <label class="main-font">Kalibracja +/- temperatury:</label>
                            <input type="number" step="0.1" value="0.0" lang="pl" :name="'diffTemp_'+index">
                        </div>
                        <div>
                            <label class="main-font">Kalibracja +/- ciśnienia:</label>
                            <input type="number" step="0.1" value="0.0" lang="pl" :name="'diffPress_'+index">
                        </div>
                        <div>
                            <label class="main-font">Kalibracja +/- wilgotności:</label>
                            <input type="number" step="0.1" value="0.0" lang="pl" :name="'diffHumi_'+index">
                        </div>
                   </div>
                </div>
                <input class="btn default-btn m-btn" type="submit" value="Dodaj stację">
            </form>
        </section>
    </span>
</template>

<script>

import moment from 'moment'

export default {
    name: 'admin-smat-add',
    data() {
        return {
            amount: [
                []
            ]
        }
    },
    mounted() {
        $('.dropdown-wrapper i.fa-chevron-down').click()
    },
    methods: {
        moment: function() {
            return moment();
        },
        changeAmount(val) {
            if (val != this.amount) {
                let sections = val - this.amount.length
                if (sections > 0) {
                    for (let i = 0; i < sections; ++i) {
                        this.amount.push(i)
                    }
                } else {
                    for (let i = 0; i > sections; --i) {
                        this.amount.pop()
                    }
                }
            }
        },
        changeDropdown(e) {
            let dropdownMenu   = $(e.parentElement).find('div.dropdown')
            let iconUp         = $(e.parentElement).find('.fa-chevron-up')[0]
            let iconDown       = $(e.parentElement).find('.fa-chevron-down')[0]
            if (iconUp.classList.contains('d-none')) {
                iconUp.classList.remove("d-none")
                iconDown.classList.add("d-none")
            } else {
                iconUp.classList.add("d-none")
                iconDown.classList.remove("d-none")
            }

            $(dropdownMenu).animate({
                opacity: 1,
                height: "toggle"
            }, 500, function() {
                $(dropdownMenu).css({"height": "auto", "opacity": 1})
            });
        }
    }
}
</script>


<style scoped>
form {
    margin: 1rem 0;
}
.stations-list .station h3 {
    white-space: unset;
}
.stations-list .station {
    cursor: pointer;
    transition: .3s;
}
.stations-list .station:hover {
    background-color: var(--mainGrey);
}
.dropdown-wrapper i {
    color: var(--decor);
    cursor: pointer;
    margin: 0 6px;
}
</style>