    <template>
    <span>
        <h2 class="title decor-line main-font">USTAWIENIA OGÓLNE</h2>
        <p class="textbox text-font">
            W poniższej sekcji możesz edytować <span class="decor">główne nagłówki</span> systemu {{ $root.$options.config.name }}, 
            <span class="decor">logotyp i nazwę firmy klienta</span> oraz włączyć/wyłączyć <span class="decor">generowanie raportów w rozszerzeniu .csv</span>.
            Logotyp powinien mieć <span class="decor">minimum 200px szerokości</span>.
        </p>
        <section class="wrapper">
            <form method="POST" action="/admin/settings/general/edit" class="general" enctype="multipart/form-data">
                <input type="hidden" name="_token" v-model="$root.$options.config.token">
                <input type="hidden" name="clear" value="0">
                <div>
                    <label class="main-font">Nagłówek główny:</label>
                    <input type="text" name="mainHeader" placeholder="wpisz treść" :value="settings.main_header">
                </div>
                <div>
                    <label class="main-font">Nagłówek dolny:</label>
                    <input type="text" name="secondHeader" placeholder="wpisz treść" :value="settings.second_header">
                </div>
                <div>
                    <label class="main-font">Nazwa firmy klienta:</label>
                    <input type="text" name="companyName" placeholder="wpisz nazwę firmy" :value="settings.company_name">
                </div>
                <div>
                    <label class="main-font">Logo firmy klienta:</label>
                    <div class="file-upload-wrapper" data-text="Wybierz plik jpg/jpeg/png/">
                        <input name="companyLogo" type="file" class="file-upload-field" value="" accept="image/png, image/jpg, image/jpeg" @change="changeInputData($event.target, $event.target.value)" />
                        <i class="fas fa-minus-circle" v-show="logoIsSet" @click="setLogoToDelete()"></i>
                    </div>
                </div>
                <div>
                    <p class="text-font">Czy umożliwić generowanie raportów w rozszerzeniu .csv?</p> 
                    <div class="onoffswitch">
                        <input type="checkbox" id="csv-status" name="csv" tabindex="0" class="onoffswitch-checkbox" :checked="(settings.csv_status == 'on')"> 
                        <label for="csv-status" class="onoffswitch-label">
                            <span class="onoffswitch-inner"></span> 
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>

                <input class="btn default-btn m-btn" type="submit" value="EDYTUJ USTAWIENIA">
            </form>
        </section>
    </span>
</template>

<script>

export default {
    name: 'admin-settings-general',
    props: {
        'data': Object
    },
    created() {
        if (this.data.settings.company_logo != null) {
            this.logoIsSet = 1
        }
    },
    mounted() {
        if (this.data.settings.company_logo != null) {
            $('.file-upload-wrapper').attr('data-text', this.data.settings.company_logo);
        }
    },
    data() {
        return {
            settings: this.data.settings,
            logoIsSet: 0
        }
    },
    methods: {
        changeInputData(input, path) {
            let file = path.substring(path.lastIndexOf("\\") + 1, path.length);
            $(input.parentElement).attr('data-text', file)
            this.logoIsSet = 1
        },
        setLogoToDelete() {
            $('input[name="clear"]').val(1)
            $('.file-upload-wrapper').attr('data-text', 'Wybierz plik jpg/jpeg/png/');
            this.logoIsSet = 0;
        }
    }
}
</script>


<style scoped>
.file-upload-wrapper {
	position: relative;
    width: 30%;
    height: 70px;
}
.file-upload-wrapper i {
    position: absolute;
    right: 8px;
    top: 23px;
    font-size: 16px;
    transition: .3s;
    cursor: pointer;
    color: var(--red);
}
.file-upload-wrapper i:hover {
    transform: scale(1.1);
}
 .file-upload-wrapper:after {
     content: attr(data-text);
    font-size: 12px;
    position: absolute;
    top: 13px;
    left: 0;
    background: var(--white);
    padding: 10px 12px;
    width: 185px;
    pointer-events: none;
    font-family: var(--secondFont);
    z-index: 20;
    color: #999;
    border-radius: 5px 10px 10px 5px;
    font-weight: 300;
}
 .file-upload-wrapper:before {
	content: 'DODAJ';
    position: absolute;
    top: 13px;
    right: 36px;
    background: var(--decor);
    color: var(--mainBg);
    font-family: var(--mainFont);
    font-weight: 700;
    z-index: 25;
    font-size: 14px;
    line-height: 37px;
    padding: 0 12px;
    text-transform: uppercase;
    pointer-events: none;
    border-radius: 0 5px 5px 0;
}
 .file-upload-wrapper input {
	opacity: 0;
    position: absolute;
    top: 12px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    margin: 0;
    padding: 0;
    width: 258px;
    height: 37px;
    display: block;
    cursor: pointer;
}

form.general {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
}
form.general input[type="text"] {
    min-width: 24rem;
}
form.general div:not([class]) {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 0;
}
form.general div label.main-font {
    min-width: 200px;
}

form.general div p {
    width: 50%;
}

</style>