<template>
    <span>
        <h2 class="title decor-line main-font">USTAWIENIA STANOWISKA</h2>
        <p class="textbox text-font">
            W poniższej sekcji możesz edytować dane wybranego stanowiska pomiarowego wraz z wybranymi dla niego czujników.
            Stanowisko musi zawierać przynajmniej jeden czujnik.
        </p>
        <section class="wrapper">
            <form method="POST" action="/admin/station/edit" class="settings">
                <input type="hidden" name="_token" v-model="$root.$options.config.token">
                <input type="hidden" name="station" v-model="station.id">
                <div>
                    <label class="main-font">Nazwa stanowiska:</label>
                    <input type="text" name="stationName" :placeholder="'wpisz swoją nazwę stanowiska'" :value="station.name">
                </div>
                <div>
                    <label class="main-font">Lokalizacja stanowiska:</label>
                    <input type="text" name="stationLocation" placeholder="wpisz własną lokalizację" :value="station.location">
                </div>
                <div>
                    <div>
                        <label class="main-font">Widoczność stanowiska:</label>
                        <div class="onoffswitch">
                            <input type="checkbox" name="visibility" id="station-status" class="onoffswitch-checkbox" tabindex="0" checked v-if="station.visibility == 'on'">
                            <input type="checkbox" name="visibility" id="station-status" class="onoffswitch-checkbox" tabindex="0" v-else>
                            <label class="onoffswitch-label" for="station-status">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <label class="main-font">Wysyłka e-mail o progach:</label>
                        <div class="onoffswitch">
                            <input type="checkbox" name="sendAlerts" id="station-alerts-status" class="onoffswitch-checkbox" tabindex="0" checked v-if="station.sending_alert_raport == 'on'">
                            <input type="checkbox" name="sendAlerts" id="station-alerts-status" class="onoffswitch-checkbox" tabindex="0" v-else>
                            <label class="onoffswitch-label" for="station-alerts-status">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div>
                    <label class="main-font">Dodaj czujnik:</label>
                    <div class="sensors-chx">
                        <label class="container" v-for="(sensor, index) in allSensors" :key="index">
                            <span v-if="sensor.location.length > 0">{{ sensor.serial_number }}, czujnik: {{ sensor.location }}</span>
                            <span v-else>{{ sensor.serial_number }}, czujnik nr: {{ sensor.number }}</span>
                            <input type="checkbox" @click="changeAmount(sensor)" checked v-if="checkSensor(sensor)">
                            <input type="checkbox" @click="changeAmount(sensor)" v-else>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="dropdown-wrapper" v-for="(sensor, index) in sensors" :key="++index">
                    <span>
                        <span v-if="sensor.name !== undefined">
                             <p v-if="(sensor.name !== null && sensor.name.length > 0) && 
                            ((sensor.location !== null && sensor.location.length > 0) 
                            || (sensor.mainSensorsLocation !== null && sensor.mainSensorsLocation.length > 0)) ">
                                <span class="decor">{{ sensor.name }}</span>
                                , lokalizacja: 
                                <span class="decor">{{ sensor.location }}</span>
                            </p>
                            <p v-else-if="sensor.name !== null && sensor.name.length > 0">
                                <span class="decor">{{ sensor.name }}</span>
                                , czujnik numer: 
                                <span class="decor">{{ sensor.mainSensorsNumber }}</span>
                            </p>
                            <p v-else>
                                <span class="decor">{{ sensor.serialNumber }}</span>
                                , czujnik numer: 
                                <span class="decor">{{ sensor.mainSensorsNumber }}</span>
                            </p>
                        </span>
                        <span v-else>
                            <p v-if="sensor.location !== null && sensor.location.length > 0">
                                <span class="decor">{{ sensor.serial_number }}</span>, czujnik: {{ sensor.location }}
                            </p>
                            <p v-else> 
                                <span class="decor">{{ sensor.serial_number }}</span>, czujnik nr: {{ sensor.number }}
                            </p>
                        </span>
                        <div>
                            <div>
                                <label class="main-font">Nazwa czujnika:</label>
                                <input type="text" placeholder="wpisz nazwę własną" :name="'sensors['+sensor.id+'][name]'" :value="sensor.name">
                            </div>
                        </div>
                        <div>
                            <div>
                                <label class="main-font">Lokalizacja czujnika:</label>
                                <input type="text" placeholder="wpisz lokalizacje własną" :name="'sensors['+sensor.id+'][location]'" :value="sensor.location">
                            </div>
                        </div>
                        <div>
                            <label class="main-font">Widoczność czujnika:</label>
                            <div class="onoffswitch">
                                <input type="checkbox" class="onoffswitch-checkbox" :id="'sensor_'+index" tabindex="0" :name="'sensors['+sensor.id+'][visibility]'" checked v-if="sensor.visibility == 'on'">
                                <input type="checkbox" class="onoffswitch-checkbox" :id="'sensor_'+index" tabindex="0" :name="'sensors['+sensor.id+'][visibility]'" v-else>
                                <label class="onoffswitch-label" :for="'sensor_'+index">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                        <div>
                            <label class="main-font">Pokazuj wartość:</label>
                            <div class="values-chx">
                                <label class="container">
                                    Temperatury
                                    <input type="checkbox" checked :name="'sensors['+sensor.id+'][vals][temp]'" v-if="sensor.showing_values != undefined && sensor.showing_values.includes('temp')">
                                    <input type="checkbox" checked :name="'sensors['+sensor.id+'][vals][temp]'" v-if="sensor.showing_values == undefined">
                                    <input type="checkbox" :name="'sensors['+sensor.id+'][vals][temp]'" v-else>
                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    Ciśnienia
                                    <input type="checkbox" checked :name="'sensors['+sensor.id+'][vals][press]'" v-if="sensor.showing_values != undefined && sensor.showing_values.includes('press')">
                                    <input type="checkbox" checked :name="'sensors['+sensor.id+'][vals][press]'" v-if="sensor.showing_values == undefined">
                                    <input type="checkbox" :name="'sensors['+sensor.id+'][vals][press]'" v-else>

                                    <span class="checkmark"></span>
                                </label>
                                <label class="container">
                                    Wilgotności
                                    <input type="checkbox" checked :name="'sensors['+sensor.id+'][vals][humi]'" v-if="sensor.showing_values != undefined && sensor.showing_values.includes('humi')">
                                    <input type="checkbox" checked :name="'sensors['+sensor.id+'][vals][humi]'" v-if="sensor.showing_values == undefined">
                                    <input type="checkbox" :name="'sensors['+sensor.id+'][vals][humi]'" v-else>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </span> 
                </div>
                <input class="btn default-btn m-btn" type="submit" value="Edytuj stanowisko">
            </form>
        </section>
    </span>
</template>

<script>

import Modal from '../Elements/Modal.vue'

export default {
    components: { Modal },
    name: 'admin-station-settings',
    props: {
        'data': Object
    },
    data() {
        return {
            station:    this.data.station.station,
            sensors:    this.data.station.sensors,
            allSensors: this.data.allSensors
        }
    },
    methods: {
        changeAmount(sensor) {
            let id = false;
            for (let i = 0; i < this.sensors.length; ++i) {
                if (this.sensors[i]['mainSensorId'] != undefined && this.sensors[i]['mainSensorId'] == sensor.id) {
                    id = i;
                } else if (this.sensors[i]['id'] == sensor.id) {
                    id = i;
                }
            }
            let newSensors = this.sensors;
            if (typeof id == "boolean") {
                sensor.id = 'new_'+sensor.id
                sensor.visibility = 'on'
                newSensors.push(sensor)
            } else {
                newSensors.splice(id, 1);
            }
            this.sensors = newSensors
        },
        checkSensor(sensor) {
            for (let i = 0; i < this.sensors.length; ++i) {
                if (this.sensors[i]['mainSensorId'] == sensor.id) {
                    return true;
                }
            }
            return false;
        }
    }
}
</script>


<style scoped>
i.delete-icon {
    color: var(--red);
    margin: 6px 16px 6px 0;
    font-size: 1.12em;
    transition: .3s;
}
i.delete-icon:hover {
    transform: scale(1.2);
}
form {
    margin: 1rem 0;
}
.stations-list .station h3 {
    white-space: unset;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stations-list .station {
    cursor: pointer;
    transition: .3s;
}
.stations-list .station:hover {
    background-color: var(--mainGrey);
}
.sensors-chx, .values-chx {
    max-height: 6rem;
    width: 18rem;
}
.sensors-chx {
    overflow-y: scroll;
    margin: 8px 0;
}
.sensors-chx::-webkit-scrollbar {
  width: 8px;
}
.sensors-chx::-webkit-scrollbar-track {
    background-color: var(--secondGrey);
}
.sensors-chx::-webkit-scrollbar-thumb {
  background-color: var(--mainGrey);
  outline: 1px solid var(--mainGrey);
}
.values-chx {
    display: flex;
    justify-content: space-between;
    width: 78%;
    line-height: 1.9;
    align-items: flex-end;
}
.container {
   display: flex;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 14px;
    user-select: none;
    font-family: var(--secondFont);
    height: 2rem;
    align-content: center;
}
.container span {
    line-height: 1.9;
}
/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 25%;
  background-color: var(--white);
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: var(--mainGrey);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: var(--green);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
</style>