<template>
    <span>
        <modal :buttons="['accept', 'decline']" :content="modalContent" v-if="showModal" @detectReponse="setResponse"></modal>
        <h2 class="title decor-line main-font">LISTA STACJI {{ $root.$options.config.name }}</h2>
        <p class="textbox text-font">
            W poniższej sekcji znajdziesz wszystkie, aktualnie zamontowane na obiekcie, stacje {{ $root.$options.config.name }} 
        </p>
        <section class="wrapper" v-if="smats.length > 0">
            <div class="data-list s-table" ref="table">
                <!-- TABLE HEAD -->
                <div class="head main-font">
                    <div class="row">
                        <div class="cell">Lp</div>
                        <div class="cell">Numer seryjny</div>
                        <div class="cell">Lokalizacja</div>
                        <div class="cell">Data wzorcowania</div>
                        <div class="cell">Następne wzorcowanie</div>
                        <div class="cell">Czujniki</div>
                        <div class="cell" v-show="$session.get('role') == 'dev'">Akcja</div>
                    </div>
                </div>
                <!-- END TABLE HEAD -->
                <!-- TABLE BODY -->
                <div class="body">
                    <div class="row text-font" v-for="(smat, index) in smats" :key="++index">
                        <div class="cell">
                            {{ index }}
                        </div>
                        <div class="cell">
                            {{ smat.config.serial_number }}
                        </div>
                        <div class="cell">
                            {{ smat.config.location }}
                        </div>
                         <div class="cell" v-if="smat.config.calibration_date !== null">
                            {{  new Date.parse(smat.config.calibration_date).toString('dd/MM/yyyy') }}
                        </div>
                         <div class="cell" v-else>
                            -
                        </div>
                        <div class="cell" v-if="smat.config.calibration_end_date !== null">
                            {{  new Date.parse(smat.config.calibration_end_date).toString('dd/MM/yyyy') }}
                        </div>
                        <div class="cell" v-else>
                            -
                        </div>
                        <div class="cell">
                            <div class="data-list s-table" ref="table">
                                <!-- TABLE HEAD -->
                                <div class="head main-font">
                                    <div class="row">
                                        <div class="cell">Nr</div>
                                        <div class="cell">Lokalizacja</div>
                                        <div class="cell">Kalibracja temperatury</div>
                                        <div class="cell">Kalibracja ciśnienia</div>
                                        <div class="cell">Kalibracja wilgotności</div>
                                    </div>
                                </div>
                                <div class="body">
                                    <div class="row text-font" v-for="(sensor, num) in smat.sensors" :key="++num">
                                        <div class="cell">
                                            {{ sensor.number }}
                                        </div>
                                        <div class="cell" v-if="sensor.location !== null && sensor.location.length > 0">
                                            {{ sensor.location }}
                                        </div>
                                        <div class="cell" v-else>
                                            -
                                        </div>
                                        <div class="cell">
                                            {{ sensor.temp_diff }}
                                        </div>
                                        <div class="cell">
                                            {{ sensor.press_diff}}
                                        </div>
                                        <div class="cell">
                                            {{ sensor.humi_diff }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cell" v-show="$session.get('role') == 'dev'">
                            <div class="cell actions">
                                <a :href="'/admin/smat/settings/'+smat.config.serial_number"><i class="fas fa-edit edit"></i></a>
                                <!-- <i @click="setModal(smat.config.serial_number)" class="fas fa-trash-alt delete"></i> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END TABLE BODY -->
            </div>
        </section>
        <section class="wrapper" v-else>
            <p class="empty-data">Brak danych do wyświetlenia</p>
        </section>
    </span>
</template>

<script>

import Modal from '../Elements/Modal.vue'

export default {
    components: { Modal },
    name: 'admin-smat-list',
    props: {
        'data': Object
    },
    data() {
        return {
            smats:          this.data.smats,
            modalContent:   null,
            showModal:      false,
            response:       null,
            toDelete:       null
        }
    },
    methods: {
        setModal(serialNumber) {
            this.modalContent   =   'Czy aby napewno chcesz usunąć stacje pomiarową, numer seryjny: <span class="decor">'+serialNumber+'</span>?';
            this.showModal      =   true
            this.toDelete       =   serialNumber
        },
        setResponse(response) {
            this.showModal = false
            if (response == 'accept') {
                this.sendDeleteRequest();
            }
        },
        sendDeleteRequest() {
            axios.post('/admin/smat/settings/delete', {params: {
                    _token: this.$root.$options.config.token,
                    serial: this.toDelete
                }
            })
            .then(response => {
                for (let i = 0; i < this.smats.length; ++i) {
                    if (this.smats[i].config.serial_number == this.toDelete) {
                        this.smats.splice(i, 1);
                    }
                }
                this.toDelete = null
            })
            .catch(error => {
                console.log(error)
            });
        }
    }
}
</script>


<style scoped>
.data-list {
    width: 100% !important;
}
</style>