<template>
    <span>
        <h2 class="title decor-line main-font">USTAWIENIA KONTA UŻYTKOWNIKA</h2>
        <p class="textbox text-font">
            W poniższej sekcji możesz zmienić ustawienia konta wybranego użytkownika. Adres e-mail jest nadawany jednorazowo, aby go zmienić należy usunąć
            konto i utworzyć nowe. Administratorzy ozaznaczeni są na <span class="decor">żółto</span>.
        </p>
        <section class="wrapper">
            <form method="POST" action="/admin/user/settings/edit" class="settings">
                <input type="hidden" name="_token" v-model="$root.$options.config.token">
                <input type="hidden" name="id" :value="user.id">
                <div>
                    <label class="main-font">Adres e-mail:</label>
                    <input type="email" name="username" placeholder="wpisz adres e-mail" :value="user.username" readonly>
                </div>
                <div>
                    <label class="main-font">Imię i Nazwisko:</label>
                    <input type="text" name="name" placeholder="wpiszę imię" :value="user.name">
                    <input type="text" name="surname" placeholder="wpiszę nazwisko" :value="user.surname">
                </div>
                <div>
                    <label class="main-font">Typ konta</label>
                    <select name="userType">
                        <option value="user" selected v-if="user.user_type == 'user'">Użytkownik</option>
                        <option value="user" v-else>Użytkownik</option>
                        <option value="admin" selected v-if="user.user_type == 'admin'">Administrator</option>
                        <option value="admin" v-else>Administrator</option>
                    </select>
                </div>
                <div>
                    <label class="main-font">Numer telefonu</label>
                    <input type="text" name="phoneNumber" placeholder="wpiszę numer kontaktowy" :value="user.phone_number">
                </div>
                <div>
                    <label class="main-font">Widoczne stanowiska:</label>
                    <input type="hidden" name="stations" :value="JSON.stringify(checkedStations)">
                    <div class="sensors-chx">
                        <label class="container">
                            <span>Wszystkie</span>
                            <input type="checkbox" @click="checkAll($event.target.checked)">
                            <span class="checkmark"></span>
                        </label>
                        <label class="container" v-for="station in stations" :key="station.id">
                            <span>{{ station.name }}</span>
                            <input type="checkbox" :value="station.id" v-model="checkedStations">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div>
                    <label class="main-font">Wysyłka alarmów:</label>
                    <div class="onoffswitch">
                        <input type="checkbox" name="alertRaport" id="alerts-switch" class="onoffswitch-checkbox" tabindex="0" checked v-if="user.alert_raport == 'on'">
                        <input type="checkbox" name="alertRaport" id="alerts-switch" class="onoffswitch-checkbox" tabindex="0" v-else>
                        <label class="onoffswitch-label" for="alerts-switch">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
                <div>
                    <label class="main-font">Wysyłka auto-raportów:</label>
                    <div class="onoffswitch">
                        <input type="checkbox" name="autoRaport" id="raports-switch" class="onoffswitch-checkbox" tabindex="0" checked v-if="user.auto_raport == 'on'">
                        <input type="checkbox" name="autoRaport" id="raports-switch" class="onoffswitch-checkbox" tabindex="0" v-else>
                        <label class="onoffswitch-label" for="raports-switch">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
                <input class="btn default-btn m-btn" type="submit" value="edytuj użytkownika">
            </form>
        </section>
    </span>
</template>

<script>


export default {
    name: 'admin-user-edit',
    props: {
        'data': Object
    },
    data() {
        return {
            user:              this.data.user,
            stations:          this.data.stations.data.stations,
            checkedStations:    [],
        }
    },
    mounted() {
        this.checkChxs()
    },
    methods: {
        checkAll(state) {
            let chxs = $('.sensors-chx input[type="checkbox"]')
            for (let i = 0; i < chxs.length; ++i) {
                if (state && !$(chxs[i]).prop('checked')) {
                    $(chxs[i]).click()
                } else if (!state && $(chxs[i]).prop('checked')) {
                    $(chxs[i]).click()
                }
            }
        },
        checkChxs() {
            let chxs        = $('.sensors-chx input[type="checkbox"]')
            let stations    = JSON.parse(this.user.visible_stations);
            $(chxs).prop('checked', false)
            if (stations[0] == 'all') {
                for (let i = 1; i < chxs.length; ++i) {
                    $(chxs[i]).click()
                }
            } else {
                $(chxs[0]).prop('checked', false)
                if (stations != null) {
                    for (let i = 1; i < chxs.length; ++i) {
                        $.each(stations, function(key, value) {
                            if (chxs[i].value == value) {
                                $(chxs[i]).click()
                            }
                        });
                    }
                }
            }
        }
    }
}
</script>


<style scoped>
i.delete-icon {
    color: var(--red);
    margin: 6px 16px 6px 0;
    font-size: 1.12em;
    transition: .3s;
}
i.delete-icon:hover {
    transform: scale(1.2);
}
.users-list .user h3 {
    white-space: unset;
}
.users-list .user {
    cursor: pointer;
    transition: .3s;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.users-list .user:hover {
    background-color: var(--mainGrey);
}
.sensors-chx, .values-chx {
    max-height: 6rem;
    width: 12rem;
}
.sensors-chx {
    overflow-y: scroll;
    margin: 8px 0;
}
.sensors-chx::-webkit-scrollbar {
  width: 8px;
}
.sensors-chx::-webkit-scrollbar-track {
    background-color: var(--secondGrey);
}
.sensors-chx::-webkit-scrollbar-thumb {
  background-color: var(--mainGrey);
  outline: 1px solid var(--mainGrey);
}
.values-chx {
    display: flex;
    justify-content: space-between;
    width: 78%;
    line-height: 1.9;
    align-items: flex-end;
}
.container {
    display: flex;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 14px;
    user-select: none;
    font-family: var(--secondFont);
    height: 2rem;
    align-content: center;
}
.container span {
    line-height: 1.9;
}
/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 25%;
  background-color: var(--white);
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: var(--mainGrey);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: var(--green);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.sensor-wrapper {
    border: 1px solid var(--secondGrey);
    padding: 1rem 0;
    max-width: 50%;
    margin: 1rem auto;
}
.sensor-wrapper p {
    font-family: var(--mainFont);
    font-size: 18px;
    padding: 0;
    margin: .55rem;
}
.smats-list {
    margin-bottom: 2rem;
}
.wrapper p {
    text-align: center;
}
form.edit-smat {
    margin-top: 1rem;
}
form.settings div:not([class]) {
    display: flex;
    justify-content: space-between;
    width: 30rem;
    margin: 0 auto;
    padding: 2px 0;
    align-items: center;
}
form.settings input.btn {
    display: flex;
    justify-content: center;
    margin: 12px auto;
}

</style>
