<template>
    <span>
        <h2 class="title decor-line main-font">USTAWIENIA AUTO-RAPORTÓW</h2>
        <p class="textbox text-font">
            W poniższej sekcji możesz edytować już istniejące auto-raporty. W celu usunięcia autoraportu, przejdź do <span class="decor">LISTA AUTO-RAPORTÓW</span>
        </p>
        <section class="wrapper" v-if="raports.length > 0">
            <form method="POST" action="/admin/raports/edit" class="raports">
                <input type="hidden" name="_token" v-model="$root.$options.config.token">
                <input type="hidden" name="id" :value="raportToEdit.id">
                <div>
                    <label class="main-font">Wyślij do:</label>
                    <div class="mail-box">
                        <span>
                            <input type="email" name="new-email" placeholder="wpisz nowy e-mail" value="">
                            <i class="fas fa-plus" aria-hidden="true" @click="addEmail($event.target)"></i>
                        </span>
                        <div class="mail-wrapper box">
                            <label class="checkbox-label" v-for="(email, index) in emails" :key="++index">
                                <input type="checkbox" name="emails[]" :value='email' :checked="raportToEdit.emails.includes(email)">
                                <span class="checkbox-custom"><span></span></span> 
                                <span class="label-text">
                                    {{ email }}
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div>
                    <label class="main-font">W dniu:</label>
                    <div class="days-wrapper box">
                        <label class="checkbox-label">
                            <input type="checkbox" name="days[]" value="monday" :checked="JSON.parse(raportToEdit.sending_days).indexOf('monday') > -1">
                            <span class="checkbox-custom"><span></span></span> 
                            Poniedziałek
                        </label>
                        <label class="checkbox-label">
                            <input type="checkbox" name="days[]" value="tuesday" :checked="JSON.parse(raportToEdit.sending_days).indexOf('tuesday') > -1">
                            <span class="checkbox-custom"><span></span></span> 
                            Wtorek  
                        </label>
                        <label class="checkbox-label">
                            <input type="checkbox" name="days[]" value="wednesday" :checked="JSON.parse(raportToEdit.sending_days).indexOf('wednesday') > -1">
                            <span class="checkbox-custom"><span></span></span> 
                            Środa
                        </label>
                        <label class="checkbox-label">
                            <input type="checkbox" name="days[]" value="thursday" :checked="JSON.parse(raportToEdit.sending_days).indexOf('thursday') > -1">
                            <span class="checkbox-custom"><span></span></span> 
                            Czwartek
                        </label>
                        <label class="checkbox-label">
                            <input type="checkbox" name="days[]" value="friday" :checked="JSON.parse(raportToEdit.sending_days).indexOf('friday') > -1">
                            <span class="checkbox-custom"><span></span></span> 
                            Piątek
                        </label>
                        <label class="checkbox-label">
                            <input type="checkbox" name="days[]" value="saturday" :checked="JSON.parse(raportToEdit.sending_days).indexOf('saturday') > -1">
                            <span class="checkbox-custom"><span></span></span> 
                            Sobota
                        </label>
                        <label class="checkbox-label">
                            <input type="checkbox" name="days[]" value="sunday" :checked="JSON.parse(raportToEdit.sending_days).indexOf('sunday') > -1">
                            <span class="checkbox-custom"><span></span></span> 
                            Niedziela
                        </label>
                    </div>
                </div>
                <div>
                    <label class="main-font">Pomiary z stanowiska:</label>
                    <div class="station-wrapper box">
                        <label class="checkbox-label" v-for="station in stations" :key="station.id">
                            <input type="checkbox" name="stations[]" :value='station.id' :checked="JSON.parse(raportToEdit.stations).indexOf((station.id).toString()) > -1">
                            <span class="checkbox-custom"><span></span></span> 
                            <span class="label-text">{{ station.name }}</span>
                        </label>
                    </div>
                </div>
                <div>
                    <label class="main-font">Pomiary z:</label>
                    <select name="frequency">
                        <option 
                            v-for="filtr in filtrs" 
                            :key="filtr.id" 
                            v-if="filtr.type == 'days' && filtr.status == 'on'" 
                            :value="filtr.number"
                            :selected="filtr.number == raportToEdit.frequency"
                        >
                        {{ filtr.name }}
                        </option>
                    </select>
                </div>
                <div>
                    <label class="main-font">Mierzone co:</label>
                    <select name="interval">
                        <option 
                            v-for="filtr in filtrs" 
                            :key="filtr.id"
                            v-if="filtr.type == 'interval' && filtr.status == 'on'" 
                            :value="filtr.number"
                            :selected="filtr.number == raportToEdit.interval"
                        >
                        {{ filtr.name }}
                        </option>
                    </select>
                </div>
                <div>
                    <label class="main-font">Od godziny:</label>
                    <input type="time" name="start-time" :value="Date.parse(raportToEdit.start_time).toString('HH:mm')">
                </div>
                <div>
                    <label class="main-font">Wyślij o:</label>
                    <input type="time" name="sending-time" :value="Date.parse(raportToEdit.sending_time).toString('HH:mm')">
                </div>
                <input class="btn default-btn m-btn" type="submit" value="edytuj auto-raport">
            </form> 
        </section>
        <section class="wrapper" v-else>
            <p class="empty-data">Brak danych do wyświetlenia</p>
        </section>
    </span>
</template>

<script>


export default {
    name: 'admin-raports-settings',
    props: {
        'data': Object
    },
    data() {
        return {
            stations:       this.data.stations.stations,
            emails:         this.data.users.users,
            filtrs:         this.data.filtrs.data.filtrs,
            raports:        this.data.raports.data,
            raportToEdit:   this.data.raportToEdit
        }
    },
    created() {
       var newEmails = Object.values(JSON.parse(this.raportToEdit.emails))
        for (let i = 0; i < this.emails.length; ++i) {
            if (Object.values(JSON.parse(this.raportToEdit.emails)).indexOf(this.emails[i].username) == -1) {
                newEmails.push(this.emails[i].username)
            }
        }
        this.emails = newEmails
    },
    mounted() {
        console.log(this.data.raportToEdit)
        document.addEventListener('click', function(e){
            if (e.target.nodeName == 'I' && e.target.classList.contains('delete')) {
                $(e.target.parentElement).remove()
            }
        });
    },
    methods: {
        addEmail(el) {
            var validation = function(email) {
                var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                return regex.test(email);
            }
            let email = $(el).prev().val().trim();
            // check input name & val
            if ($(el).prev().attr('name') == 'new-email' && email.length > 0) {
                // check email validation
                if (validation(email)) {
                    // clear input and clone
                    var newEmailSec = $($('.mail-wrapper .checkbox-label')[0])
                    .clone()
                    .append($('<i class="fas fa-times delete"></i>').css({
                        'color': 'var(--red)',
                        'cursor': 'pointer'
                    }));
                    $('.mail-box input[type="email"]').val(null);
                    $(newEmailSec).find('input').attr({
                        'value': email,
                        'checked': true
                    });
                    $(newEmailSec).find('span.label-text').text(email);
                    $(newEmailSec).appendTo('.mail-wrapper');
                }
            }
        }
    }
}
</script>


<style scoped>
section.wrapper form div:not([class]) {
    display: flex;
    align-items: unset;
    justify-content: unset;
    padding: unset;
    width: 50%;
}
form.raports i {
    padding: 6px;
    color: var(--green);
    cursor: pointer;
}
form.raports label.main-font {
    display: flex;
    align-items: center;
    background-color: var(--bgH);
    text-indent: 60px;
    border: 2px solid var(--bgH);
    padding: .5rem;
    min-width: 240px;
}
form.raports .mail-box {
    width: 50%;
    text-align: center;
}
form.raports .mail-wrapper {
    width: 100% !important;
}
form.raports .mail-wrapper,
form.raports .station-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
form.raports input, 
form.raports select {
    margin: 8px auto;
}
form.raports label.container {
    display: flex;
    padding: .5rem;
}

/* CHECKBOXES */
form.raports .checkbox-label {
    position: relative;
    padding: .5rem;
    margin-left: 2rem;
    text-indent: 38px;
    font-family: var(--mainFont);
    width: 40%;
    white-space: nowrap;
    text-align: left;
}
form.raports .mail-wrapper .checkbox-label {
    text-indent: 0;
    display: flex;
    min-width: 68%;
    align-items: center;
}
form.raports .checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 24px;
    width: 24px;
    top: 10px;
    left: 6px;
}
form.raports .checkbox-label input:checked ~ .checkbox-custom span {
    background-color: var(--green);
}
form.raports .checkbox-label .checkbox-custom {
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 2px solid var(--mainGrey);
    margin: 5px 8px;
    cursor: pointer;
    left: 0;
    top: 0;
}
form.raports .days-wrapper,
form.raports .station-wrapper,
form.raports .mail-wrapper {
    max-height: 120px;
    min-height: 12px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 12px 0px;
    border-top: 2px solid var(--bgH);
    border-bottom: 2px solid var(--bgH);
}
form.raports .checkbox-label .checkbox-custom span {
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: var(--red);
    top: 4px;
    left: 4px;
}
.days-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
div.box {
    max-width: 280px;
}
form.raports input[type="submit"] {
    max-width: 14rem;
    justify-content: center;
    margin: 2rem auto;
}
span.label-text {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 210px;
    white-space: nowrap;
    text-align: left;
    display: block;
    text-indent: 38px;
}
div.box .checkbox-label:hover {
    transform: scale(1.05);
}

/* scrolls */
.days-wrapper::-webkit-scrollbar,
.station-wrapper::-webkit-scrollbar,
.mail-wrapper::-webkit-scrollbar {
  width: 8px;
}
.days-wrapper::-webkit-scrollbar-track,
.station-wrapper::-webkit-scrollbar-track,
.mail-wrapper::-webkit-scrollbar-track {
    background-color: var(--secondGrey);
}
.days-wrapper::-webkit-scrollbar-thumb,
.station-wrapper::-webkit-scrollbar-thumb,
.mail-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--mainGrey);
  outline: 1px solid var(--mainGrey);
}
</style>