<template>
 <span>
        <h2 class="title decor-line main-font">TESTY FUNKCJONALNOŚCI</h2>
        <p class="textbox text-font">
            W poniższej sekcji możesz sprawdzić poszczególne funkcjonalności systemu {{ $root.$options.config.name }}, m.in wysyłkę wiadomości e-mail.
        </p>
        <section class="wrapper">
            <form method="POST" action="/admin/tests/sendEmail" class="settings">
                <input type="hidden" name="_token" v-model="$root.$options.config.token">
                <div>
                    <label class="main-font">Wyślij testową wiadomość e-mail:</label>
                    <input class="btn default-btn m-btn" type="submit" value="Wyślij">
                </div>
            </form>
        </section>
    </span>
</template>

<script>

export default {
    name: 'admin-tests',
}
</script>


<style scoped>
</style>