<template>
    <span>
        <modal :buttons="button" :content="modalContent" v-if="showModal" @detectReponse="setResponse"></modal>
        <h2 class="title decor-line main-font">CZYSZCZENIE BAZY DANYCH</h2>
        <p class="textbox text-font">
            W poniższej sekcji możesz wyczyścić <span class="decor">bazę danych tego obiektu</span>. Wyczyszczenie obejmuje dane z czujników oraz zapisane logi.
            <br><span class="error">UWAGA:</span> wyczyszczenie spowoduje <span class="decor">utratę danych bez możliwości ich odzyskania!</span>
        </p>
        <section class="wrapper">
            <form method="POST" action="/admin/database/clean" class="general" enctype="multipart/form-data">
                <input type="hidden" name="_token" v-model="$root.$options.config.token">
                <div>
                    <label class="main-font">Wyczyść do dnia:</label>
                    <input type="date" name="end-date-clean" :value="moment().format('YYYY-MM-DD')">
                    
                </div>
                <div>
                    <label class="main-font">do godziny</label>
                    <input type="time" name="end-time-clean" :value="moment().format('HH:mm')">
                </div>

                <input class="btn warning-btn m-btn" type="submit" @click="setModal($event)" value="WYCZYŚĆ BAZĘ">
            </form>
        </section>
    </span>
</template>

<script>

import moment from 'moment'
import Modal from '../Elements/Modal.vue'

export default {
    name: 'admin-database',
    components: {
        Modal
    },
    data() {
        return {
            showModal: false,
            button: ['accept', 'close'],
            response: ''
        }
    },
    methods: {
        moment: function() {
            return moment();
        },
        setModal(e = false) {
            if (this.response == '') {
                e.preventDefault();
            }
            this.showModal = true
            this.modalContent   =   'Wyczyszczenie bazy danych spowoduje utratę danych. Czy chcesz kontynuować?';
        },
        setResponse(response) {
            if (response == 'close') {
                this.showModal = false
            } else {
                this.response = response
                $("input[type='submit']").click();
            }
        },
    }
}

</script>

<style scoped>
.warning-btn {
    background-color: var(--red);
    display: inline-block;
}
.warning-btn:hover {
    background: linear-gradient(var(--red), var(--redH));

}
</style>