<template>
    <span>
        <modal :buttons="['accept', 'decline']" :content="modalContent" v-if="showModal" @detectReponse="setResponse"></modal>
        <h2 class="title decor-line main-font">LISTA UŻYTKOWNIKÓW</h2>
        <p class="textbox text-font">
            W poniższej sekcji znajdziesz konta wszystkich użytkowników. Aby edytować, wybierz ikonę edycji w kolumne <span class="decor">AKCJA</span>
        </p>
        <section class="wrapper">
            <div class="data-list s-table" ref="table">
                <!-- TABLE HEAD -->
                <div class="head main-font">
                    <div class="row">
                        <div class="cell">Nr</div>
                        <div class="cell">Adres e-mail</div>
                        <div class="cell">Imię i Nazwisko</div>
                        <div class="cell">Telefon</div>
                        <div class="cell">Widoczne stanowiska</div>
                        <div class="cell">Typ konta</div>
                        <div class="cell">Wysyłka alarmów</div>
                        <div class="cell">Wysyłka auto-raportów</div>
                        <div class="cell">Ostatnie logowanie</div>
                        <div class="cell">Akcja</div>
                    </div>
                </div>
                <!-- END TABLE HEAD -->
                <!-- TABLE BODY -->
                <div class="body">
                    <div class="row text-font" v-for="(user, index) in users" :key="++index">
                        <div class="cell">
                            {{ index }}
                        </div>
                        <div class="cell">
                            {{ user.username }}
                        </div>
                        <div class="cell" v-if="(user.name).length > 0 && (user.surname).length > 0">
                            {{ user.name }} {{ user.surname }}
                        </div>
                        <div class="cell" v-else>
                            -
                        </div>
                        <div class="cell" v-if="(user.phone_number).length > 0">
                            {{ user.phone_number }}
                        </div>
                        <div class="cell" v-else>-</div>
                        <div class="cell" v-if="user.visible_stations != null">
                            <span v-for="station in JSON.parse(user.visible_stations)" :key="station">
                                <div v-if="station == 'all'">wszystkie</div>
                                <div v-else>Id: {{ station }}</div>
                            </span>
                        </div>
                        <div class="cell" v-else>żadne</div>
                        <div class="cell" v-if="user.user_type == 'dev' || user.user_type == 'admin'">
                            <span class="decor" v-if="user.user_type == 'dev'">Deweloper</span>
                            <span class="decor" v-else>Administrator</span>
                        </div>
                        <div class="cell" v-else>Użytkownik</div>
                        <div class="cell">
                            <div class="onoffswitch">
                                <input type="checkbox" name="onoffswitch" id="alerts-switch" class="onoffswitch-checkbox" tabindex="0" disabled checked v-if="user.alert_raport == 'on'">
                                <input type="checkbox" name="onoffswitch" id="alerts-switch" class="onoffswitch-checkbox" tabindex="0" disabled v-else>
                                <label class="onoffswitch-label" for="alerts-switch">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                        <div class="cell">
                            <div class="onoffswitch">
                                <input type="checkbox" name="onoffswitch" id="raports-switch" class="onoffswitch-checkbox" tabindex="0" disabled checked v-if="user.auto_raport == 'on'">
                                <input type="checkbox" name="onoffswitch" id="raports-switch" class="onoffswitch-checkbox" tabindex="0" disabled v-else>
                                <label class="onoffswitch-label" for="raports-switch">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                        <div class="cell" v-if="user.logged != null">{{ Date.parse(user.logged ).toString("dd/MM/yyyy HH:MM")}}</div>
                        <div class="cell" v-else>Brak danych</div>
                        <div class="cell">
                            <div class="actions">
                                <a :href="'/admin/user/edit/'+user.id"><i class="fas fa-edit edit" v-if="user.user_type !== 'dev'"></i></a>
                                <i @click="setModal(user)" v-if="user.user_type != 'dev'" class="fas fa-trash-alt delete"></i>
                            </div>
                        </div>
                    </div>
                </div>  
                <!-- END TABLE BODY -->
            </div>
        </section>
    </span>
</template>

<script>

import Modal from '../Elements/Modal.vue'

export default {
    components: { Modal },
    name: 'admin-user-list',
    props: {
        'data': Object
    },
    data() {
        return {
            users:          this.data.users,
            modalContent:   null,
            showModal:      false,
            response:       null,
            toDelete:       null
        }
    },
    methods: {
        setModal(user) {
            this.modalContent   =   'Czy aby napewno chcesz usunąć użytkownika, adres e-mail: <span class="decor">'+user.username+'</span>?';
            this.showModal      =   true
            this.toDelete       =   user.id
        },
        setResponse(response) {
            this.showModal = false
            if (response == 'accept') {
                this.sendDeleteRequest();
            }
        },
        sendDeleteRequest() {
            axios.post('/admin/user/delete', {params: {
                    _token: this.$root.$options.config.token,
                    id: this.toDelete
                }
            })
            .then(response => {
                for (let i = 0; i < this.users.length; ++i) {
                    if (this.users[i].id == this.toDelete) {
                        this.users.splice(i, 1);
                    }
                }
                this.toDelete = null
            })
            .catch(error => {
                console.log(error)
            });
        }
    }
}
</script>


<style scoped>
.data-list .actions {
    display: flex;
    justify-content: center;
    align-items: center;
}
.data-list .actions i {
    font-size: 16px;
    padding: 0 6px;
}
.data-list  .actions i.fa-edit {
    color: var(--green);
}
.data-list .actions i.delete {
    color: var(--red);
}
.onoffswitch-inner:before {
    margin-left: -6px;
    padding-left: unset;
}
.data-list {
    max-width: 1200px !important;
    min-width: 50% !important;
    display: table !important;
    width: unset !important;
}
.data-list .body .row:nth-child(even) {
    background-color: var(--bgH);
}
.data-list .head i {
    cursor: pointer;
}
.data-list .head i.sort-up {
    color: var(--green);
}
.data-list .head i.sort-down {
    color: var(--blue);
}
.cell .actions {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cell .actions i {
    color: var(--green);
}

/* RWD */
@media (max-width: 883px) {
    .data-list .head .cell {
        font-size: 0.95rem !important;
    }
    .data-list .body .cell {
        font-size: 0.75rem !important;
    }
} 
</style>