<template>
    <span>
        <modal :buttons="['accept', 'decline']" :content="modalContent" v-if="showModal" @detectReponse="setResponse"></modal>
        <h2 class="title decor-line main-font">LISTA AUTO-RAPORTÓW </h2>
        <p class="textbox text-font">
            W poniższej sekcji znajdziesz wszystkie, aktualnie utworzone auto-raporty.
        </p>
        <section class="wrapper" v-if="raports.length > 0">
            <div class="data-list" ref="table">
                <!-- TABLE HEAD -->
                <div class="head main-font">
                    <div class="row">
                        <div class="cell">Lp</div>
                        <div class="cell">Wyślij do</div>
                        <div class="cell">W każdy</div>
                        <div class="cell">Wyślij o</div>
                        <div class="cell">Pomiary z</div>
                        <div class="cell">Mierzone co</div>
                        <div class="cell">Pomiary od godz.</div>
                        <div class="cell">Ostatnio wysłany</div>
                        <div class="cell">Akcja</div>
                    </div>
                </div>
                <!-- END TABLE HEAD -->
                <!-- TABLE BODY -->
                <div class="body">
                    <div class="row text-font" v-for="(raport, index) in raports" :key="++index">
                        <div class="cell">
                            {{ index }}
                        </div>
                        <div class="cell">
                            <div class="data-list" ref="table">
                                <!-- TABLE HEAD -->
                                <div class="head main-font">
                                    <div class="row">
                                        <div class="cell">E-mail</div>
                                    </div>
                                </div>
                                <div class="body">
                                    <div class="row text-font" v-for="(email, num) in JSON.parse(raport.emails)" :key="++num">
                                        <div class="cell">
                                            {{ email }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cell">
                            <div class="data-list" ref="table">
                                <!-- TABLE HEAD -->
                                <div class="head main-font">
                                    <div class="row">
                                        <div class="cell">Dzień</div>
                                    </div>
                                </div>
                                <div class="body">
                                    <span v-if="JSON.parse(raport.sending_days).length != 7">
                                        <div class="row text-font" 
                                            v-for="(day, num) in JSON.parse(raport.sending_days)" 
                                            :key="++num"
                                        >
                                            <div class="cell">
                                                {{ getDayName(day) }}
                                            </div>
                                        </div>
                                    </span>
                                    <div class="row text-font" v-else>
                                        <div class="cell">każdy dzień tygodnia</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cell">
                            {{ Date.parse(raport.sending_time).toString('HH:mm') }}
                        </div>
                        <div class="cell">
                            {{ countFrequency(raport.frequency) }}
                        </div>
                        <div class="cell">
                            {{ countInterval(raport.interval) }}
                        </div>
                        <div class="cell">
                            {{ Date.parse(raport.start_time).toString('HH:mm') }}
                        </div>
                        <div class="cell" v-if="raport.status != null">
                            {{ Date.parse(raport.status).toString('dd/MM/yyyy HH:mm') }}
                        </div>
                        <div class="cell" v-else>
                            w oczekiwaniu<br>na termin
                        </div>
                        <div class="cell">
                            <div class="actions">
                                <a :href="'/admin/raports/settings/'+raport.id"><i class="fas fa-edit edit"></i></a>
                                <i @click="setModal(raport.id)" class="fas fa-trash-alt delete"></i>
                            </div>
                        </div>
                    </div>
                </div>  
                <!-- END TABLE BODY -->
            </div>
        </section>
        <section class="wrapper" v-else>
            <p class="empty-data">Brak danych do wyświetlenia</p>
        </section>
    </span>
</template>

<script>

import Modal from '../Elements/Modal.vue'
import Pagination from '../Elements/Pagination.vue'

export default {
    components: { Modal, Pagination },
    name: 'admin-raports-list',
    props: {
        'data': Object
    },
    // mounted() {
    //     console.log(this.data);
    // },
    data() {
        return { 
            raports:            this.data.data,
            modalContent:       null,
            showModal:          false,
            response:           null,
            toDelete:           null
        }
    },
    methods: {
        getDayName(day) {
            switch (day.toLowerCase()) {
                case "monday":      { return 'Poniedziałek'; } break;
                case "tuesday":     { return 'Wtorek'; } break;
                case "wednesday":   { return 'Środa'; } break;
                case "thursday":    { return 'Czwartek'; } break;
                case "friday":      { return 'Piątek'; } break;
                case "saturday":    { return 'Sobota'; } break;
                case "sunday":      { return 'Niedziela'; } break;
            }
        },
        setModal(id) {
            this.modalContent   =   'Czy aby napewno chcesz usunąć wybrany <span class="decor">autoraport</span>?';
            this.showModal      =   true
            this.toDelete       =   id
        },
        countInterval(interval) {
            switch (interval) {
                 case 1:        { return '24h'; } break;
                 case 21600:    { return '6h'; } break;
                 case 3600:     { return '1h'; } break;
                 case 1800:     { return '30min'; } break;
                 case 900:      { return '15min'; } break;
                 case 300:      { return '5min'; } break;
            }
        },
        countFrequency(frequency) {
            console.log(frequency);
            switch (frequency) {
                 case 1:    { return '24h'; } break;
                 case 7:    { return 'Tygodnia'; } break;
                 case 31:   { return 'Miesiąca'; } break;
                 case 90:   { return 'Kwartału'; } break;
            }
        },
        setResponse(response) {
            this.showModal = false
            if (response == 'accept') {
                this.sendDeleteRequest();
            }
        },
        sendDeleteRequest() {
            axios.post('/admin/raports/settings/delete', {params: {
                    _token: this.$root.$options.config.token,
                    id: this.toDelete
                }
            })
            .then(response => {
                for (let i = 0; i < this.raports.length; ++i) {
                    if (this.raports[i].id == this.toDelete) {
                        this.raports.splice(i, 1);
                    }
                }
                this.toDelete = null
            })
            .catch(error => {
                console.log(error)
            });
        }
    }
}
</script>


<style scoped>
</style>