<template>
    <span>
        <modal :buttons="['accept', 'decline']" :content="modalContent" v-if="showModal" @detectReponse="setResponse"></modal>
        <h2 class="title decor-line main-font">LISTA STANOWISK POMIAROWYCH</h2>
        <p class="textbox text-font">
            W poniższej sekcji znajdziesz wszystkie, aktualnie utworzone stanowiska pomiarowe z wybranymi czujnikami stacji {{ $root.$options.config.name }}.
        </p>
        <section class="wrapper" v-if="stations != null && stations.length > 0">
            <div class="data-list s-table" ref="table">
                <!-- TABLE HEAD -->
                <div class="head main-font">
                    <div class="row">
                        <div class="cell">Lp</div>
                        <div class="cell">Nazwa stanowiska</div>
                        <div class="cell">Lokalizacja</div>
                        <div class="cell">Widoczność</div>
                        <div class="cell">Wysyłka e-mail o progach</div>
                        <div class="cell">Czujniki</div>
                        <div class="cell">Akcja</div>
                    </div>
                </div>
                <!-- END TABLE HEAD -->
                <!-- TABLE BODY -->
                <div class="body">
                    <div class="row text-font" v-for="(station, index) in stations" :key="++index">
                        <div class="cell">
                            {{ index }}
                        </div>
                        <div class="cell">
                            {{ station.name }}
                        </div>
                        <div class="cell">
                            {{ station.location }}
                        </div>
                        <div class="cell">
                            <div class="onoffswitch">
                                <input type="checkbox" name="visibility" :id="'station'+index+'-status'" class="onoffswitch-checkbox" tabindex="0"  disabled checked v-if="station.visibility == 'on'">
                                <input type="checkbox" name="visibility" :id="'station'+index+'-status'" class="onoffswitch-checkbox" tabindex="0"  disabled v-else>
                                <label class="onoffswitch-label" :for="'station'+index+'-status'">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                        <div class="cell">
                            <div class="onoffswitch">
                                <input type="checkbox" name="visibility" :id="'station'+index+'-alert-status'" class="onoffswitch-checkbox" tabindex="0" disabled checked v-if="station.sending_alert_raport == 'on'">
                                <input type="checkbox" name="visibility" :id="'station'+index+'-alert-status'" class="onoffswitch-checkbox" tabindex="0" disabled v-else>
                                <label class="onoffswitch-label" :for="'station'+index+'-alert-status'">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                        <div class="cell">
                            <div class="data-list s-table" ref="table">
                                <!-- TABLE HEAD -->
                                <div class="head main-font">
                                    <div class="row">
                                        <div class="cell">Nr</div>
                                        <div class="cell">Numer seryjny</div>
                                        <div class="cell">Lokalizacja</div>
                                        <div class="cell">Widoczność</div>
                                        <div class="cell">Wyświetlane dane</div>
                                    </div>
                                </div>
                                <div class="body">
                                    <div class="row text-font" v-for="(sensor, num) in station.sensors" :key="++num">
                                        <div class="cell">
                                            {{ num }}
                                        </div>
                                        <div class="cell">
                                            {{ sensor.serialNumber }}
                                        </div>
                                        <div class="cell" v-if="sensor.location != null && sensor.location.length > 0">
                                            {{ sensor.location }}
                                        </div>
                                        <div class="cell" v-else>-</div>
                                        <div class="cell">
                                            <div class="onoffswitch">
                                                <input type="checkbox" name="visibility" :id="'sensor'+num+'-status'" class="onoffswitch-checkbox" tabindex="0" disabled checked v-if="sensor.visibility == 'on'">
                                                <input type="checkbox" name="visibility" :id="'sensor'+num+'-status'" class="onoffswitch-checkbox" tabindex="0" disabled v-else>
                                                <label class="onoffswitch-label" :for="'sensor'+num+'-status'">
                                                    <span class="onoffswitch-inner"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="cell icons">
                                            <i class="fas fa-thermometer-half temp" aria-hidden="true" v-if="((sensor.showing_values).indexOf('temp') >= 0)"></i>
                                            <i class="fas fa-tint humi" aria-hidden="true" v-if="((sensor.showing_values).indexOf('humi') >= 0)"></i>
                                            <i class="fas fa-compress-arrows-alt press" aria-hidden="true" v-if="((sensor.showing_values).indexOf('press') >= 0)"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cell">
                            <div class="actions">
                                <a :href="'/admin/station/settings/'+station.id"><i class="fas fa-edit edit"></i></a>
                                <i @click="setModal(station)" class="fas fa-trash-alt delete"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END TABLE BODY -->
            </div>
        </section>
        <section class="wrapper" v-else>
            <p class="empty-data">Brak danych do wyświetlenia</p>
        </section>
    </span>
</template>

<script>

import Modal from '../Elements/Modal.vue'

export default {
    components: { Modal },
    name: 'admin-station-list',
    props: {
        'data': Object
    },
    data() {
        return {
            stations:       this.data.stations,
            modalContent:   null,
            showModal:      false,
            response:       null,
            toDelete:       null
        }
    },
    created() {
        console.log(this.$root.$data.user)
    },
    methods: {
        setModal(station) {
            this.modalContent   =   'Czy aby napewno chcesz usunąć stanowisko pomiarowe, nazwa: <span class="decor">'+station.name+'</span>?';
            this.showModal      =   true
            this.toDelete       =   station.id
        },
        setResponse(response) {
            this.showModal = false
            if (response == 'accept') {
                this.sendDeleteRequest();
            }
        },
        sendDeleteRequest() {
            axios.post('/admin/station/delete', {params: {
                    _token: this.$root.$options.config.token,
                    id: this.toDelete
                }
            })
            .then(response => {
                for (let i = 0; i < this.stations.length; ++i) {
                    if (this.stations[i].id == this.toDelete) {
                        this.stations.splice(i, 1);
                    }
                }
                this.toDelete = null
            })
            .catch(error => {
                console.log(error)
            });
        }
    }
}
</script>


<style scoped>
.icons i {
    margin: 0 3px;
}
.temp {
    color: var(--temp);
}
.humi {
    color: var(--humi);
}
.press {
    color: var(--press);
}
.data-list .icons i:after {
    position: absolute;
    background-color: var(--mainGrey);
    display: block;
    z-index: 7777;
    font-family: var(--secondFont);
    color: var(--white);
    font-size: 12px;
    padding: 4px 8px;
    letter-spacing: .5px;
    border-radius: 8px;
    text-align: center;
    border: 2px solid var(--secondGrey);
    top: -12px;
    left: 0;
    right: 0;
}
.data-list .icons i.temp:hover:after {
    content: 'Temperatura';
}
.data-list .icons i.humi:hover:after {
    content: 'Wilgotność';
}
.data-list .icons i.press:hover:after {
    content: 'Ciśnienie';
}
</style>