    <template>
    <span>
        <!-- INDIVIDUAL ALARMS -->
        <h2 class="title decor-line main-font">USTAWIENIA PROGÓW SZCZEGÓLNYCH</h2>
        <p class="textbox text-font">
            W poniższej sekcji możesz ustawić progi dla poszczególnego stanowiska pomiarowego systemu {{ $root.$options.config.name }}. 
        </p>
        <section class="wrapper" v-if="stations.length !== null && stations.length > 0">
             <div class="stations-list">
                <div class="station" v-for="station in stations" :key="station.id" :class="{ 'checked' : stationToEdit.id == station.id }" @click="changeStation(station.id)">
                    <h3 class="text-font text-up">
                        <span>{{ station.name }}</span>
                    </h3>
                </div>
            </div>
            <div class="vals-info">
                <p class="text-font">Czy chcesz ustawić jedną wartość dla wszystkich czujników?</p>
                <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch" id="vals-info" class="onoffswitch-checkbox" tabindex="0" @click="changeSec()">
                    <label class="onoffswitch-label" for="vals-info">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
            <div class="alarms" v-show="showAlarmsSec">
                <form method="POST" action="/admin/limits/individual/edit" class="limits">
                    <input type="hidden" name="_token" v-model="$root.$options.config.token">
                    <input type="hidden" name="station" :value="stationToEdit.name">
                    <div class="sensor" v-for="sensor in stationToEdit.sensors" :key="sensor.id">
                        <h4 v-if="sensor.name !== null && sensor.name.length != 0">Nazwa: 
                            <span class="decor">{{ sensor.name }}</span>, lokalizacja: 
                            <span v-if="sensor.location !== null && sensor.location.length != 0" class="decor">{{ sensor.location }}</span>
                            <span v-else class="decor"> - </span>
                        </h4>
                        <h4 v-else-if="sensor.mainSensorsLocation !== null && sensor.mainSensorsLocation.length != 0">Lokalizacja: 
                            <span class="decor">{{ sensor.mainSensorsLocation }}</span>
                        </h4>
                        <h4 v-else>Numer seryjny: 
                            <span class="decor">{{ sensor.serialNumber }}</span>, numer czujnika: 
                            <span class="decor">{{ sensor.mainSensorsNumber }}</span>
                        </h4>
                        <div class="val-box" v-for="(limit, i) in JSON.parse(sensor.showing_values)" :key="i">
                            <h3 class="main-font">
                                <i class="fas fa-thermometer-half" v-show="limit == 'temp'"></i>
                                <i class="fas fas fa-tint" v-show="limit == 'humi'"></i>
                                <i class="fas fa-compress-arrows-alt" v-show="limit == 'press'"></i>
                                <span v-show="limit == 'temp'">Temperatura</span>
                                <span v-show="limit == 'humi'">Wilgotność</span>
                                <span v-show="limit == 'press'">Ciśnienie</span>
                                <i class="fas fa-chevron-down"></i>
                                <i class="fas fa-chevron-up d-none"></i>
                            </h3>
                            <div class="thresholds-box text-font">
                                <div>
                                    <p>Wartość min:</p>
                                    <span class="row">
                                        <i class="fas fa-long-arrow-alt-down"></i>
                                        <input type="number" :name="limit+'['+sensor.id+'][min]'" step="0.1" placeholder="ustaw +/-" :value="sensor.tempMin" v-if="limit == 'temp'">
                                        <input type="number" :name="limit+'['+sensor.id+'][min]'" step="0.1" placeholder="ustaw +/-" :value="sensor.humiMin" v-else-if="limit == 'humi'">
                                        <input type="number" :name="limit+'['+sensor.id+'][min]'" step="0.1" placeholder="ustaw +/-" :value="sensor.pressMin" v-else>
                                    </span>
                                </div>
                                <div>
                                    <p>Wartość max:</p>
                                    <span class="row">
                                        <i class="fas fa-long-arrow-alt-up"></i>
                                        <input type="number" :name="limit+'['+sensor.id+'][max]'" step="0.1" placeholder="ustaw +/-" :value="sensor.tempMax" v-if="limit == 'temp'">
                                        <input type="number" :name="limit+'['+sensor.id+'][max]'" step="0.1" placeholder="ustaw +/-" :value="sensor.humiMax" v-else-if="limit == 'humi'">
                                        <input type="number" :name="limit+'['+sensor.id+'][max]'" step="0.1" placeholder="ustaw +/-" :value="sensor.pressMax" v-else>
                                    </span>
                                </div>
                                <div>
                                    <p>Status progu:</p>
                                    <div class="onoffswitch">
                                        <input type="checkbox" :name="limit+'['+sensor.id+'][status]'" :id="sensor.id+'-switch'+i" class="onoffswitch-checkbox" :checked="sensor.tempStatus == 'on'" tabindex="0" v-if="limit == 'temp'">
                                        <input type="checkbox" :name="limit+'['+sensor.id+'][status]'" :id="sensor.id+'-switch'+i" class="onoffswitch-checkbox" :checked="sensor.humiStatus == 'on'" tabindex="0" v-else-if="limit == 'humi'">
                                        <input type="checkbox" :name="limit+'['+sensor.id+'][status]'" :id="sensor.id+'-switch'+i" class="onoffswitch-checkbox" :checked="sensor.pressStatus == 'on'" tabindex="0" v-else>
                                        <label class="onoffswitch-label" :for="sensor.id+'-switch'+i">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input class="btn default-btn m-btn" type="submit" value="EDYTUJ PROGI">
                </form>
            </div>
            <div class="alarms" v-show="!showAlarmsSec">
                <form method="POST" action="/admin/limits/individual/edit" class="limits">
                    <input type="hidden" name="_token" v-model="$root.$options.config.token">
                    <input type="hidden" name="station" :value="stationToEdit.name">
                    <div class="sensor">
                        <h4>Ustaw wartości dla wszystkich czujników stanowiska: <span class="decor">{{ stationToEdit.name }}</span></h4>
                        <div class="val-box">
                            <h3 class="main-font">
                                <i class="fas fa-thermometer-half"></i>
                                <span>Temperatura</span>
                            </h3>
                            <div class="thresholds-box text-font">
                                <div>
                                    <p>Wartość min:</p>
                                    <span class="row">
                                        <i class="fas fa-long-arrow-alt-down"></i>
                                        <input type="number" :name="'all['+stationToEdit.id+'][temp][min]'" step="0.1" placeholder="ustaw +/-" value="">
                                    </span>
                                </div>
                                <div>
                                    <p>Wartość max:</p>
                                    <span class="row">
                                        <i class="fas fa-long-arrow-alt-up"></i>
                                        <input type="number" :name="'all['+stationToEdit.id+'][temp][max]'" step="0.1" placeholder="ustaw +/-" value="">
                                    </span>
                                </div>
                                <div>
                                    <p>Status progu:</p>
                                    <div class="onoffswitch">
                                        <input type="checkbox" :name="'all['+stationToEdit.id+'][temp][status]'" id="allTemp" class="onoffswitch-checkbox">
                                        <label class="onoffswitch-label" for="allTemp">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="val-box">
                            <h3 class="main-font">
                                <i class="fas fa-compress-arrows-alt"></i>
                                <span>Ciśnienie</span>
                            </h3>
                            <div class="thresholds-box text-font">
                                <div>
                                    <p>Wartość min:</p>
                                    <span class="row">
                                        <i class="fas fa-long-arrow-alt-down"></i>
                                        <input type="number" :name="'all['+stationToEdit.id+'][press][min]'" step="0.1" placeholder="ustaw +/-" value="">
                                    </span>
                                </div>
                                <div>
                                    <p>Wartość max:</p>
                                    <span class="row">
                                        <i class="fas fa-long-arrow-alt-up"></i>
                                        <input type="number" :name="'all['+stationToEdit.id+'][press][max]'" step="0.1" placeholder="ustaw +/-" value="">
                                    </span>
                                </div>
                                <div>
                                    <p>Status progu:</p>
                                    <div class="onoffswitch">
                                        <input type="checkbox" :name="'all['+stationToEdit.id+'][press][status]'" id="allPress" class="onoffswitch-checkbox">
                                        <label class="onoffswitch-label" for="allPress">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="val-box">
                            <h3 class="main-font">
                                <i class="fas fas fa-tint"></i>
                                <span>Wilgotność</span>
                            </h3>
                            <div class="thresholds-box text-font">
                                <div>
                                    <p>Wartość min:</p>
                                    <span class="row">
                                        <i class="fas fa-long-arrow-alt-down"></i>
                                        <input type="number" :name="'all['+stationToEdit.id+'][humi][min]'" step="0.1" placeholder="ustaw +/-" value="">
                                    </span>
                                </div>
                                <div>
                                    <p>Wartość max:</p>
                                    <span class="row">
                                        <i class="fas fa-long-arrow-alt-up"></i>
                                        <input type="number" :name="'all['+stationToEdit.id+'][humi][max]'" step="0.1" placeholder="ustaw +/-" value="">
                                    </span>
                                </div>
                                <div>
                                    <p>Status progu:</p>
                                    <div class="onoffswitch">
                                        <input type="checkbox" name="all[humi]['status']" id="allHumi" class="onoffswitch-checkbox">
                                        <label class="onoffswitch-label" for="allHumi">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input class="btn default-btn m-btn" type="submit" value="EDYTUJ PROGI">
                </form>
            </div>
        </section>
        <section class="wrapper" v-else>
            <p class="empty-data">Brak danych do wyświetlenia</p>
        </section>
        <!-- END INDIVIDUAL ALARMS -->
    </span>
</template>

<script>

export default {
    name: 'admin-limits-individual',
    props: {
        'data': Object
    },
    data() {
        return {
            stations: this.data.stations,
            stationToEdit: null,
            showAlarmsSec: true
        }
    },
    created() {
        if (this.stations.length > 0) {
            this.stationToEdit = this.stations[0]
        }
    },
    methods: {
        changeStation(id) {
            for (let i = 0; i < this.stations.length; ++i) {
                if (this.stations[i].id == id) {
                    this.stationToEdit = this.stations[i]
                }
            }
        },
        changeSec() {
            this.showAlarmsSec = (this.showAlarmsSec) ? false : true;
        }
    }
}
</script>


<style scoped>
/* STATIONS LIST */
.stations-list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.stations-list .station {
    border: 1px solid var(--mainGrey);
    border-radius: 8px;
    padding: 0px 18px;
    margin: 0 1rem;
    display: block;
    cursor: pointer;
    transition: .3s;
}
.stations-list .station h3 {
    margin: 12px 0; 
}
.stations-list .station.checked {
    background-color: var(--mainGrey);
}
.stations-list .station:hover {
    background-color: var(--mainGrey);
}
.vals-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 54%;
    margin: 12px auto;
}
.alarms {
    display: flex;
    flex: 33%;
    justify-content: space-evenly;
    margin: 0 auto;
    align-items: center;
    flex-wrap: wrap;
}
.alarms .sensor {
    text-align: center;
    border: 1px solid var(--mainGrey);
    border-radius: 8px;
    padding: 18px 0;
    width: 80%;
    margin: 0 auto 3rem auto;
}
.alarms .sensor h4 {
    font-family: var(--mainFont);
    font-size: 18px;
    padding: 6px 0;
    margin: .55rem;
    text-align: center;
}
.alarms .val-box {
    width: 32%;
    border: 1px solid var(--mainGrey);
    padding: 12px 0;
    border-radius: 5px;
    max-width: 18rem;
    margin: 5px;
    display: inline-block;
}
.alarms .val-box h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    border-bottom: 1px solid var(--decor);
    padding: 3px 0;
}
.alarms .val-box h3 i[class*="-chevron-"] {
    display: none;
}
.alarms .val-box h3 i:not([class*="-chevron-"]) {
    margin-right: 0.5rem;
}
.thresholds-box {
    font-size: 0.85rem;
}
.thresholds-box div:not([class]) {
    display: flex;
    margin: 8px auto;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    white-space: nowrap;
}
.thresholds-box div p {
    margin: 0;
}
.thresholds-box span.row i {
    padding: 0 3px;
}
.thresholds-box span.row i[class*="-up"] {
    color: var(--red);
}
.thresholds-box span.row i[class*="-down"] {
    color: var(--blue);
}
/* END GLOBAL ALARMS SECTION */
</style>