<template>
    <span>
        <h2 class="title decor-line main-font">LOGI SYSTEMOWE</h2>
        <p class="textbox text-font">
            W poniższej sekcji znajdziesz najnowsze działania użytkowników w systemie {{ $root.$options.config.name }}.
        </p>
        <section class="wrapper" v-if="logs != null && logs.length > 0">
            <!-- TABLE SETTINGS -->
            <div class="logs-filters text-font">
                <h4 class="main-font">Wyświetlaj:</h4>
                <div class="type">
                    <p>Informacje:</p>
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" id="info-switch" class="onoffswitch-checkbox" tabindex="0" :checked="(showInfo)" @click="changeFilter('info')">
                        <label class="onoffswitch-label" for="info-switch">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
                <div class="type">
                    <p>Komunikaty:</p>
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" id="notice-switch" class="onoffswitch-checkbox" tabindex="0" :checked="(showNotice)" @click="changeFilter('notice')">
                        <label class="onoffswitch-label" for="notice-switch">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
                <div class="type" v-show="($session.get('role') == 'dev')">
                    <p>Błędy:</p>
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" id="errors-switch" class="onoffswitch-checkbox" tabindex="0" :checked="(showErrors)" @click="changeFilter('errors')"> 
                        <label class="onoffswitch-label" for="errors-switch">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
            </div>
            <!-- END TABLE SETTINGS -->
            <div class="data-list s-table" ref="table">
                <!-- TABLE HEAD -->
                <div class="head main-font">
                    <div class="row">
                        <div class="cell">Lp</div>
                        <div class="cell">Data
                            <i v-show="this.sort == 'desc'" class="fas fa-sort-amount-up-alt sort-up" @click="changeSort()"></i>
                            <i v-show="this.sort == 'asc'" class="fas fa-sort-amount-up sort-down" @click="changeSort()"></i>
                        </div>
                        <div class="cell">Typ</div>
                        <div class="cell">Użytkownik</div>
                        <div class="cell">Treść</div>
                    </div>
                </div>
                <!-- END TABLE HEAD -->
                <!-- TABLE BODY -->
                <div class="body">
                    <div class="row text-font" v-for="(log, index) in logs" :key="++index" :class="log.type">
                        <div class="cell">{{ index }}</div>
                        <div class="cell">{{ Date.parse(log.date).toString('dd/MM/yyyy HH:mm')}}</div>
                        <div class="cell">{{ setTypeName(log.type) }}</div>
                        <div class="cell">{{ log.user }}</div>
                        <div class="cell">{{ log.content }}</div>
                    </div>
                </div>
                <!-- END TABLE BODY -->
            </div>
            <!-- PAGINATION -->
            <Pagination :data="this.data.logs" />
            <!-- END PAGINATION -->
        </section>
        <section class="wrapper" v-else>
            <!-- TABLE SETTINGS -->
            <div class="logs-filters text-font">
                <h4 class="main-font">Wyświetlaj:</h4>
                <div class="type">
                    <p>Informacje:</p>
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" id="info-switch" class="onoffswitch-checkbox" tabindex="0" :checked="(showInfo)" @click="changeFilter('info')">
                        <label class="onoffswitch-label" for="info-switch">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
                <div class="type">
                    <p>Komunikaty:</p>
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" id="notice-switch" class="onoffswitch-checkbox" tabindex="0" :checked="(showNotice)" @click="changeFilter('notice')">
                        <label class="onoffswitch-label" for="notice-switch">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
                <div class="type" v-show="($session.get('role') == 'dev')">
                    <p>Błędy:</p>
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" id="errors-switch" class="onoffswitch-checkbox" tabindex="0" :checked="(showErrors)" @click="changeFilter('errors')"> 
                        <label class="onoffswitch-label" for="errors-switch">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
            </div>
            <!-- END TABLE SETTINGS -->
            <p class="empty-data">Brak danych do wyświetlenia</p>
        </section>
    </span>
</template>

<script>
import Pagination from '../Elements/Pagination.vue'

export default {
    name: 'admin-logs',
    components: { Pagination },
    props: {
        'data': Object
    },
    created() {
        if (this.data.logs != null) {
            if (this.data.filters == 'all') {
                this.showInfo   = true
                this.showErrors = true
                this.showNotice = true
            } else if (this.data.filters == null && this.data.filters.length == 0) {
                this.showInfo   = false
                this.showErrors = false
                this.showNotice = false
            } else {
                if (this.data.filters.includes('notice')) {
                    this.showNotice = true
                }
                if (this.data.filters.includes('info')) {
                    this.showInfo = true
                }
                if (this.data.filters.includes('errors')) {
                    this.showErrors = true
                }
            }
        }
    },
    data() {
        return {
            logs:           this.data.logs.data,

            sort:           this.data.sort,

            showInfo:       null,
            showErrors:     null,
            showNotice:     null
        }
    },
    // mounted() {
    //     console.log(this.data.logs.links)
    // },
    methods: {
        setTypeName(type) {
            switch(type) {
                case 'notice': {type = 'Komunikat'} break;
                case 'error':  {type = 'Błąd'} break;
                case 'info':   {type = 'Informacja'} break;
            }
            return type
        },
        changeSort() {
            var path = window.location.href;
            if (this.sort == 'desc') {
                this.sort == 'asc'
                path = path.replace("desc", "asc");
                location.href = path;
            } else {
                this.sort == 'desc'
                path = path.replace("asc", "desc");
                location.href = path;
            }
        },
        changeFilter(filter) {
            switch(filter) {
                case 'notice': { this.showNotice = (this.showNotice) ? false : true } break;
                case 'errors':  { this.showErrors = (this.showErrors) ? false : true } break;
                case 'info':   { this.showInfo = (this.showInfo) ? false : true } break;
            }
            var filters = ''
            if (this.showNotice && this.showErrors && this.showInfo) {
                filters = 'all'; 
            } else {
                if (this.showNotice) {
                    filters += 'notice&'
                }
                if (this.showErrors) {
                    filters += 'errors&'
                }
                if (this.showInfo) {
                    filters += 'info&'
                }
            }
            var path = window.location.href;
            var pos = path.lastIndexOf('/')
            path = path.slice(0, pos+1)
            path = path+filters
            location.href = path;
        }
    }
}
</script>


<style scoped>
/* LOGS FILTERS */
.logs-filters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.logs-filters h4 {
    width: 20%;
    text-transform: uppercase;
}
.logs-filters div.type {
    display: flex;
    align-items: center;
    margin: 0 8px;
    font-size: 0.85rem;
    min-width: 0;
}
.logs-filters div.type p {
    padding-right: 5px;
}
/* END LOGS FILTERS */
/* LOGS TABLE */
.data-list { 
    width: 780px;
}
.data-list .head i {
    cursor: pointer;
}
.data-list .head i.sort-up {
    color: var(--green);
}
.data-list .head i.sort-down {
    color: var(--blue);
}
.data-list .error {
    color: var(--red);
}
.data-list .notice {
    color: var(--decor);
}
/* END LOGS TABLE */
</style>
