    <template>
    <span>
        <h2 class="title decor-line main-font">USTAWIENIA WYKRESÓW</h2>
        <p class="textbox text-font">
            W poniższej sekcji możesz włączyć lub wyłączyć wyświetlanie wybranego wykresu lub zmienić kolory 
            wyświetlanych wartości mierzonych w systemie {{ $root.$options.config.name }}. 
        </p>
        <section class="wrapper">
            <form method="POST" action="/admin/settings/charts/edit" class="colors">
                <input type="hidden" name="_token" v-model="$root.$options.config.token">
                <div class="chart-info">
                    <p class="text-font">Czy wyświetlać wykresy liniowe?</p> 
                    <div class="onoffswitch">
                        <input type="checkbox" name="lineChartStatus" id="line-chart-info" tabindex="0" class="onoffswitch-checkbox" :checked="(lineStatus == 'on')"> 
                        <label for="line-chart-info" class="onoffswitch-label">
                            <span class="onoffswitch-inner"></span> 
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
                <div class="chart-info">
                    <p class="text-font">Czy wyświetlać wykresy kołowe?</p> 
                    <div class="onoffswitch">
                        <input type="checkbox" name="pieChartStatus" id="pie-chart-info" tabindex="0" class="onoffswitch-checkbox" :checked="(pieStatus == 'on')"> 
                        <label for="pie-chart-info" class="onoffswitch-label">
                            <span class="onoffswitch-inner"></span> 
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
                <div class="colors-box">
                    <div class="row">
                        <p>Temperatura</p>
                        <div id='tempColor' class="pick-wrapper" @click="changeColor('tempColor')">
                            <input type="hidden" name="tempColor" :value="tempColor">
                        </div>
                    </div>
                    <div class="row">
                        <p>Wilgotność</p>
                        <div id='humiColor' class="pick-wrapper" @click="changeColor('humiColor')">
                            <input type="hidden" name="humiColor" :value="humiColor">
                        </div>
                    </div>
                    <div class="row">
                        <p>Ciśnienie</p>
                        <div id='pressColor' class="pick-wrapper" @click="changeColor('pressColor')">
                            <input type="hidden" name="pressColor" :value="pressColor">
                        </div>
                    </div>
                </div>
                <input class="btn default-btn m-btn" type="submit" value="ZAPISZ USTAWIENIA">
            </form>
        </section>
    </span>
</template>

<script>
import ColorPicker from 'simple-color-picker'

export default {
    name: 'admin-settings-charts',
    props: {
        'data': Object
    },
    data() {
        return {
            tempPicker: null,
            humiPicker: null,
            presPicker: null,
            lineStatus: this.data.settings.linechart_status,
            pieStatus:  this.data.settings.piechart_status,
            tempColor:  this.data.settings.chart_temp_color,
            humiColor:  this.data.settings.chart_humi_color,
            pressColor: this.data.settings.chart_press_color,
        }
    },
    mounted() {
        this.tempPicker = new ColorPicker({
                background: '#3a3a3a',
                color: this.tempColor,
                width: 200,
                height: 100
        })
        this.humiPicker = new ColorPicker({
                background: '#3a3a3a',
                color: this.humiColor,
                width: 200,
                height: 100
        })
        this.pressPicker = new ColorPicker({
                background: '#3a3a3a',
                color: this.pressColor,
                width: 200,
                height: 100
        });
        this.tempPicker.appendTo('#tempColor')
        this.pressPicker.appendTo('#pressColor')
        this.humiPicker.appendTo('#humiColor')
    },
    methods: {
        changeColor(id) {
            if (id == 'pressColor') {
                this.pressColor = this.pressPicker.getColor();
            } else if (id == 'tempColor') {
                this.tempColor = this.tempPicker.getColor();
            } else {
                this.humiColor = this.humiPicker.getColor();
            }
        }
    }
}
</script>


<style scoped>
.chart-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 24rem;
    margin: 0 auto;
}
.colors-box {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.colors-box .row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.colors-box .row > * {
    width: 200px;
    height: 110px;
}
.colors-box .row p {
    font-family: var(--mainFont);
    text-decoration: uppercase;
    font-weight: 600;
    background-color: var(--mainGrey);
    margin: 8px 0px;
    border-radius: 8px 0 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
form.colors input[type="submit"] {
    margin: 22px auto;
    display: block;
}
</style>