/* ALERTS ANIMATIONS*/
@keyframes min-alert {
    from {
        background-color: var(--mainGrey);
        color: var(--white);
    }
    to {
        background-color: var(--decor);
        color: var(--blue);
    } 
}
@keyframes max-alert {
    from {
        background-color: var(--mainGrey);
        color: var(--white);
    }
    to {
        background-color: var(--decor);
        color: var(--red);
    } 
}
/* END ALERTS ANIMATIONS*/
/* ERROR ANIMATIONS*/
@keyframes error-text-alert {
    from {
        color: var(--white);
    }
    to {
        color: var(--red);
    } 
}
@keyframes sensor-error {
    from {
        background-color: var(--mainGrey);
    }
    to {
        background-color: var(--red);
    } 
}
/* END ERROR ANIMATIONS*/
/* OTHER */
@keyframes nav-arrow-down {
    from {
        top: 0px;
    }
    to {
        top: 4px;
    } 
}
@keyframes nav-arrow-up {
    from {
        top: 0px;
    }
    to {
        top: -4px;
    } 
}
@keyframes section-arrow {
    from {
        top: 0px;
    }
    to {
        top: 6px;
    }
}
@keyframes shake {
    30%, 50%, 70% {
      transform: translate3d(-3px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(3px, 0, 0);
    }
}
/* END OTHER */
