footer {
    font-size: 0.7rem !important;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(var(--mainBg),#141414);
    min-height: 3rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    letter-spacing: 0.65px;
    align-items: center;
}
footer p span:first-of-type {
    color: var(--blue);
}
footer p span:first-of-type span {
    color: var(--red);
}
footer a {
    text-decoration: underline !important;
}
footer div {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
}

@media all and (max-width: 1130px) {
    footer div {
        width: 100%;
    }
}
@media all and (max-width: 755px) {
    footer {
        align-items: center;
    }
    footer p {
        margin: 2px;
    }
    footer div {
        display: inline-block;
        text-align: center;
        font-size: 0.65rem;
    } 
}