header {
    padding: 8px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header > * {
    margin: 0 2px;
}
.title-box {
    flex-grow: 6;
}
.title-box > * {
    text-align: center;
    margin-top: 12px;
}
.title-box h1 {
    font-size: 1.55rem;
}
.title-box h2 {
    font-size: 1.25rem;
}
.logo {
    flex-grow: 3;
    text-align: center;
    padding: 8px 0 0 0;
    height: 116px;
}
.logo img {
    /* max-height: 7rem; */
    max-width: 100%;
    max-height:100%;
}

/* CONFIGURATION BAR */
/* .config-bar {
    background-color: #888;
    display: flex;
    padding: 8px 4px;
    max-width: 85%;
    margin: 10px auto 0 auto;
    border-radius: 8px;
    font-size: 0.75rem;
    justify-content: space-around;
    flex-wrap: nowrap;
} */
/* END */
/* LOGOUT BOX */
.datetime {
    font-weight: normal !important;
}
.logout-box {
    flex-grow: 1;
    /* background-color:#222; */
    text-align: center;
    padding: 0 8px;
}
.logout-box > * {
    margin: 5px 0;
}
.user-box {
    font-size: 0.7rem !important;
}
.user-box > * {
    white-space: nowrap;
}
/* END */
/* NAV */
nav {
    background-color: var(--red);
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 888;
    font-size: 1.15rem;
}
nav .mobile-title {
    display: none;
    padding: 10px 8px;
    margin: 0;
}
nav .mobile-title i {
    line-height: 1px;
}
nav.checked {
    background-color: var(--redH);
}
nav ul {
    display: flex;
}
nav ul li a {
    color: var(--white);
}
nav ul li {
    text-align: center;
    white-space: nowrap;
    padding: 15px 20px;
    margin: 0 15px;
    cursor: pointer;
    transition: .3s;
}
nav ul li:hover {
    background-color: var(--redH);
}

/* END */

/* RWD */
@media all and (max-width: 1320px) {
    nav {
        flex-wrap: wrap;
    }
    nav ul {
        width: 100%;
        justify-content: center;
    }
    nav ul:last-of-type {
        border-top: 1px solid var(--mainBg);
    }
}
@media all and (max-width: 1125px) {
    header {
        flex-wrap: wrap;
        padding: 0;
    }
    header > * {
        margin: 0;
    }
    .logo {
        order: 0;
    }
    .logo img {
        max-height: 5.5rem;
    }
    .title-box {
        order: 1;
        padding: 5px 0;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .title-box h1 {
        width: 90%;
        margin: 5px auto;
        margin-bottom: 6px;
    }
    .title-box h2 {
        margin: 0;
    }
    .logout-box {
        order: 2;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .logout-box .datetime {
        order: 1;
    }
    .logout-box .default-btn {
        order: 3;
    }
}

@media all and (max-width: 650px) {
    nav ul li {
        padding: 10px 8px;
        margin: 0 6px;
    }
    .logo img {
        max-height: 4.5rem;
    }
    .logout-box .datetime {
        font-size: 0.85rem;
    }
}

@media all and (max-width: 520px) {
    .title-box h1 {
        font-size: 1.25rem;
    }
    .title-box h2 {
        font-size: 0.95rem;

    }
    nav .mobile-title {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 4.5rem;
        padding: 10px 8px;
        margin: unset;
        height: unset;
        opacity: 1;
        visibility: unset;
    }
    nav .mobile-title i {
        position: relative;
        top: -2px;
    }
    nav .mobile-title i[class*="-down"] {
        animation: nav-arrow-down .6s infinite alternate;
    }
    nav .mobile-title i[class*="-up"] {
        animation: nav-arrow-up .6s infinite alternate;
    }
    nav ul {
        display: block;
    }
    nav ul:last-of-type {
        border-top: unset;
    }
    nav ul li {
        padding: 10px 8px;
        margin: unset;
        height: 0;
        opacity: 0;
        visibility: hidden;
        padding: 0;
    }
    .logo img {
        max-height: 4rem;
    }
    .logout-box .datetime {
        display: none;
    }
}
/* END */
