/* LOGIN HEADER */
/*header.login-header {
    position: absolute;
    top: 4rem;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline-block;
    text-align: center;
    padding: 0;
}
header.login-header > * {
    margin: 0;
}
/* END LOGIN HEADER */
/* LOGIN FORM */
/*.login-wrapper > * {
    margin-top: auto;
}
.login-wrapper {
    position: absolute;
    top: 18rem;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--mainGrey);
    min-height: 18rem;
    max-height: 20rem;
    min-width: 14rem;
    max-width: 17rem;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
}
.login-wrapper h2 {
    text-transform: uppercase;
}
.login-wrapper p {
    width: 100%;
    text-align: center;
}
.login-wrapper .login-status {
    margin: 0;
    font-size: 0.7rem;
}
.login-form {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 0;
    justify-content: center;
}
.login-form span {
    position: relative;
    transform: translate3d(0, 0, 0);
}
.login-form span i {
    color: var(--mainGrey);
    position: absolute;
    z-index: 777;
    top: 6.5px;
    left: 10px;
    font-size: 16px;
}
.login-form label {
    padding-bottom: 3px;
    padding-top: 8px;
    font-size: 1rem;
}
.login-form input {
    width: 12rem;
    padding: 4px 0;
}
.login-form a {
    margin-top: 12px;
}
/* END LOGIN FORM */

/* RWD */
/*@media all and (max-width: 530px) {
    header.login-header .main-font {
        font-size: 1.55rem;
    }
    header.login-header img {
        height: 6rem;
    }
    .login-wrapper h2 {
        font-size: 1.25rem;
    }
    .login-wrapper {
        max-width: 16rem;
    }
}
@media all and (max-width: 429px) {
    header.login-header .main-font {
        font-size: 1.25rem;
    }
    .login-wrapper {
        top: 16rem;
    }
}


