/* COLORS & FONTS */
:root {
    /* MAIN COLORS */
    --mainBg:       #070707;

    --mainGrey:     #3a3a3a;
    --secondGrey:   #606060;

    --green:        #2A6612;
    --red:          #C80000;
    --white:        #E3E5E3;
    --blue:         #3167AE;
    --decor:        #E6AF2E;
    /* HOVER COLORS */
    --mainGreyH:    #333333;
    --secondGreyH:  #5C5C5C;
    --bgH:          #141414;
    --redH:         #B80000;
    --greenH:       #24570F;
    --blueH:        #28558F;
    /* VALS COLORS */
    --temp: var(--red);
    --humi: #28558f;
    --press: #30bbed;

    /* FONTS FAMILES */
    --mainFont:     'PT Sans', sans-serif;
    --secondFont:   'Open Sans', sans-serif;
    /* FONTS SIZES */

}
/* END */

/* MAIN TAGS */
*:focus {
    outline: none;
}
body, html {
    color: var(--white);
    background-color: var(--mainBg);
    margin: 0px;
    position: relative;
    font-size: 100%;
    padding: 0;
    width: 100%;
}
h1, h2 {
    margin: 0;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
main {
    width: 100%;
    min-width: 320px;
    max-width: 1920px;
    margin: 0 auto;
}
section.wrapper {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 4.5rem;
}
p.empty-data {
    font-family: var(--mainFont);
    color: var(--secondGrey);
    padding: 0.5rem;
    margin: 0 auto;
}
/* INPUTS */
input, select {
    border: 1px solid var(--mainGrey);
    border-radius: 5px;
    background-color: var(--white);
    font-family: var(--secondFont);
    font-size: 14px;
    text-align: center;
    padding: 6px 0;
    width: 14rem;
}
input[type="date"] {
    cursor: pointer;
}
select:disabled {
    cursor: no-drop;
    opacity: 1;
}
input[type="number"] {
    width: 4.5rem;
    padding-left: 0;
    padding-right: 0;
    text-indent: 8px;
}
input:disabled {
    border-color: unset;
    cursor: no-drop;
}
::placeholder {
    color: var(--secondGrey);
    font-size: 0.65rem;
}
/* END INPUTS */
/* END */
/* OWN BASIC CLASSES */
/* FONTS */
.main-font {
    font-weight: 700;
    letter-spacing: 0.55px;
    font-family: var(--mainFont);
}
.text-font {
    font-weight: 500;
    font-family: var(--secondFont);
}
/* END FONTS */
/* END */
/* BUTTONS */
.btn {
    box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
    font-family: var(--secondFont);
    border-radius: 5px;
    text-transform: uppercase;
    color: var(--white);
    cursor: pointer;
    letter-spacing: 1.5px;
    position: relative;
    top: 0px;
}
.btn:active {
    top: 1px;
}
.s-btn {
    padding: 7px 14px;
    font-size: 0.7rem;
}
.m-btn {
    /* padding: 6px 25px; */
    font-size: 0.85rem;
}
.default-btn {
    background-color: var(--blue);
    display: inline-block;
}
.default-btn:hover {
    background: linear-gradient(var(--blue), var(--blueH));

}

/* END */
/* CHECKBOXES ON/OFF */
.onoffswitch {
    position: relative;
    width: 4.5rem;
    display: block;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid var(--secondGrey);
    border-radius: 12px;
    background-color: var(--mainGrey);
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 24px;
    padding: 0;
    line-height: 24px;
    font-size: 12px;
    font-family: var(--secondFont);
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "WŁ";
    background-color: var(--mainGrey); 
    color: var(--white);
}
.onoffswitch-inner:after {
    content: "WYŁ";
    padding-right: 12px;
    background-color: var(--ma);
    color: var(--white);
    text-align: right;
}
.onoffswitch-switch {
    display: block;
    width: 0.9rem;
    margin: 5px;
    background: var(--red);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 2.65rem;
    border: 2px solid var(--white);
    border-radius: 12px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 14px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0.15rem;
    background-color: var(--green);
}
/* END CHECKBOXES ON/OFF */
/* MODAL BOX */
/* .modal-box {
    position: absolute;
    background-color: var(--mainGrey);
    max-width: 20rem;
    max-height: 8rem;
    top: 18rem;
    bottom: 0;
    right: 0;
    border-radius: 5px;
    margin: 0 auto;
    left: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 100%;
    padding: 2rem;
}
.modal-box > * {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}
.modal-box i {
    font-size: 2rem;
    color: var(--decor);
} */
/* END MODAL BOX */
/* MAIN LISTS STYLES */
/* div[class*="-list"]:not(div.logs-list) {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* margin: 2rem 0; */
/* } */ 
/* div[class*="-list"] > * {
    border-radius: 12px;
    margin: 3px;
    border: 1px solid var(--mainGrey);
    padding: 5px 12px;
    transition: .3s;
    max-width: 230px;
    flex-wrap: wrap;
    cursor: pointer;
} */
/* div[class*="-list"]:not(div.logs-list) > *:hover {
    background-color: var(--mainGrey);
}
div[class*="-list"] > * h3 {
    margin: 0;
    white-space: break-spaces;
    text-align: center;
}
div[class*="-list"] > *.checked {
    background-color: var(--mainGrey);
} */
/* END MAIN LISTS STYLES */
/* MAIN TABLE STYLES */
/* .m-table,
.s-table {
	display: table;
	margin: 0 auto;
	border: 1px solid var(--mainGrey);
} */
/* div[class*="-table"] .head {
    text-transform: uppercase;
    font-size: 1rem;
    background-color: var(--mainGrey);
    display: table-header-group;
    text-align: center;
} */
/* div[class*="-table"] .body {
    text-align: center;
    font-size: 0.8rem;
    display: table-row-group;
} */
/* div[class*="-table"] .row {
	display: table-row;
} */
/* div[class*="-table"] .cell {
    display: table-cell;
    padding: 6px 8px;
    vertical-align: middle;
} */
/* div[class*="-table"] .body .row:nth-child(even) {
    background-color: var(--bgH);
} */
/* INFO TABLE BOX STYLES */
.table-info-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 850px;
    margin: 0 auto;
    width: 80%;
    border: 1px solid var(--mainGrey);
    text-align: center;
}
.table-info-box .cell {
    padding: 8px 0;
    line-height: 1.5;
}
.table-info-box .cell:not(:last-child) {
    border-bottom: 1px solid var(--mainGrey);
}
.table-info-box .head {
    width: 40%;
    text-transform: uppercase;
    background-color: var(--mainGrey);
}
.table-info-box .body {
    width: 60%;
}
/* END INFO TABLE BOX STYLES */
/* END MAIN TABLE STYLES */
/* OTHERS */
p .user, p .admin {
    margin-top: 12px;
}
.full-bg::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    opacity: 0.85;
    z-index: 888;
}
.admin-infobox {
    background-color: var(--mainBg);
    padding: 1.5px;
}
.warning {
    font-weight: 700;
    letter-spacing: 0.5px;
}
.warning-border {
    border: 2px solid var(--red);
}
.hide {
    visibility: hidden;
    opacity: 0;
}
.d-none {
    display: none !important;
}
.error {
    color: var(--red) !important;
}
.success {
    color: var(--green);
}
.decor, .notice {
    color: var(--decor);
}
.decor-line {
    border-bottom: 1.5px solid var(--decor);
    padding-bottom: 5px;
    width: 90%;
    text-align: center;
}
.text-up {
    text-transform: uppercase;
    white-space: nowrap;
}
.content {
    width: 90%;
    margin: 1rem auto;
    padding-bottom: 4rem;
}
.content .info-box {
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .info-box p {
    font-family: var(--mainFont);
    text-align: center;
    font-size: 1.15rem;
    margin: 0;
}
.fail {
    animation: shake .8s both;
}
.title {
    margin: 0px auto 12px auto;
    text-align: center;
    width: 50%;
}
.textbox {
    text-align: center;
    width: 95%;
    padding-top: 8px;
    margin: 0 auto;
    font-size: 0.95rem;
    margin-bottom: 2rem;
    max-width: 1000px;
}
/* END */

/* RWD */
@media (max-width: 1120px) {
    .text-font {
        font-size: calc(0.85rem + 0.15vw);
    }
    .title {
        font-size: calc(1rem + 0.85vw);
        width: 80%
    }
}
@media (max-width: 790px) {
    .m-none {
        display: none !important;
    }
}
@media (max-width: 600px) {
    .title {
        margin: 8px auto;
        width: 95%;
    }
    .textbox {
        margin-bottom: 1rem;
    }
    .text-font {
        font-size: calc(0.75rem + 0.35vw);
    }
    .modal-box {
        width: 17rem;
        height: 6rem;
        top: 17rem;
    }
    .modal-box i {
        font-size: 1.55rem;
    }
    .s-btn {
        font-size: 0.6rem;
        padding: 5px 10px;
    }
}
@media (max-width: 500px) {
    section.wrapper {
        margin-bottom: 2rem;
        width: 90%;
    }
    .m-btn {
        font-size: calc(0.75rem + 0.25vw);
        padding: 4px 20px;
    }
}
@media (max-width: 420px) {
    .title {
        font-size: 1.15rem;
    }
    .info-box p {
        font-size: calc(0.75rem + 0.2vw) !important;
    }
}
@media all and (max-width: 399px) {
    .modal-box {
        width: 70%;
    }
}
