<template>
        <component :data="this.data" :is="show"></component>
</template>

<script>
import AdminLogs from './AdminMenu/AdminLogs.vue'

import AdminSmatAdd from './AdminMenu/AdminSmatAdd.vue'
import AdminSmatList from './AdminMenu/AdminSmatList.vue'
import AdminSmatSettings from './AdminMenu/AdminSmatSettings.vue'

import AdminStationList from './AdminMenu/AdminStationList.vue'
import AdminStationAdd from './AdminMenu/AdminStationAdd.vue'
import AdminStationSettings from './AdminMenu/AdminStationSettings.vue'

import AdminSettingsCharts from './AdminMenu/AdminSettingsCharts.vue'
import AdminSettingsFiltrs from './AdminMenu/AdminSettingsFiltrs.vue'

import AdminLimitsGlobal from './AdminMenu/AdminLimitsGlobal.vue'
import AdminLimitsIndividual from './AdminMenu/AdminLimitsIndividual.vue'

import AdminRaportsList from './AdminMenu/AdminRaportsList.vue'
import AdminRaportsAdd from './AdminMenu/AdminRaportsAdd.vue'
import AdminRaportsSettings from './AdminMenu/AdminRaportsSettings.vue'


import AdminUserList from './AdminMenu/AdminUserList.vue'
import AdminUserAdd from './AdminMenu/AdminUserAdd.vue'
import AdminUserEdit from './AdminMenu/AdminUserEdit.vue'

import AdminSettingsGeneral from './AdminMenu/AdminSettingsGeneral.vue'
import AdminDatabase from './AdminMenu/AdminDatabase.vue'
import AdminTests from './AdminMenu/AdminTests.vue'

export default {
    name: 'admin-content',
    components: {
        AdminLogs,

        AdminSmatAdd, 
        AdminSmatList,
        AdminSmatSettings,

        AdminStationList,
        AdminStationAdd,
        AdminStationSettings,

        AdminSettingsCharts,
        AdminSettingsFiltrs,

        AdminLimitsGlobal,
        AdminLimitsIndividual,

        AdminRaportsList,
        AdminRaportsAdd,
        AdminRaportsSettings,

        AdminUserList,
        AdminUserAdd,
        AdminUserEdit,

        AdminSettingsGeneral,
        AdminDatabase,
        AdminTests,
    },
    props: {
        'toShow':   String,
        'data':     Object
    },
    data() {
        return {
            show:   '',
        }
    },
    mounted() {
        this.prepareComponent()
    },
    methods: {
        prepareComponent() {
            var components = this.$options.components;
            for (var key in components) {
                if (this.toShow == components[key].name || this.toShow.indexOf(components[key].name) > -1) {
                    this.show = key
                }
            }
        }
    }
}
</script>


<style>
.data-list {
    width: unset;
}
.data-list .onoffswitch-inner:after {
    padding-right: 8px;
}
</style>