<template>
    <!-- PANEL NAV -->
    <nav class="admin">
        <i class="close-icon fas fa-times d-none"></i>
        <ul class="menu main-font">
            <li class="menu-title">
                <div class="wrapper decor">
                    <i class="fas fa-home"></i>
                    <span class="text-up">START</span>
                    <i class="fas fa-caret-down d-none" @click="changeDropdown($event.target.parentElement)"></i>
                    <i class="fas fa-caret-up" @click="changeDropdown($event.target.parentElement, 'down')"></i>
                </div>
                <ul class="dropdown text-font">
                    <li><a href="/admin/logs/desc/all">Logi systemowe</a></li>
                </ul>
            </li>
            <li class="menu-title">
                <div class="wrapper decor">
                    <i class="fas fa-square"></i>
                    <span class="text-up">Stacje pomiarowe</span>
                    <i class="fas fa-caret-down d-none" @click="changeDropdown($event.target.parentElement)"></i>
                    <i class="fas fa-caret-up" @click="changeDropdown($event.target.parentElement, 'down')"></i>
                </div>
                <ul class="dropdown text-font">
                    <li><a href="/admin/smat/list">Lista stacji</a></li>
                    <li v-show="$session.get('role') == 'dev'"><a href="/admin/smat/add">Dodaj nową stację</a></li>
                </ul>
            </li>
            <li class="menu-title">
                <div class="wrapper decor">
                    <i class="fas fa-sitemap"></i>
                    <span class="text-up">STANOWISKA POMIAROWE</span>
                    <i class="fas fa-caret-down d-none" @click="changeDropdown($event.target.parentElement)"></i>
                    <i class="fas fa-caret-up" @click="changeDropdown($event.target.parentElement, 'down')"></i>
                </div>
                <ul class="dropdown text-font">
                    <li><a href="/admin/station/list">Lista stanowisk</a></li>
                    <li><a href="/admin/station/add">Dodaj nowe stanowisko</a></li>
                </ul>
            </li>
            <li class="menu-title">
                <div class="wrapper decor">
                    <i class="fas fa-chart-pie"></i>
                    <span class="text-up">Statystyki</span>
                    <i class="fas fa-caret-down d-none" @click="changeDropdown($event.target.parentElement)"></i>
                    <i class="fas fa-caret-up" @click="changeDropdown($event.target.parentElement, 'down')"></i>
                </div>
                <ul class="dropdown text-font">
                    <li><a href="/admin/settings/charts">Ustawienia wykresów</a></li>
                    <li><a href="/admin/settings/filtrs">Ustawienia filtrów</a></li>
                </ul>
            </li>
            <li class="menu-title">
                <div class="wrapper decor">
                    <i class="fas fa-bell"></i>
                    <span class="text-up">Progi alarmowe</span>
                    <i class="fas fa-caret-down d-none" @click="changeDropdown($event.target.parentElement)"></i>
                    <i class="fas fa-caret-up" @click="changeDropdown($event.target.parentElement, 'down')"></i>
                </div>
                <ul class="dropdown text-font">
                    <li><a href="/admin/limits/global">Progi globalne</a></li>
                    <li><a href="/admin/limits/individual">Progi szczególne</a></li>
                </ul>
            </li>
            <li class="menu-title">
                <div class="wrapper decor">
                    <i class="fas fa-file-pdf"></i>
                    <span class="text-up">Raporty</span>
                    <i class="fas fa-caret-down d-none" @click="changeDropdown($event.target.parentElement)"></i>
                    <i class="fas fa-caret-up" @click="changeDropdown($event.target.parentElement, 'down')"></i>
                </div>
                <ul class="dropdown text-font">
                    <li><a href="/admin/raports/list">Lista auto-raportów</a></li>
                    <li><a href="/admin/raports/add">Dodaj auto-raport</a></li>
                </ul>
            </li>
            <li class="menu-title">
                <div class="wrapper decor">
                    <i class="fas fa-users"></i>
                    <span class="text-up">Użytkownicy</span>
                    <i class="fas fa-caret-down d-none" @click="changeDropdown($event.target.parentElement)"></i>
                    <i class="fas fa-caret-up" @click="changeDropdown($event.target.parentElement, 'down')"></i>
                </div>
                <ul class="dropdown text-font">
                    <li><a href="/admin/user/list">Lista użytkowników</a></li>
                    <li><a href="/admin/user/add">Dodaj nowe konto</a></li>
                </ul>
            </li>
            <li class="menu-title">
                <div class="wrapper decor">
                    <i class="fas fa-cogs"></i>
                    <span class="text-up">Ustawienia</span>
                    <i class="fas fa-caret-down d-none" @click="changeDropdown($event.target.parentElement)"></i>
                    <i class="fas fa-caret-up" @click="changeDropdown($event.target.parentElement, 'down')"></i>
                </div>
                <ul class="dropdown text-font">
                    <li v-show="$session.get('role') === 'dev'"><a href="/admin/settings/general">Ustawienia ogólne</a></li>
                    <li v-show="$session.get('role') === 'dev'"><a href="/admin/database/">Czyszczenie bazy danych</a></li>
                    <li><a href="/admin/tests/">Testy funkcjonalności</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- END PANEL NAV -->
</template>

<script>
export default {
    name: 'admin-nav',
    props: {
        'path': String
    },
    data() {
        return {
            isDropdown: false,
            self:       this
        }
    },
    mounted() {
        let path    = '/'+this.path.replaceAll('-','/')
        let links   = $('ul.dropdown a')
        for (let i = 0; i < links.length; ++i) {
            if ($(links[i]).attr('href') == path) {
                links[i].parentElement.classList.add('checked')
            }
        }
    },
    methods: {
        changeDropdown(e) {
            let dropdownMenu   = $(e.parentElement).find('ul.dropdown')
            let iconUp         = $(e).find('.fa-caret-up')[0]
            let iconDown       = $(e).find('.fa-caret-down')[0]
            if (iconUp.classList.contains('d-none')) {
                iconUp.classList.remove("d-none")
                iconDown.classList.add("d-none")
            } else {
                iconUp.classList.add("d-none")
                iconDown.classList.remove("d-none")
            }
            
            $(dropdownMenu).animate({
                opacity: 1,
                height: "toggle"
            }, 500, function() {
                $(dropdownMenu).css({"height": "auto", "opacity": 1})
            });
        }
    }
}
</script>

<style scoped>
.admin-panel nav.admin {
    position: fixed;
    height: 100vh;
    top: 0;
    align-items: center;
    background-color: var(--mainGrey);
    display: flex;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
    width: 270px;
    z-index: 888;
    font-size: 1.15rem;
    justify-content: center;
}
.admin-panel nav.admin ul li {
    cursor: context-menu !important;
}
.admin-panel ul.menu {
    display: block;
    width: 100%;
    height: 100%;
}
.admin-panel ul.menu li {
    margin: 0;
    padding: 0;
}
.admin-panel ul.menu li.menu-title div.decor:first-of-type {
    padding: 5px 0;
    background-color: var(--secondGrey);
}
.admin-panel ul.menu div.wrapper {
    display: flex !important;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    width: 100%;
}
.admin-panel ul.menu div.wrapper span {
    white-space: break-spaces;
    width: 60%;
}
.admin-panel ul.menu div.wrapper i {
    margin: 0 16px;
}
.admin-panel i[class*='caret'] {
    cursor: pointer !important;
}
.admin-panel ul.menu li.menu-title div.decor:first-of-type {
    padding: 5px 0;
    background-color: var(--secondGrey);
}
.admin-panel ul.menu ul.dropdown {
    display: block;
    font-size: 0.85rem;
}
.admin-panel ul.menu ul.dropdown li {
    border: none;
    text-align: left;
    background-color: var(--mainGreyH) !important;
    padding-left: 20px;
}
.admin-panel ul.menu li a {
    width: 100%;
    display: block;
    padding: 6px 0;
    white-space: initial;
    color: var(--white);
}
.admin-panel ul.dropdown li a {
    display: list-item !important;
    list-style-type: square;
    list-style-position: inside;
    background-color: unset !important;
}
.admin-panel ul.dropdown li:hover a {
    color: var(--decor);
}
.admin-panel ul.menu ul.dropdown li.checked a {
    color: var(--decor);
}
</style>