<template>
    <main class="admin-panel">
        <admin-head 
            :header="settings"
            :userdata="user">
        </admin-head>
        <admin-nav :path="this.path"></admin-nav>
        <!-- PANEL CONTENT -->
        <div class="content">
            <div class="info-box">
                <p v-if="state" class="hide">
                </p>
                <p v-else :class="color" v-show="isVisible">
                    {{ info }}
                </p>
            </div>
            <admin-content :data="this.data" :toShow="path"></admin-content>
        </div>
        <!-- END PANEL CONTENT -->
    </main>
</template>

<script>

import AdminHead from './AdminHead.vue'
import AdminNav from './AdminNav.vue'
import AdminContent from './AdminContent.vue'

export default {
    components: { AdminHead, AdminNav, AdminContent },
    name: 'admin-panel',
    props: {
        'user':         Object, 
        'settings':     Object,
        'success':      String, 
        'error':        String,

        'data':         Object
    },
    data() {
        return {
            isVisible:  true,
            path:       '',
            state:      (this.success == null && this.error == null) ? true : false,
            info:       (this.success != null) ? this.success : this.error,
            color:      (this.success != null) ? 'success' : 'error'
        }
    },
    created() {
        this.path = (window.location.pathname).replace('/', '').replaceAll('/', '-');
        setTimeout(() => this.isVisible = false, 4500)
    }
}
</script>


<style scoped>

/* RWD */
@media all and (max-width: 1320px) {
    nav {
        flex-wrap: wrap;
    }
    nav ul {
        width: 100%;
        justify-content: center;
    }
    nav ul:last-of-type {
        border-top: 1px solid var(--mainBg);
    }
}
@media all and (max-width: 1125px) {
    header {
        flex-wrap: wrap;
        padding: 0;
    }
    header > * {
        margin: 0;
    }
    .logo {
        order: 0;
    }
    .logo img {
        max-height: 5.5rem;
    }
    .title-box {
        order: 1;
        padding: 5px 0;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .title-box h1 {
        width: 90%;
        margin: 5px auto;
        margin-bottom: 6px;
    }
    .title-box h2 {
        margin: 0;
    }
    .logout-box {
        order: 2;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .logout-box .datetime {
        order: 1;
    }
    .logout-box .default-btn {
        order: 3;
    }
}

@media all and (max-width: 650px) {
    nav ul li {
        padding: 10px 8px;
        margin: 0 6px;
    }
    .logo img {
        max-height: 4.5rem;
    }
    .logout-box .datetime {
        font-size: 0.85rem;
    }
}

@media all and (max-width: 520px) {
    .title-box h1 {
        font-size: 1.25rem;
    }
    .title-box h2 {
        font-size: 0.95rem;

    }
    nav .mobile-title {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 4.5rem;
        padding: 10px 8px;
        margin: unset;
        height: unset;
        opacity: 1;
        visibility: unset;
    }
    nav .mobile-title i {
        position: relative;
        top: -2px;
    }
    nav .mobile-title i[class*="-down"] {
        animation: nav-arrow-down .6s infinite alternate;
    }
    nav .mobile-title i[class*="-up"] {
        animation: nav-arrow-up .6s infinite alternate;
    }
    nav ul {
        display: block;
    }
    nav ul:last-of-type {
        border-top: unset;
    }
    nav ul li {
        padding: 10px 8px;
        margin: unset;
        height: 0;
        opacity: 0;
        visibility: hidden;
        padding: 0;
    }
    .logo img {
        max-height: 4rem;
    }
    .logout-box .datetime {
        display: none;
    }
}
/* END */

@media (max-width: 1320px) {
    .admin-panel nav:not([class]) ul:last-of-type {
        border-top: unset;
    }
}
@media (max-width: 883px) {
    .admin-panel header,
    .admin-panel nav.text-font,
    .admin-panel div.content {
        width: calc(100% - 130px) !important;
    }
    .admin-panel nav:not([class]) {
        min-width: 130px;
    }
    .admin-panel ul.menu li a > *:not(:nth-child(1)) {
        display: none;
    }
    .admin-panel ul.menu ul.dropdown li {
        font-size: 0.65rem;
        padding-left: 8px;
    }
}
@media (max-width: 700px) {
    .admin-panel nav:not([class]) {
        display: none !important;
    }
    i.burger-btn {
        display: block !important;
        padding: 10px;
        font-size: 24px;
        color:  var(--mainGrey);
        cursor: pointer;
        position: absolute;
    }
    nav i.close-icon {
        position: absolute;
        top: 8px;
        right: 8px;
        cursor: pointer;
        color: var(--bgH);
        font-size: 24px;
    }
    .admin-panel header,
    .admin-panel nav.text-font {
        width: 100% !important;
    }
    .admin-panel div.content {
        width: 98% !important;
        margin: 0 auto;
    }
}

</style>