<template>
    <span>
        <header>
            <a class="logo" href="/">
                <img src="/media/company-logo.png" alt="smat">
            </a>
            <div class="title-box main-font">
                <h1>{{ header.mainHeader }}</h1>
                <h2 class="decor">
                    <span v-if="header.companyName == null || header.companyName.length == 0">NALEŻY USTAWIĆ NAZWĘ KLIENTA</span>
                    <span v-else>
                        {{ header.secondHeader }}
                        {{ header.companyName }}
                    </span>
                </h2>
            </div>
            <div class="logout-box">
                <div class="datetime main-font">
                    <div>{{ dateNow }}</div>
                    <div>{{ time }}</div>
                </div>
                <div class="user-box text-font">
                    <div>Osoba zalogowana:</div>
                    <div class="decor">{{ userdata.name }} {{ userdata.surname }}</div>
                </div>
                <a class="btn default-btn s-btn" href="/logout">Wyloguj</a>
            </div>
        </header>
        <nav class="text-font">
            <p class="mobile-title">MENU
                <i class="fas fa-chevron-down"></i>
                <i class="fas fa-chevron-up d-none"></i>
            </p>
            <ul>
                <li><a class="text-up" href="/stations">Stanowiska pomiarowe</a></li>
                <li><a class="text-up" href="/alarms">Progi alarmowe</a></li>
            </ul>
            <ul>
                <li><a class="text-up" href="/settings">Ustawienia konta</a></li>
            </ul>
        </nav>
    </span>
</template>

<script>
export default {
    name: 'admin-head',
    props: {
        'header':       Object,
        'userdata':     Object
    },
    data() {
        return {
            dateNow:    Date.today().toString('dd/MM/yyyy'),
            time:       null
        }
    },
    mounted() {
        this.startTime()
        console.log(this.$session.get('role'))

    },
    methods: {
        startTime() {
            let today   = new Date();
            let h       = today.getHours();
            let m       = today.getMinutes();
            let s       = today.getSeconds();
            m           = this.checkTime(m);
            s           = this.checkTime(s);
            this.time   = h + ":" + m + ":" + s;

            setTimeout(this.startTime, 1000);
        },
        checkTime(i) {
            i = (i < 10) ? "0" + i : i;
            return i;
        }
    }
}
</script>


<style scoped>

.admin-panel header {
    margin-left: auto;
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 270px);
}
.admin-panel header .logo {
    text-align: center;
    margin: 0 10rem;
}
.admin-panel header > * {
    margin: 0 2px;
}
.admin-panel header .title-box > * {
    text-align: center;
    margin-top: 12px;
}
.admin-panel header .title-box h1 {
    font-size: 1.55rem;
}
.admin-panel header .logout-box {
    flex-grow: 1;
    text-align: center;
    padding: 0 8px;
}
.logout-box > * {
    margin: 5px 0;
}
.logout-box .datetime {
    font-weight: normal !important;
}
.logout-box .user-box {
    font-size: 0.7rem !important;
}
.logout-box .user-box > * {
    white-space: nowrap;
}
/* NAV */
.admin-panel nav {
    background-color: var(--red);
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 888;
    font-size: 1.15rem;
    padding: 0px;
    width: calc(100% - 270px);
    margin: 0;
    margin-left: auto;
    display: flex;
    align-items: center;
}
.admin-panel nav .mobile-title {
    display: none;
    padding: 10px 8px;
    margin: 0;
}
.admin-panel nav ul {
    display: flex;
}
.admin-panel nav ul li {
    text-align: center;
    white-space: nowrap;
    padding: 15px 20px;
    margin: 0 15px;
    cursor: pointer;
    transition: .3s;
}
.admin-panel nav ul li a {
    color: var(--white);
}
/* END NAV */
 
</style>