<template>
        <component :data="this.data" :is="show"></component>
</template>

<script>
import Stations from './Dashboard/Stations.vue'
import Statistics from './Dashboard/Statistics.vue'
import Alarms from './Dashboard/Alarms.vue'
import Settings from './Dashboard/Settings.vue'

export default {
    name: 'dashboard-content',
    components: {
        Stations,
        Statistics,
        Alarms,
        Settings
    },
    props: {
        'toShow':   String,
        'data':     Object
    },
    data() {
        return {
            show:   '',
        }
    },
    mounted() {
        this.prepareComponent()
         console.log(this.$session.get('role'))
    },
    methods: {
        prepareComponent() {
            var components = this.$options.components;
            for (var key in components) {
                if (this.toShow == components[key].name || this.toShow.indexOf(components[key].name) > -1) {
                    this.show = key
                }
            }
        }
    }
}
</script>


<style>
section {
    text-align: center;
}

.admin-panel div.content {
    width: calc(100% - 270px);
    margin: 0;
    margin-left: auto;
}
.admin-panel .content {
    padding: 0;
}
/* CHECKBOXES */
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: -12px;
}
/* END CHECKBOXES */
/* DATA TABLES */
.data-list {
    display: table;
    margin: 0 auto;
    border: 1px solid var(--mainGrey);
}
.data-list > * {
    border-radius: 12px;
    margin: 3px;
    border: 1px solid var(--mainGrey);
    padding: 5px 12px;
    transition: .3s;
    max-width: 230px;
    flex-wrap: wrap;
}
.data-list .head {
    text-transform: uppercase;
    font-size: 1rem;
    background-color: var(--mainGrey);
    display: table-header-group;
    text-align: center;
}
.data-list .row {
    display: table-row;
}
.data-list .body {
    text-align: center;
    font-size: 0.8rem;
    display: table-row-group;
}
.data-list .body .row:nth-child(odd) {
    background-color: var(--bgH);
}
.data-list .cell {
    display: table-cell;
    padding: 6px 8px;
    position: relative;
    vertical-align: middle;
}
.data-list .cell .actions {
    display: flex;
    flex-wrap: nowrap;
}
.data-list .cell .actions i {
    transition: .3s;
    cursor: pointer;
    font-size: 16px;
    margin: 0 6px;
    position: relative;
}
.data-list .cell .actions i.edit {
    color: var(--green);
}
.data-list .cell .actions i.edit:hover::after {
    content: 'Edytuj';
}
.data-list .cell .actions i.edit::after {
    position: absolute;
    background-color: var(--mainGrey);
    display: block;
    top: -24px;
    z-index: 7777;
    left: -60px;
    font-family: var(--secondFont);
    color: var(--white);
    font-size: 12px;
    padding: 4px 8px;
    letter-spacing: .5px;
    border-radius: 8px 8px 0 8px;
    text-align: center;
    border: 2px solid var(--secondGrey);
}
.data-list .cell .actions i.delete {
    color: var(--red);
}
.data-list .cell .actions i.delete::after {
    position: absolute;
    background-color: var(--mainGrey);
    display: block;
    top: -26px;
    z-index: 7777;
    left: 16px;
    font-family: var(--secondFont);
    color: var(--white);
    font-size: 12px;
    padding: 4px 8px;
    letter-spacing: .5px;
    border-radius: 8px 8px 8px 0;
    text-align: center;
    border: 2px solid var(--secondGrey);
}
.data-list .cell .actions i.delete:hover::after {
    content: 'Usuń';
}

/* TABLE IN TABLE */
.data-list .cell .data-list .head {
    font-size: .8rem;
}
.data-list .cell .data-list .head .row {
    background-color: var(--mainGrey)
}
.data-list .cell .data-list .body .row {
    background-color: var(--bgH);
}
.data-list .cell .data-list .body .row:nth-child(odd) {
    background-color: var(--mainBg) !important;
}
.data-list .cell .onoffswitch {
    margin: 0 auto;
}
.data-list .cell .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: -14px;
}
.data-list .cell .onoffswitch-label {
    cursor: context-menu;
}
/* END TABLE IN TABLE */
/* END DATA TABLES */

/* FORMS */
section.wrapper form {
    margin: 1rem 0;
    width: 100%;
}
section.wrapper form div:not([class]) {
    display: flex;
    justify-content: space-between;
    width: 30rem;
    margin: 0 auto;
    padding: 4px 0;
    align-items: center;
}
section.wrapper form input.btn {
    display: flex;
    justify-content: center;
    margin: 12px auto;
}
section.wrapper form .dropdown-wrapper {
    border: 1px solid var(--secondGrey);
    padding: 1rem 0;
    max-width: 50%;
    margin: 1rem auto;
}
section.wrapper form .dropdown-wrapper p {
    font-family: var(--mainFont);
    font-size: 18px;
    padding: 0;
    margin: .55rem;
    text-align: center;
}
section.wrapper form .dropdown-wrapper i {
    color: var(--decor);
    cursor: pointer;
    margin: 0 6px;
}
/* END FORMS */
</style>