<template>
    <span>
        <header>
            <a class="logo" href="/">
                <img src="/media/company-logo.png" alt="smat">
            </a>
            <div class="title-box main-font">
                <h1>{{ header.mainHeader }}</h1>
                <h2 class="decor">
                    <span v-if="header.companyName != null">
                        {{ header.secondHeader }}
                        {{ header.companyName }}
                    </span>
                </h2>
                <div class="calibration">
                    <div class="smat-calibration-box" 
                        v-for="(station, index) in stations.smats" 
                        :key="++index"
                        v-show="station.config.calibration_date !== null"
                        :class="{ 'hidden' : (index > 1), 'visible' : (index == 1) }"
                        >
                        <p class="info">
                            <span class="serial-number">{{ station.config.serial_number }}</span>, lokalizacja: 
                            <span class="location decor" v-if="station.config.location !== undefined">{{ station.config.location }}</span>
                            <span class="location decor" v-else>-</span>
                        </p>
                        <p class="calibration">
                            Data wzorcowania: <span class="decor">{{ new Date.parse(station.config.calibration_date).toString('dd/MM/yyyy') }}</span>,
                            {{calibrationText}} {{ countDays(station.config) }}
                        </p>
                        <button @click="sendEmail(station.config.serial_number)" class="service-btn btn alert" 
                            v-if="parseInt(countDays(station.config, true)) <= 31 && station.config.calibration_info_sended === null">
                            ZGŁOŚ SERWIS
                        </button>
                        <button class="service-btn btn sended" disabled 
                            v-else-if="station.config.calibration_info_sended !== null">
                            ZGŁOSZONO
                        </button>
                    </div>
                </div>
            </div>
            <span class="logo">
                <img v-if="header.companyLogo !== null && header.companyLogo.length > 0" :src="'/media/'+header.companyLogo" alt="client-company">
            </span>
            <div class="logout-box">
                <div class="datetime main-font">
                    <div>{{ dateNow }}</div>
                    <div>{{ time }}</div>
                </div>
                <div class="user-box text-font">
                    <div>Osoba zalogowana:</div>
                    <div class="decor">{{ userdata.name }} {{ userdata.surname }}</div>
                </div>
                <a class="btn default-btn s-btn" href="/logout">Wyloguj</a>
            </div>
        </header>
        <nav class="text-font">
            <p class="mobile-title">
                MENU
                <i @click="changeMenu('show')" class="fas fa-chevron-down menu-down"></i>
                <i @click="changeMenu('hide')" class="fas fa-chevron-up menu-up d-none"></i>
            </p>
            <ul>
                <li :class="{ 'checked': path == 'stations' }"><a class="text-up" href="/stations">Stanowiska pomiarowe</a></li>
                <li :class="{ 'checked': path == 'alarms' }"><a class="text-up" href="/alarms">Progi alarmowe</a></li>
            </ul>
            <ul>
                <li :class="{ 'checked': path == 'settings' }"><a class="text-up" href="/settings">Ustawienia konta</a></li>
                <li v-show="this.$session.get('role') != 'user'" :class="{ 'checked': path.includes('/admin/') }"><a class="text-up" href="/admin/logs/desc/all">Panel administracyjny</a></li>
            </ul>
        </nav>   
    </span>
</template>

<script>
export default {
    name: 'dashboard-head',
    props: {
        'path':         String,
        'header':       Object,
        'stations':     Object,
        'userdata':     Object
    },
    data() {
        return {
            dateNow: Date.today().toString('dd/MM/yyyy'),
            calibrationText: 'ważność upłynie za:',
            time: null,
            bars: null,
            i: 0
        }
    },
    mounted() {
        this.startTime()
        this.bars = $(".smat-calibration-box");
        if (this.bars.length > 1) {
            this.barAnimation();
        }
    },
    methods: {
        startTime() {
            let today   = new Date();
            let h       = today.getHours();
            let m       = today.getMinutes();
            let s       = today.getSeconds();
            m           = this.checkTime(m);
            s           = this.checkTime(s);
            this.time   = h + ":" + m + ":" + s;

            setTimeout(this.startTime, 1000);
        },
        checkTime(i) {
            i = (i < 10) ? "0" + i : i;
            return i;
        },
        countDays(calibrationDate, flag = false) {
            let firstDate = new Date.today();
            let secondDate = new Date(calibrationDate.calibration_end_date);
            let divider = 24 * 60 * 60 * 1000; 
            let days = Math.round((secondDate - firstDate) / divider);
            if (days < 0) {
                this.calibrationText = 'ważność upłyneła:'
            }
            if (!flag) {
                return (days == 1) ? days + ' dzień' : days + ' dni';
            } else {
                return days;
            }
        },
        changeMenu(flag) {
            var downArrowIcon = $('i.menu-down');
            var upArrowIcon = $('i.menu-up');
            switch (flag) {
                case 'show': {
                    $(downArrowIcon).addClass('d-none');
                    $(upArrowIcon).removeClass('d-none');
                    $('nav ul li').css({
                        'height': 'unset',
                        'opacity': 'unset',
                        'visibility': 'unset',
                    })
                } break;
                 case 'hide': {
                    $(upArrowIcon).addClass('d-none');
                    $(downArrowIcon).removeClass('d-none');
                    $('nav ul li').css({
                        'visibility': 'hidden',
                        'opacity': 0,
                        'height': 0,
                    })
                } break;
            }
        },
        sendEmail(serial) {
            window.location.href = 'dashboard/calibrationAlert/'+serial;
        },
        barAnimation() {

            let infiniteTextScroll = (textBar) => {
                $(textBar).find('.serial-number').animate({ 
                    scrollLeft: $(textBar).find('.serial-number').width()
                }, 12500);
            }

            infiniteTextScroll(this.bars[0]); 
            setInterval( () => {
                setTimeout( () => {
                    if (this.bars[this.i+1] == undefined) {
                        $(this.bars[this.i]).removeClass('visible').addClass('hidden').delay(10000);
                        $(this.bars[0]).removeClass('hidden').addClass('visible');
                        infiniteTextScroll(this.bars[0]); 

                        this.i = 0;
                    } else {
                        $(this.bars[this.i]).removeClass('visible').addClass('hidden').delay(10000)
                        $(this.bars[this.i+1]).removeClass('hidden').addClass('visible')
                        infiniteTextScroll(this.bars[this.i+1]); 

                        this.i += 1;
                    }
                }, 2500)
            }, 10000)
        }
    }
}
</script>

<style scoped>
header {
    padding: 8px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header > * {
    margin: 0 2px;
}
.title-box {
    flex-grow: 6;
}
.title-box > * {
    text-align: center;
    margin-top: 12px;
}
.title-box h1 {
    font-size: 1.55rem;
}
.title-box h2 {
    font-size: 1.25rem;
}
.logo {
    flex-grow: 3;
    text-align: center;
    padding: 8px 0 0 0;
    height: 116px;
}
.logo img {
    max-width: 100%;
    max-height:100%;
}
/* END */
/* LOGOUT BOX */
.datetime {
    font-weight: normal !important;
}
.logout-box {
    flex-grow: 1;
    text-align: center;
    padding: 0 8px;
}
.logout-box > * {
    margin: 5px 0;
}
.user-box {
    font-size: 0.7rem !important;
}
.user-box > * {
    white-space: nowrap;
}
/* END */
/* NAV */
nav {
    background-color: var(--red);
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 888;
    font-size: 1.15rem;
}
nav .mobile-title {
    display: none;
    padding: 10px 8px;
    margin: 0;
}
nav .mobile-title i {
    line-height: 1px;
}
.checked {
    background-color: var(--redH);
}
nav ul {
    display: flex;
}
nav ul li a {
    color: var(--white);
    padding: 15px 20px;
    display: block;
}
nav ul li {
    text-align: center;
    white-space: nowrap;
    margin: 0 15px;
    cursor: pointer;
    transition: .3s;
}
nav ul li:hover {
    background-color: var(--redH);
}
header div.calibration {
    position: relative;
    margin-bottom: 3rem;
}
.smat-calibration-box {
    display: flex;
    justify-content: center;
    gap: 21px;
    font-size: 14px;
    border-radius: 21px;
    background-color: var(--secondGrey);
    width: 82%;
    margin: 0 auto;
    position: absolute;
    right: 0;
    left: 0;
}
span.serial-number {
    display: inline-flex;
    overflow: auto;
    width: 128px;
    white-space: nowrap;
    margin-right: 3px;
}
.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}
.smat-calibration-box p {
    margin: 6px;
    color: var(--mainBg);
}
button.service-btn {
    border: none;
    margin: 3px 0;
}
button.service-btn.btn.alert {
    background-color: var(--red);
    transition: .3s;
}
button.service-btn.btn.sended {
    background-color: var(--green);
    cursor: no-drop;
}
/* END */

/* RWD */
@media (max-width: 1320px) {
    nav {
        flex-wrap: wrap;
    }
    nav ul {
        width: 100%;
        justify-content: center;
    }
    nav ul:last-of-type {
        border-top: 1px solid var(--mainBg);
    }
}
@media (max-width: 1125px) {
    header {
        flex-wrap: wrap;
        padding: 0;
    }
    header > * {
        margin: 0;
    }
    .logo {
        order: 0;
    }
    .logo img {
        max-height: 5.5rem;
    }
    .title-box {
        order: 1;
        padding: 5px 0;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .title-box h1 {
        width: 90%;
        margin: 5px auto;
        margin-bottom: 6px;
    }
    .title-box h2 {
        margin: 0;
    }
    .logout-box {
        order: 2;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .logout-box .datetime {
        order: 1;
    }
    .logout-box .default-btn {
        order: 3;
    }
}
@media (max-width: 650px) {
    nav ul li {
        margin: 0 6px;
    }
    .logo {
        height: unset;
    }
    .logo img {
        max-height: 4.5rem;
    }
    .logout-box .datetime {
        font-size: 0.85rem;
    }
}
@media (max-width: 600px) {
    .logout-box .datetime {
        display: none;
    }
}
@media (max-width: 520px) {
    .title-box h1 {
        font-size: 1.25rem;
    }
    .title-box h2 {
        font-size: 0.95rem;

    }
    nav .mobile-title {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 4.5rem;
        margin: unset;
        height: unset;
        opacity: 1;
        visibility: unset;
    }
    nav .mobile-title i {
        position: relative;
        margin-left: 18px;
        top: -2px;
    }
    nav .mobile-title i[class*="-down"] {
        animation: nav-arrow-down .6s infinite alternate;
    }
    nav .mobile-title i[class*="-up"] {
        animation: nav-arrow-up .6s infinite alternate;
    }
    nav ul {
        display: block;
    }
    nav ul:last-of-type {
        border-top: unset;
    }
    nav ul li {
        margin: unset;
        height: 0;
        opacity: 0;
        visibility: hidden;
        padding: 0;
    }
    .logo img {
        max-height: 4rem;
    }
}
/* END */


</style>