<template>
    <footer class="text-font">
        <div class="footer-box">
            <p>Copyright © {{ new Date().getFullYear() }} 
                <a href="https://felixcom.net" target="_blank"><span>Felix<span>Com</span></span></a> | Wszelkie prawa zastrzeżone.
            </p>
            <p>Pomoc techniczna: 
                <a class="decor" href="mailto:justyna@felixcom">biuro@felixcom.pl</a>
                lub zadzwoń: 
                <a class="decor" href="tel:+48609960760">609 960 760</a>
            </p>
        </div>
    </footer>
</template>

<script>
export default {
    name: 'dashboard-footer',
}
</script>

<style scoped>
footer {
    font-size: 0.7rem !important;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(var(--mainBg),#141414);
    min-height: 3rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    letter-spacing: 0.65px;
    align-items: center;
}
footer p span:first-of-type {
    color: var(--blue);
}
footer p span:first-of-type span {
    color: var(--red);
}
footer a {
    text-decoration: none;
}
footer a.decor {
    text-decoration: underline !important;
}
footer .footer-box {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
}
footer .footer-box > * {
    margin: 0 8px;
}
@media all and (max-width: 1130px) {
    footer .footer-box {
        width: 100%;
    }
}
@media all and (max-width: 755px) {
    footer {
        align-items: center;
    }
    footer p {
        margin: 2px;
    }
    footer .footer-box {
        display: inline-block;
        text-align: center;
        font-size: 0.65rem;
    } 
}
</style>