<template>
    <span>
        <!-- HEADER -->
        <header class="login-header">
            <img src="/media/company-logo.png" alt="smat">
            <h1 class="main-font">SYSTEM POMIARU PARAMETRÓW ŚRODOWISKOWYCH</h1>
        </header>
        <!-- END HEADER -->
        <!-- LOGIN FORM -->
        <div class="login-wrapper">
            <h2 class="decor-line main-font">Panel logowania</h2>
            <form class="login-form text-font" method="POST" @submit.prevent="sendForm">
                <input type="hidden" name="_token" v-model="$root.$options.config.token">
                <label for="object">Kod obiektu:</label>
                <span>
                    <i class="fas fa-key"></i>
                    <input type="text" id="object" v-model="object" name="objNum" placeholder="wpisz numer obiektu">
                </span>
                <label for="email">E-mail:</label>
                <span :class="{ 'fail' : failed }">
                    <i class="fas fa-user" :class="{ 'error' : failed }"></i>
                    <input :class="{ 'warning-border' : failed }" type="text" id="email" v-model="email" name="email" placeholder="wpisz swój e-mail">
                </span>
                <label for="password">Hasło:</label>
                <span :class="{ 'fail' : failed }">
                    <i class="fas fa-lock" :class="{ 'error' : failed }"></i>
                    <input :class="{ 'warning-border' : failed }" type="password" id="password" v-model="pass" name="pass" placeholder="podaj hasło">
                </span>
                <input v-show="!isClicked" type="submit" class="btn s-btn default-btn" value="Zaloguj">
                <i v-show="isClicked" class="fas fa-spin fa-spinner"></i>
            </form> 
            <p class="text-font login-status error warning">
                {{ this.error }}
            </p>
        </div>
        <!-- END LOGIN FORM -->
    </span>
</template>

<script>

    export default {
        name: 'loginform',
        props: {
            'info': String
        },
        data() {
            return {
<<<<<<< HEAD
                object:     '900',
                email:      'justyna@felixcom.pl',
                pass:       'testowe20',
=======
                object:     '100',
                email:      'justyna@felixcom.pl',
                pass:       'smatlora2022!',
>>>>>>> b52119a3... fixed css
                error:      this.info,
                failed:     false,
                isClicked:  false
            }
        },
        methods: {
            sendForm() {
                let self = this;
                self.isClicked = true
                axios.post('/login', {
                    object:     this.object,
                    email:      this.email,
                    password:   this.pass
                },
                { 
                    headers: {
                        'content-type': 'application/json',
                        'Authorization': 'Bearer ' + self.csrf
                    }
                }).then(response => {
                    if (response.data.error != undefined) {
                        self.error      = response.data.error
                        self.failed     = true
                        self.isClicked  = false
                    } else {
                        // set session
                        self.$session.start();
                        self.$session.set("role", response.data.user);

                        location.replace(response.data.path)
                    }
                })
                .catch(error => {
                    self.error      = 'Brak połączenia z bazą danych. Spróbuj ponownie, później.'
                    self.isClicked  = false
                });
            }
        }
    }
</script>
<style scoped>
/* LOGIN HEADER */
header.login-header {
    position: absolute;
    top: 4rem;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline-block;
    text-align: center;
    padding: 0;
}
header.login-header > * {
    margin: 0;
}
/* END LOGIN HEADER */
/* LOGIN FORM */
.login-wrapper > * {
    margin-top: auto;
}
.login-wrapper {
    position: absolute;
    top: 18rem;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--mainGrey);
    height: 21rem;
    min-width: 18rem;
    max-width: 21rem;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
}
.login-wrapper h2 {
    text-transform: uppercase;
}
.login-wrapper p {
    width: 100%;
    text-align: center;
}
.login-wrapper .login-status {
    margin: 6px 0;
    font-size: 0.7rem;
    min-height: 15px;
    text-shadow: 0 0 var(--mainBg);
}
.login-form {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 0;
    justify-content: center;
}
.login-form span {
    position: relative;
    transform: translate3d(0, 0, 0);
}
.login-form span i {
    color: var(--mainGrey);
    background-color: var(--white);
    position: absolute;
    z-index: 777;
    top: 6.5px;
    left: 10px;
    font-size: 16px;
}
.login-form .fa-spinner {
    margin-top: 0.65rem;
    font-size: 18px;
    color: var(--white);
    padding: 4px;
}
.login-form label {
    padding-bottom: 3px;
    padding-top: 8px;
    font-size: 1rem;
}
.login-form input {
    width: 16rem;
    padding: 4px 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
.login-form input[type="submit"] {
    margin-top: 0.65rem;
}
.login-form a {
    margin-top: 12px;
}
/* END LOGIN FORM */

/* RWD */
@media all and (max-width: 530px) {
    header.login-header .main-font {
        font-size: 1.55rem;
    }
    header.login-header img {
        height: 6rem;
    }
    .login-wrapper h2 {
        font-size: 1.25rem;
    }
    .login-wrapper {
        max-width: 16rem;
    }
}
@media all and (max-width: 429px) {
    header.login-header .main-font {
        font-size: 1.25rem;
    }
    .login-wrapper {
        top: 16rem;
    }
}
</style>

                