<template>
    <nav class="text-font" ref="menu">
        <p class="mobile-title">MENU
            <i class="fas fa-chevron-down" :class="{ 'd-none' : isClicked}" v-on:click="showMenu($event.target)"></i>
            <i class="fas fa-chevron-up" :class="{ 'd-none' : !isClicked}" v-on:click="hideMenu($event.target)"></i>
        </p>
        <ul>
            <li :class="{ 'checked' : page == '/'}"><a class="text-up" href="/">Stanowiska pomiarowe</a></li>
            <li :class="{ 'checked' : page == '/statistics'}"><a class="text-up" href="#">Statystyki pomiarowe</a></li>
            <li :class="{ 'checked' : page == '/alarms'}"><a class="text-up" href="/alarms">Progi alarmowe</a></li>
        </ul>
        <ul>
            <li :class="{ 'checked' : page == '/settings'}"><a class="text-up" href="/settings">Ustawienia konta</a></li>
            <li :class="{ 'checked' : page == '/admin'}" v-if="this.userType != 'user'"><a class="text-up" href="/admin">Panel administracyjny</a></li>
        </ul>
    </nav>      
</template>

<script>

export default ({
    props: ['userType'],
    data() {
        return {
            page: window.location.pathname,
            isClicked: false
        }
    },
    methods: {
        setStyle(el, flag) {
            if (flag == 'show') {
                $(el).css({
                    'opacity'       : 'unset',
                    'height'        : 'unset',
                    'visibility'    : 'unset',
                    'padding'       : '10px 8px'
                });
            } else if (flag == 'hide') {
                $(el).css({
                    'opacity'       : '0',
                    'height'        : '0',
                    'visibility'    : 'hidden',
                    'padding'       : '0'
                });
            }
        },
        showMenu(el) {
            var ref = this;
            this.isClicked = true;
            $.each(this.$refs.menu.children, function(key, child) {                
                if ($(child)[0].nodeName == 'UL') {
                    $.each($(child)[0].children, function(key, li) {  
                        ref.setStyle(li, 'show');
                    });
                }
            });
        },
        hideMenu(el) {
            var ref = this;
            this.isClicked = false;
            $.each(this.$refs.menu.children, function(key, child) {                
                if ($(child)[0].nodeName == 'UL') {
                    $.each($(child)[0].children, function(key, li) {  
                        ref.setStyle(li, 'hide');
                    });
                }
            });
        }
    }
})
</script>
