/* MAIN */
/* .timebox-info.error-text-alert {
    animation: error-text-alert .6s infinite alternate;
}
.value.min-alert {
    animation: min-alert .6s infinite alternate;
}
.value.max-alert {
    animation: max-alert .6s infinite alternate;
}
.value.sensor-error {
    animation: sensor-error .6s infinite alternate;
}
.station-status,
.sensor-status {
    text-transform: uppercase;
    font-size: 0.65rem;
    margin: 3px 0;
    width: 100%;
    text-align: center;
}
.station-box h2, 
.sensor-box h4 {
    text-transform: uppercase;
    font-family: var(--mainFont) !important;
    margin: 0 auto;
    letter-spacing: 0.25px;
}
.station-box > *, 
.sensor-box > * {
    font-family: var(--secondFont) !important;
}
.station-box .location-box, .sensor-box .location {
    font-size: 0.65rem;
    margin: 0;
    text-align: center;
    width: 100%;
} */
/* END MAIN */

/* STATIONS */
/* .stations-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.station-box {
    background-color: var(--mainGrey);
    min-width: 21rem;
    padding: 0.65rem;
    margin: 6px;
    border-radius: 12px;
    max-width: 24rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.station-box h2 {
    display: flex;
    justify-content: center;
}
.station-box h2 i {
    display: none;
}
.station-box .location-box {
    margin-top: 2px;
}
.station-box .timebox-title {
    text-align: center;
    font-size: 0.7rem;
    width: 100%;
    margin: 8px 0 3px 0;
}
.station-box a {
    margin-top: 10px;
    font-size: 0.65rem;
}
/* END STATIONS */

/* SENSORS */
/* .sensors-row {
    display: flex;
    flex: 33%;
    flex-wrap: nowrap;
    margin: 0 auto;
    width: 98%;
    /* margin-top: auto; */
}
.sensor-wrapper {
    margin: 3px;
    text-align: center;
    /* display: flex; */
    flex-wrap: wrap;
    width: 32%;
    /* margin-top: auto; */
    justify-content: center;
    align-items: center;
}
.sensor-wrapper .timebox-info {
    font-size: 0.7rem;
    margin: 3px auto;
    width: 100%;
}
.sensor-box > * {
    margin-top: auto;
}
.sensor-box {
    border-radius: 5px;
    background-color: var(--secondGrey);
    padding: 3px;
    display: flex;
    flex-wrap: wrap;
    min-width: 6rem;
}
.values {
    font-size: 0.75rem !important;
    width: 80%;
    margin: 0 auto;
}
.value {
    text-transform: uppercase;
    background-color: var(--mainGrey);
    border-radius: 12px;
    width: 90%;
    margin: 3px auto;
    padding: 3px;
    text-align: center;
    cursor: inherit;
}
.value i {
    margin-left: 4px;
} */ */
/* END SENSORS */

/* RWD */
/* @media (max-width: 1125px) {
    .station-box {
        max-width: 21rem;
    }
    .station-box h2.name {
        font-size: 1.25rem;
    }
    .sensor-box {
        min-width: unset;
    }
    .sensor-box h4.name {
        font-size: 0.85rem;
    }
    .sensor-box .values {
        font-size: 0.7rem !important;
    }
}
@media (max-width: 600px) {
    .station-box .timebox-title,
    .station-box a,
    .sensors-row {
        display: none;
    }
    .station-box h2 i {
        display: block;
        font-size: 15px;
        position: relative;
        animation: section-arrow .6s infinite alternate;
        top: 0;
        bottom: 0;
        left: 1rem;
        padding: 0 8px;
        right: 0;
    }
}
@media (max-width: 420px) {
    .station-box {
        max-width: unset;
        min-width: 100%;
    }
    .station-box h2.name {
        font-size: 1.15rem;
    }
    .sensor-box h4.name {
        font-size: 0.8rem;
    }
} */