.station-alarm-status {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.station-alarm-status p {
    padding-right: 1rem;
}
.station-alarm-status .onoffswitch-inner:after {
    content: "NIE";
}
.station-alarm-status .onoffswitch-inner:before {
    content: "TAK";
}
.wrapper p {
    text-align: center;
}
/* GLOBAL ALARMS SECTION */
.alarms {
    display: flex;
    flex: 33%;
    justify-content: space-evenly;
    margin: 0 auto;
    align-items: center;
    flex-wrap: wrap;
}
.alarms .val-box {
    width: 32%;
    border: 1px solid var(--mainGrey);
    padding: 12px 0;
    border-radius: 5px;
    max-width: 18rem;
    margin: 5px;
}
.alarms .val-box h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    border-bottom: 1px solid var(--decor);
    padding: 3px 0;
}
.alarms .val-box h3 i[class*="-chevron-"] {
    display: none;
}
.alarms .val-box h3 i:not([class*="-chevron-"]) {
    margin-right: 0.5rem;
}
.thresholds-box {
    font-size: 0.85rem;
}
.thresholds-box div:not([class]) {
    display: flex;
    margin: 8px auto;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    white-space: nowrap;
}
.thresholds-box div p {
    margin: 0;
}
.thresholds-box span.row i {
    padding: 0 3px;
}
.thresholds-box span.row i[class*="-up"] {
    color: var(--red);
}
.thresholds-box span.row i[class*="-down"] {
    color: var(--blue);
}
/* END GLOBAL ALARMS SECTION */
/* STATIONS ALARMS SECTION */
.alarms .wrapper h4 {
    width: 100%;
    margin: 2rem auto 1rem auto;
    text-align: center;
}
/* END STATIONS ALARMS SECTION */

/* RWD */
@media (max-width: 1167px) {
    .alarms .val-box {
    width: 90%;
    }
}
@media (max-width: 800px) {
    .station-alarm-status {
        display: block;
    }
    .station-alarm-status p {
        padding: 0;
    }
    .station-alarm-status .onoffswitch {
        margin: 0 auto;
    }
}
@media (max-width: 420px) {
    .thresholds-box {
        display: none;
        font-size: calc(0.75rem + 0.2vw);
    }
    .alarms .val-box h3{
        font-size: 1rem;
        padding: 0;
        border: none;
    }
    .alarms .val-box h3 i[class*="-chevron-"] {
        display: block;
        margin-left: 8px;
        position: relative;
        color: var(--decor);
        top: 0;
        animation: section-arrow .6s infinite alternate;
    }
    .alarms .station h3 {
        font-size: 0.85rem;
    }
}