/* SETTINGS */
form.settings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 35%;
    margin: 2rem auto;
    min-width: 400px;
}
form.settings div {
    width: 100%;
    margin: 3px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
form.settings span i {
    color: var(--decor);
    padding-right: 6px;
}
form.settings input[type="submit"] {
    margin: 2rem auto 0 auto;
}
/* END SETTINGS */
/* LIST OF ADMINS */
.list {
    margin: 2rem auto;
}
.list .cell {
    white-space: nowrap;
}
.list .body .row:nth-child(odd) .cell {
    border-left: 1px solid var(--bgH);
    border-right: 1px solid var(--bgH);
}
.list .body .row:nth-child(even) .cell {
    border-left: 1px solid var(--mainBg);
    border-right: 1px solid var(--maiBg);
}
.list .body .row:nth-child(even) {
    background-color: var(--bgH);
}
.list .actions i {
    user-select: none;
    padding: 0 6px;
    text-decoration: none;
    color: var(--secondGrey);
    transition: .3s;
}
.list .actions a:hover > i {
    color: var(--decor);
    transform: scale(1.1);
}
/* END LIST OF ADMINS */

/* RWD */
@media (max-width: 1120px) {
    .settings .main-font,
    .list .main-font {
        font-size: calc(0.75rem + 0.25vw) !important;
    }
    .list .text-font {
        font-size: calc(0.45rem + 0.5vw) !important;
    }
}
@media (max-width: 790px) {
    .settings .main-font,
    .list .main-font {
        font-size: calc(0.85rem + 0.25vw) !important;
    }
    .list .text-font {
        font-size: calc(0.65rem + 0.25vw) !important;
    }
}
@media (max-width: 600px) {
    form.settings input[type="text"], form.settings select {
        padding: 3px 0;
        min-width: 7rem;
    }
}
@media (max-width: 500px) {
    form.settings {
        width: 100%;
        margin: 1rem auto;
        min-width: unset;
        display: block;
    }
    form.settings div {
        /* margin: 6px auto; */
        width: 100%;
        display: block;
    }
    form.settings div > * {
        display: block;
        text-align: center;
    }
    form.settings div label {
        margin: 3px auto;
        text-align: center;
        text-indent: 22px;
    }
    form.settings input[type="submit"] {
        display: block;
    }
}