/* MAIN */
p {
    margin: 0;
}
img {
    max-width: 92%;
}
.header h4 {
    font-family: 'Open Sans';
    font-weight: 200 !important; 
    font-size: 8px !important;
}
/* HEADER */
.header {
    width: 100%;
}