body, html {
    padding: 0;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}
main {
    margin: 12px;
}
h1 {
    font-size: 34px;
    color: var(--mainBg);
}
hr {
    border-top: 1.5px solid red;
}
img {
    max-width: 100%;
}
p {
    width: 90%;
}
p span {
    font-weight: 600;
}
p:not([class]) {
    font-size: 16px;
}
p.base-info {
    font-size: 12px;
}

/* TABLE */
table.darkTable {
  font-family: Verdana, Geneva, sans-serif;
  border: 2px solid #303030;
  background-color: #414141;
  text-align: center;
  border-collapse: collapse;
}
table.darkTable td, table.darkTable th {
  border: 1px solid #414141;
  padding: 2px 8px;
}
table.darkTable tbody td {
  font-size: 12px;
  color: #E6E6E6;
}
table.darkTable tr:nth-child(even) {
  background: #303030;
}
table.darkTable thead {
  background: #303030;
  color:red;
}
table.darkTable thead th {
  font-size: 16px;
  font-weight: bold;
  color: #E6E6E6;
  text-align: center;
  border-left: 2px solid #4A4A4A;
}
table.darkTable thead th:first-child {
  border-left: none;
}

table.darkTable tfoot td {
  font-size: 12px;
}