

/* ADMIN HEADER 
.admin-panel header,
.admin-panel nav.text-font,
.admin-panel div.content {
    width: calc(100% - 270px);
    margin: 0;
    margin-left: auto;
}
/* END ADMIN HEADER 
/* ADMIN NAV 
.admin-panel nav:not([class]) {
    position: fixed;
    height: 100vh;
    top: 0;
    align-items: center;
    background-color: var(--mainGrey);
    display: flex;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
    width: 270px;
}
.admin-panel nav:not([class]) ul li:hover {
    background-color: unset;
}
.admin-panel ul.menu {
    display: block;
    width: 100%;
}
.admin-panel ul.menu li {
    margin: 0;
    padding: 0;
}
.admin-panel li.hover:hover a {
    background-color: var(--secondGrey) !important;
}
.admin-panel ul.menu ul.dropdown {
    display: block;
    font-size: 0.85rem;
}
.admin-panel ul.menu ul.dropdown li {
    border: none;
    text-align: left;
    background-color: var(--mainGreyH) !important;
    padding-left: 20px;
}
.admin-panel ul.menu ul.dropdown li.checked a {
    color: var(--decor);
}
.admin-panel ul.dropdown li a {
    display: list-item !important;
    list-style-type: square;
    list-style-position: inside;
    background-color: unset !important;
}
.admin-panel ul.menu ul.dropdown li:hover a {
    color: var(--decor) !important;
}
.admin-panel ul.menu li a {
    width: 100%;
    display: block;
    padding: 6px 0;
    white-space: initial;
}
.admin-panel ul.menu li a i {
    padding-left: 5px;
}
.admin-panel ul.menu a.wrapper {
    display: flex !important;
    justify-content: space-around;
    align-items: center;
}
.admin-panel ul.menu a.wrapper span {
    white-space: break-spaces;
    width: 60%;
}
.admin-panel ul.menu li.menu-title a.decor:first-of-type {
    background-color: var(--secondGrey);
}
/* END ADMIN NAV 
/* ADMIN CONTENT 
.admin-panel .content {
    padding: 0;
}
/* END ADMIN CONTENT */


/* RWD 
@media (max-width: 1320px) {
    .admin-panel nav:not([class]) ul:last-of-type {
        border-top: unset;
    }
}
@media (max-width: 883px) {
    .admin-panel header,
    .admin-panel nav.text-font,
    .admin-panel div.content {
        width: calc(100% - 130px) !important;
    }
    .admin-panel nav:not([class]) {
        min-width: 130px;
    }
    .admin-panel ul.menu li a > *:not(:nth-child(1)) {
        display: none;
    }
    .admin-panel ul.menu ul.dropdown li {
        font-size: 0.65rem;
        padding-left: 8px;
    }
}
@media (max-width: 700px) {
    .admin-panel nav:not([class]) {
        display: none !important;
    }
    i.burger-btn {
        display: block !important;
        padding: 10px;
        font-size: 24px;
        color:  var(--mainGrey);
        cursor: pointer;
        position: absolute;
    }
    nav i.close-icon {
        position: absolute;
        top: 8px;
        right: 8px;
        cursor: pointer;
        color: var(--bgH);
        font-size: 24px;
    }
    .admin-panel header,
    .admin-panel nav.text-font {
        width: 100% !important;
    }
    .admin-panel div.content {
        width: 98% !important;
        margin: 0 auto;
    }
}