/* PAGINATION */
/* .pag-sec {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    user-select: none;
    align-items: center;
}
.pag-sec i {
    margin: 4px 12px;
    cursor: pointer;
    transition: .3sec;
}
.pag-sec i:hover {
    color: var(--blue);
}
.pag-sec .pagination div {
    border-radius: 3px;
    color: var(--white);
    padding: 3px 8px;
    background-color: var(--mainGrey);
    margin: 0 3px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
}
.pag-sec .pagination div.checked {
    background-color: var(--blue);
}
.pag-sec .pagination div:not([class]):hover {
    background-color: var(--blue);
} */