/*
.logs-settings {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.logs-settings h4 {
    width: 20%;
    text-transform: uppercase;
}
.logs-settings div.type {
    display: flex;
    align-items: center;
    margin: 0 8px;
    font-size: 0.85rem;
    min-width: 0;
}
.logs-settings div.type p {
    padding-right: 5px;
}
.logs-list .body .row:nth-child(even) {
    background-color: var(--bgH);
}
.logs-list .head i.sort-up {
    color: var(--green);
}
.logs-list .head i.sort-down {
    color: var(--blue);
}

/* RWD */
/*
@media (max-width: 1230px) {
    .logs-settings h4 {
        width: 100%;
        text-align: center;
        margin: 0;
    }
}
@media (max-width: 883px) {
    .logs-list .head .cell {
        font-size: 0.95rem !important;
    }
    .logs-list .body .cell {
        font-size: 0.75rem !important;
    }
}
