<template>
    <span>
        <div class="bodyHover"></div>
        <div class="modal-box">
            <p class="main-font" v-html="text"></p>
            <i v-show="showButtons == ''" class="loading fas fa-spinner fa-spin"></i>
            <div class="close btn default-btn s-btn" @click="sendResponse('close')" :class="{'d-none': !showButtons.includes('close')}">Zamknij</div>
            <div class="accept btn default-btn s-btn" @click="sendResponse('accept')" :class="{'d-none': !showButtons.includes('accept')}">Tak</div>
            <div class="decline btn default-btn s-btn" @click="sendResponse('decline')" :class="{'d-none': !showButtons.includes('decline')}">Nie</div>
        </div>
    </span>
</template>
<script>

export default {
    name: 'modal',
    props: ['buttons', 'content'],
    data() {
        return {
            text: this.content,
            showButtons: this.buttons
        }
    },
    mounted() {
        $("body").css({
            overflow: 'hidden'
        });
    },
    methods: {
        sendResponse(val) {
            this.$emit('detectReponse', val)
            $("body").css({
                overflow: 'unset'
            });
        }
    }
}
</script>

<style scoped>
.bodyHover {
    width: 100%;
    height: 9999vh;
    position: absolute;
    background: var(--mainBg);
    left: 0;
    top: 0;
    z-index: 888;
    opacity: 0.85;
}
.modal-box {
    position: fixed;
    background-color: var(--mainGrey);
    max-width: 20rem;
    max-height: 8rem;
    top: 25%;
    right: 0;
    border-radius: 5px;
    margin: 0 auto;
    left: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 100%;
    padding: 2rem;
}
.modal-box > * {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}
.modal-box div.accept {
    background-color: var(--green) !important;
}
.modal-box div.accept:hover {
    background: linear-gradient(var(--green), var(--greenH)) !important;
}
.modal-box div.decline {
    background: var(--red) !important;
}
.modal-box div.decline:hover {
        background: linear-gradient(var(--red), var(--redH)) !important;
}
.modal-box i.loading {
    display: block;
    font-size: 26px;
}
.modal-box p.main-font {
    margin-bottom: 12px;
}
</style>