<template>
    <ul class="pagination">
        <li class="page-item" v-for="(link, index) in links" :key="++index" >
            <span v-if="index != 1 && index != links.length">
                <a :href="link.url" class="page-link" :class="{'active': currentPage == link.label}">{{ link.label }}</a>
            </span>
            <span v-else-if="index == 1">
                <a :href="link.url" class="page-link" >
                    <i class="fas fa-chevron-left"></i>
                </a>
            </span>
            <span v-else-if="index == links.length">
                <a :href="link.url" class="page-link">
                    <i class="fas fa-chevron-right"></i>
                </a>
            </span>
        </li>
    </ul>
</template>
<script>

export default {
    name: 'pagination',
    props: {
        'data': Object
    },
    data() {
        return {
            'links':            this.data.links,
            'currentPage':      this.data.current_page,
            'prev':             this.data.prev_page_url,
            'next':             this.data.next_page_url,

        }
    },
    created() {
        console.log(this.data)
    }
}
</script>


<style scoped>
.pagination {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    user-select: none;
    align-items: center;
}
.pagination li a {
    border-radius: 3px;
    color: var(--white);
    padding: 3px 8px;
    background-color: var(--mainGrey);
    margin: 0 3px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
}
.pagination li a:hover {
    background-color: var(--blue);
}
.pagination li a.active {
    background-color: var(--blue);
}
.pagination li a i {
    margin: 4px;
    cursor: pointer;
    transition: .3sec;
}
</style>
